/*

Name: Base16 Duotone-DarkForest
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-forest-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #2a2d2a;
$base01 = #3f4a3f;
$base02 = #556855;
$base03 = #698669;
$base04 = #80a380;
$base05 = #97bf97;
$base06 = #b3d6b3;
$base07 = #f0fff0;
$base08 = #687d68;
$base09 = #a1b34d;
$base0a = #afc059;
$base0b = #919966;
$base0c = #e5fb79;
$base0d = #bed161;
$base0e = #7d9b7d;
$base0f = #718e71;
