/*

Name: Base16 Duotone-Dark
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #2a2734;
$base01 = #363442;
$base02 = #5a566c;
$base03 = #726e87;
$base04 = #837bad;
$base05 = #9b87fd;
$base06 = #b3a5fe;
$base07 = #eeebff;
$base08 = #6a51e6;
$base09 = #dc9147;
$base0a = #e59e57;
$base0b = #7c756e;
$base0c = #fec286;
$base0d = #ecab69;
$base0e = #8b76f4;
$base0f = #7a63ee;
