/*

Name: Base16 Duotone-DarkPark
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #242927;
$base01 = #2f3735;
$base02 = #3b4542;
$base03 = #465350;
$base04 = #4f645f;
$base05 = #62847b;
$base06 = #65e7c6;
$base07 = #e0fff7;
$base08 = #008060;
$base09 = #0da5a5;
$base0A = #0bdada;
$base0B = #569f9f;
$base0C = #4dffff;
$base0D = #1ff9f9;
$base0E = #3a8874;
$base0F = #18866b;
