/*

Name: Base16 Duotone-DarkEarth
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-earth-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #322d29;
$base01 = #4c4642;
$base02 = #695f59;
$base03 = #85786f;
$base04 = #ac9b91;
$base05 = #fcb07d;
$base06 = #fed4b8;
$base07 = #fff3eb;
$base08 = #c08e6d;
$base09 = #bfa05a;
$base0a = #ccad66;
$base0b = #a89771;
$base0c = #fcc440;
$base0d = #d7b975;
$base0e = #c8ab98;
$base0f = #c39d83;
