/*

Name: Base16 Duotone-DarkDesert
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #292824;
$base01 = #37352f;
$base02 = #45433a;
$base03 = #545145;
$base04 = #67604c;
$base05 = #cbae4d;
$base06 = #e6d499;
$base07 = #faf5e5;
$base08 = #8f7c3d;
$base09 = #d18e61;
$base0A = #e0a985;
$base0B = #c49a7e;
$base0C = #f0c5a8;
$base0D = #e9b796;
$base0E = #bfa240;
$base0F = #a68e3f;
