/*

Name: Base16 Duotone-DarkLake
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #182234;
$base01 = #222d44;
$base02 = #2c3954;
$base03 = #374562;
$base04 = #435270;
$base05 = #4e72bc;
$base06 = #a5c2fe;
$base07 = #e1ebff;
$base08 = #295cc2;
$base09 = #ed5eb4;
$base0A = #f476c2;
$base0B = #ad859d;
$base0C = #ffa8dc;
$base0D = #f990cf;
$base0E = #406abf;
$base0F = #3264c8;
