/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #202746;
$base01 = #283157;
$base02 = #3e4b84;
$base03 = #5262ad;
$base04 = #6473b4;
$base05 = #6c81e0;
$base06 = #a5b5fe;
$base07 = #e1e6ff;
$base08 = #1a3fe6;
$base09 = #db7070;
$base0A = #ea8080;
$base0B = #bf8888;
$base0C = #ffb3b3;
$base0D = #f69898;
$base0E = #526ce0;
$base0F = #3656e2;
