$base00: #1b1918;
$base01: #2c2421;
$base02: #68615e;
$base03: #766e6b;
$base04: #9c9491;
$base05: #a8a19f;
$base06: #e6e2e0;
$base07: #f1efee;
$base08: #f22c40;
$base09: #df5320;
$base0a: #c38418;
$base0b: #7b9726;
$base0c: #3d97b8;
$base0d: #407ee7;
$base0e: #6666ea;
$base0f: #c33ff3;

$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$cyan:    $base0c;
$blue:    $base0d;
$violet:  $base0e;
$magenta: $base0f;

@import "partials/atelier-schemes";

