/* Base16 Duotone-DarkEarth
Scheme: adapted from: Simurai (https://github.com/simurai/duotone-dark-earth-syntax/) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #322d29; color: #fcb07d }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #4c4642; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #322d29; }
pre.sourceCode { background-color: #322d29; line-height: 125% }
td.nums pre { background-color: #4c4642; line-height: 125% }
code.sourceCode span.kw { color: #d7b975; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #c8ab98} /* Keyword.Type */
code.sourceCode span.dv { color: #bfa05a } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #bfa05a } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #bfa05a } /* Literal.Number.Float */
code.sourceCode span.ch { color: #a89771} /* Literal.String.Char */
code.sourceCode span.st { color: #a89771 } /* Literal.String */
code.sourceCode span.co { color: #85786f } /* Comment */
code.sourceCode span.ot { color: #c39d83 } /* Comment.Preproc */
code.sourceCode span.al { color: #c8ab98 } /* Generic.Error */
code.sourceCode span.fu { color: #ccad66 } /* Name.Function */
code.sourceCode span.re { color: #e0c585}
code.sourceCode span.er { color: #c08e6d; border: 1px solid #c8ab98 } /* Error */
