/* Base16 Duotone-Dark
Scheme: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #2a2734; color: #9b87fd }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #423f50; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #2a2734; }
pre.sourceCode { background-color: #2a2734; line-height: 125% }
td.nums pre { background-color: #423f50; line-height: 125% }
code.sourceCode span.kw { color: #de9145; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #a49bcf} /* Keyword.Type */
code.sourceCode span.dv { color: #c07830 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #c07830 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #c07830 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #7c756e} /* Literal.String.Char */
code.sourceCode span.st { color: #7c756e } /* Literal.String */
code.sourceCode span.co { color: #726e87 } /* Comment */
code.sourceCode span.ot { color: #8e81cf } /* Comment.Preproc */
code.sourceCode span.al { color: #a49bcf } /* Generic.Error */
code.sourceCode span.fu { color: #d48535 } /* Name.Function */
code.sourceCode span.re { color: #e8a35e}
code.sourceCode span.er { color: #7765d2; border: 1px solid #a49bcf } /* Error */
