/* Base16 Duotone-DarkSea
Scheme: adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #1d262f; color: #91c1f8 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #303f4f; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #1d262f; }
pre.sourceCode { background-color: #1d262f; line-height: 125% }
td.nums pre { background-color: #303f4f; line-height: 125% }
code.sourceCode span.kw { color: #54d4a9; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #85beff} /* Keyword.Type */
code.sourceCode span.dv { color: #30c090 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #30c090 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #30c090 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #708f85} /* Literal.String.Char */
code.sourceCode span.st { color: #708f85 } /* Literal.String */
code.sourceCode span.co { color: #6e88a6 } /* Comment */
code.sourceCode span.ot { color: #6bb0ff } /* Comment.Preproc */
code.sourceCode span.al { color: #85beff } /* Generic.Error */
code.sourceCode span.fu { color: #3bce9d } /* Name.Function */
code.sourceCode span.re { color: #68d9b4}
code.sourceCode span.er { color: #52a3ff; border: 1px solid #85beff } /* Error */
