/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
.DS_Store

TODO.md
NOTE.md

.base16
.prismbase16

# src
dist
assets/css/prefixed/
assets/css/unprefixed/
_
_psd
_vector
_test

scratch.txt

/build_staging/
# /build_production/
/source/assets/build/
