/*

Name:       Base16 Duotone-DarkHeath Light
Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #fdebff;
  color: #ffd599;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #d9bddb;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #d9bddb;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.punctuation,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d9bddb;
}

.token.namespace {
  opacity: .7;
}

.token.tag,
.token.operator,
.token.boolean,
.token.number {
  color: #d29a4b;
}
.token.property,
.token.function {
  color: #997d9b;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #222022;
}

code.language-javascript,
.token.attr-name {
  color: #a021ab;
}

code.language-css,
code.language-scss {
  color: #ffd599;
}

.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #d29a4b;
}

.token.placeholder,
.token.variable {
  color: #f4c27c;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #222022;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #a021ab;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #a021ab;
  outline-offset: .4em;
}
