@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/FiraSans-Regular.woff') format('woff'), 
        url('../fonts/FiraSans-Regular.ttf')  format('truetype'),
        url('../fonts/FiraSans-Regular.svg#svgFiraSans') format('svg');
     font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/FiraSans-Bold.woff') format('woff'), 
        url('../fonts/FiraSans-Bold.ttf')  format('truetype'),
        url('../fonts/FiraSans-Bold.svg#svgFiraSans') format('svg');
     font-weight: normal;
    font-style: normal; 
} 
