@font-face {
    font-family: 'FeuraSans-Regular';
    src: url('../fonts/feurasans-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/feurasans-regular.woff') format('woff'), 
        url('../fonts/feurasans-regular.ttf')  format('truetype'),
        url('../fonts/feurasans-regular.svg#svgFeuraSans') format('svg');
     font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'FeuraSans-Bold';
    src: url('../fonts/feurasans-bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/feurasans-bold.woff') format('woff'), 
        url('../fonts/feurasans-bold.ttf')  format('truetype'),
        url('../fonts/feurasans-bold.svg#svgFeuraSans') format('svg');
     font-weight: normal;
    font-style: normal; 
} 
