// $base00: "222022";
// $base01: "2f2d2f";
// $base02: "575158";
// $base03: "655c66";
// $base04: "736774";
// $base05: "997d9b";
// $base06: "d9bddb";
// $base07: "fdebff";
// $base08: "a021ab";
// $base09: "d29a4b";
// $base0A: "e5ae61";
// $base0B: "b9a17e";
// $base0C: "ffd599";
// $base0D: "f4c27c";
// $base0E: "d11de2";
// $base0F: "b820c5";

//  base00: "222022";
//  base01: "2f2d2f";
//  base02: "575158";
//  base03: "655c66";
//  base04: "736774";
//  base08: "a021ab";
//  base0F: "b820c5";
//  base0E: "d11de2";
//  base05: "997d9b";
//  base06: "d9bddb";
//  base07: "fdebff";
//  base09: "d29a4b";
//  base0A: "e5ae61";
//  base0D: "f4c27c";
//  base0C: "ffd599";
//  base0B: "b9a17e";

$base00: hsl(295, 2%, 13%);
$base01: hsl(295, 3%, 18%);
$base02: hsl(295, 4%, 33%);
$base03: hsl(295, 5%, 38%);
$base04: hsl(295, 6%, 43%);
$base05: hsl(295, 13%, 55%);
$base06: hsl(295, 30%, 80%);
$base07: hsl(295, 100%, 96%);
$base08: hsl(295, 68%, 40%);
$base09: hsl(35, 60%, 56%);
$base0A: hsl(35, 72%, 64%);
$base0B: hsl(35, 30%, 61%);
$base0C: hsl(35, 100%, 80%);
$base0D: hsl(35, 84%, 72%);
$base0E: hsl(295, 77%, 50%);
$base0F: hsl(295, 72%, 45%);

@import "demo";
