// $base00: "24242e";
// $base01: "2f2f3c";
// $base02: "515167";
// $base03: "5b5b76";
// $base04: "646487";
// $base05: "767693";
// $base06: "9d9dc8";
// $base07: "ebebff";
// $base08: "5151e6";
// $base09: "dd672c";
// $base0A: "f36e2b";
// $base0B: "6a574d";
// $base0C: "fe8c52";
// $base0D: "f97c3e";
// $base0E: "7676f4";
// $base0F: "6363ee";

//  base00: "24242e";
//  base01: "2f2f3c";
//  base02: "515167";
//  base03: "5b5b76";
//  base04: "646487";
//  base08: "5151e6";
//  base0F: "6363ee";
//  base0E: "7676f4";
//  base05: "767693";
//  base06: "9d9dc8";
//  base07: "ebebff";
//  base09: "dd672c";
//  base0A: "f36e2b";
//  base0D: "f97c3e";
//  base0C: "fe8c52";
//  base0B: "6a574d";

$base00: hsl(240, 12%, 16%);
$base01: hsl(240, 12%, 21%);
$base02: hsl(240, 12%, 36%);
$base03: hsl(240, 13%, 41%);
$base04: hsl(240, 15%, 46%);
$base05: hsl(240, 12%, 52%);
$base06: hsl(240, 28%, 70%);
$base07: hsl(240, 99%, 96%);
$base08: hsl(240, 75%, 61%);
$base09: hsl(20, 72%, 52%);
$base0A: hsl(20, 89%, 56%);
$base0B: hsl(20, 16%, 36%);
$base0C: hsl(20, 99%, 66%);
$base0D: hsl(20, 94%, 61%);
$base0E: hsl(240, 85%, 71%);
$base0F: hsl(240, 80%, 66%);

@import "demo";
