// $base00: "1d262f";
// $base01: "27323f";
// $base02: "405368";
// $base03: "4a5f78";
// $base04: "536c88";
// $base05: "57718e";
// $base06: "7eb6f6";
// $base07: "ebf4ff";
// $base08: "298dff";
// $base09: "24cc94";
// $base0A: "29e0a3";
// $base0B: "708f85";
// $base0C: "5cffc9";
// $base0D: "47ebb4";
// $base0E: "5ca8ff";
// $base0F: "6bb0ff";

//  base00: "1d262f";
//  base01: "27323f";
//  base02: "405368";
//  base03: "4a5f78";
//  base04: "536c88";
//  base08: "298dff";
//  base0F: "6bb0ff";
//  base0E: "5ca8ff";
//  base05: "57718e";
//  base06: "7eb6f6";
//  base07: "ebf4ff";
//  base09: "24cc94";
//  base0A: "29e0a3";
//  base0D: "47ebb4";
//  base0C: "5cffc9";
//  base0B: "708f85";

$base00: hsl(212, 24%, 15%);
$base01: hsl(212, 24%, 20%);
$base02: hsl(212, 24%, 33%);
$base03: hsl(212, 24%, 38%);
$base04: hsl(212, 24%, 43%);
$base05: hsl(212, 24%, 45%);
$base06: hsl(212, 87%, 73%);
$base07: hsl(212, 100%, 96%);
$base08: hsl(212, 100%, 58%);
$base09: hsl(160, 70%, 47%);
$base0A: hsl(160, 75%, 52%);
$base0B: hsl(160, 12%, 60%);
$base0C: hsl(160, 100%, 68%);
$base0D: hsl(160, 80%, 60%);
$base0E: hsl(212, 100%, 68%);
$base0F: hsl(212, 100%, 63%);

@import "demo";
