// $base00: "2d2006";
// $base01: "f0ebe0";
// $base02: "e5ddcc";
// $base03: "dbcfb8";
// $base04: "d1c2a3";
// $base05: "b29762";
// $base06: "b6ad9a";
// $base07: "faf8f5";
// $base08: "896724";
// $base09: "063289";
// $base0A: "0e4ecd";
// $base0B: "2d3443";
// $base0C: "728fcb";
// $base0D: "1657da";
// $base0E: "ae8c47";
// $base0F: "997733";

//  base00: "2d2006";
//  base01: "f0ebe0";
//  base02: "e5ddcc";
//  base03: "dbcfb8";
//  base04: "d1c2a3";
//  base08: "896724";
//  base0F: "997733";
//  base0E: "ae8c47";
//  base05: "b29762";
//  base06: "b6ad9a";
//  base07: "faf8f5";
//  base09: "063289";
//  base0A: "0e4ecd";
//  base0D: "1657da";
//  base0C: "728fcb";
//  base0B: "2d3443";

$base00: hsl(40, 76%, 10%);
$base01: hsl(40, 33%, 91%);
$base02: hsl(40, 33%, 85%);
$base03: hsl(40, 33%, 79%);
$base04: hsl(40, 33%, 73%);
$base05: hsl(40, 34%, 54%);
$base06: hsl(40, 16%, 66%);
$base07: hsl(40, 33%, 97%);
$base08: hsl(40, 58%, 34%);
$base09: hsl(220, 92%, 28%);
$base0A: hsl(220, 87%, 43%);
$base0B: hsl(220, 20%, 22%);
$base0C: hsl(220, 46%, 62%);
$base0D: hsl(220, 82%, 47%);
$base0E: hsl(40, 42%, 48%);
$base0F: hsl(40, 50%, 40%);

@import "demo";
