// $base00: "1c2624";
// $base01: "273431";
// $base02: "495f5a";
// $base03: "556d67";
// $base04: "627a74";
// $base05: "5c8a7e";
// $base06: "4dffd2";
// $base07: "ebfffa";
// $base08: "008060";
// $base09: "0fa0bd";
// $base0A: "0dccf2";
// $base0B: "5796a2";
// $base0C: "66e6ff";
// $base0D: "38dafa";
// $base0E: "309179";
// $base0F: "18866b";

//  base00: "1c2624";
//  base01: "273431";
//  base02: "495f5a";
//  base03: "556d67";
//  base04: "627a74";
//  base08: "008060";
//  base0F: "18866b";
//  base0E: "309179";
//  base05: "5c8a7e";
//  base06: "4dffd2";
//  base07: "ebfffa";
//  base09: "0fa0bd";
//  base0A: "0dccf2";
//  base0D: "38dafa";
//  base0C: "66e6ff";
//  base0B: "5796a2";

$base00: hsl(165, 15%, 13%);
$base01: hsl(165, 14%, 18%);
$base02: hsl(165, 13%, 33%);
$base03: hsl(165, 12%, 38%);
$base04: hsl(165, 11%, 43%);
$base05: hsl(165, 20%, 45%);
$base06: hsl(165, 100%, 65%);
$base07: hsl(165, 100%, 96%);
$base08: hsl(165, 100%, 25%);
$base09: hsl(190, 85%, 40%);
$base0A: hsl(190, 90%, 50%);
$base0B: hsl(190, 30%, 49%);
$base0C: hsl(190, 100%, 70%);
$base0D: hsl(190, 95%, 60%);
$base0E: hsl(165, 50%, 38%);
$base0F: hsl(165, 70%, 31%);

@import "demo";
