@font-face {
  font-family: "brandosans-regular-v100";
  src: url('http://atelierbram.github.io/type/Brando-Sans/brandosans-regular-v100.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando-Sans/brandosans-regular-v100.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandosans-regularitalic-v100";
  src: url('http://atelierbram.github.io/type/Brando-Sans/brandosans-regularitalic-v100.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando-Sans/brandosans-regularitalic-v100.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandosans-semibold-v100";
  src: url('http://atelierbram.github.io/type/Brando-Sans/brandosans-semibold-v100.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando-Sans/brandosans-semibold-v100.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandosans-semibolditalic-v100";
  src: url('http://atelierbram.github.io/type/Brando-Sans/brandosans-semibolditalic-v100.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando-Sans/brandosans-semibolditalic-v100.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: "Brando";
  src: url('http://atelierbram.github.io/type/Brando/brando-regular.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando/brando-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: "Brando Italic";
//   src: url('http://atelierbram.github.io/type/Brando/brando-regularitalic.woff2') format('woff2'),
//        url('http://atelierbram.github.io/type/Brando/brando-regularitalic.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "Brando SemiBold";
  src: url('http://atelierbram.github.io/type/Brando/brando-semibold.woff2') format('woff2'),
       url('http://atelierbram.github.io/type/Brando/brando-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'), local('FiraMono'), url(https://fonts.gstatic.com/s/firamono/v4/4JBDq56CMkU462bp0T-W9IX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'), local('FiraMono'), url(https://fonts.gstatic.com/s/firamono/v4/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
