$monospace: Consolas, Menlo, Monaco, monospace;
$bodytext: AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-monospace: "Fira Mono", Consolas, Menlo, Monaco, monospace;
$wf-header: Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
// $wf-bodytext-italic: "Brando Italic", Brando, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-bodytext: brandosans-regular-v100, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-bodytext-italic: brandosans-regularitalic-v100, AvenirNext-Regular, Corbel, "Trebuchet Ms", "Segoe Ui", "DejaVu Sans", sans-serif;
$wf-subheader: "Brando Semibold", Impact, AvenirNextCondensed-Heavy, Charcoal, "Arial Black", sans-serif;
$wf-semibold: brandosans-semibold-v100, AvenirNext-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;
$wf-semibolditalic: brandosans-semibolditalic-v100, AvenirNext-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", "Segoe Ui", "DejaVu Sans Condensed", sans-serif;

$blue: color(bluesky-11);
$yellow: color(gold-11);
$red: color(vermilion-11);
$gray-dark: color(monochrome-bluesky-20);


