/**
 * Base16 Duotone-Dark Light
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00: #2a2734;
$base01: #423f50;
$base02: #5a566c;
$base03: #726e87;
$base04: #837bad;
$base05: #9b87fd;
$base06: #c4b8fe;
$base07: #eeebff;
$base08: #7765d2;
$base09: #c07830;
$base0a: #d48535;
$base0b: #968f88;
$base0c: #e8a35e;
$base0d: #de9145;
$base0e: #a49bcf;
$base0f: #8e81cf;

pre {
    background-color: $base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
