/**
 * Base16 Duotone-DarkPool Light
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00: #21212c;
$base01: #2e2d3e;
$base02: #4d4a68;
$base03: #625e87;
$base04: #7975a3;
$base05: #9f99e6;
$base06: #c6c2fa;
$base07: #f5f0fe;
$base08: #6e65d2;
$base09: #47c2b8;
$base0a: #55cec4;
$base0b: #b28c70;
$base0c: #89e6de;
$base0d: #64d8cf;
$base0e: #9994d6;
$base0f: #847dd4;

pre {
    background-color: $base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
