/**
 * Base16 Duotone-DarkSea Dark
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00: #1d262f;
$base01: #27323f;
$base02: #405368;
$base03: #4a5f78;
$base04: #536c88;
$base05: #57718e;
$base06: #7eb6f6;
$base07: #ebf4ff;
$base08: #298dff;
$base09: #24cc94;
$base0a: #29e0a3;
$base0b: #708f85;
$base0c: #5cffc9;
$base0d: #47ebb4;
$base0e: #5ca8ff;
$base0f: #6bb0ff;

pre {
    background-color: $base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
