/*

    Name:       Base16 Duotone-DarkSea Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1d262f;
$base01: #27323f;
$base02: #405368;
$base03: #4a5f78;
$base04: #536c88;
$base05: #57718e;
$base06: #7eb6f6;
$base07: #ebf4ff;
$base08: #298dff;
$base09: #24cc94;
$base0a: #29e0a3;
$base0b: #708f85;
$base0c: #5cffc9;
$base0d: #47ebb4;
$base0e: #5ca8ff;
$base0f: #6bb0ff;

// Duotone-DarkSea Comment
.hljs-comment {
  color: $base04;
}

// Duotone-DarkSea Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Duotone-DarkSea Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Duotone-DarkSea Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0a;
}

// Duotone-DarkSea Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0b;
}

// Duotone-DarkSea Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0c;
}

// Duotone-DarkSea Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0d;
}

// Duotone-DarkSea Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base00;
  color: $base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
