// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #8b8792;
@syntax-cursor-color: #8b8792;
@syntax-selection-color: #585260;
@syntax-background-color: #19171c;

// Guide colors
@syntax-wrap-guide-color: #655f6d;
@syntax-indent-guide-color: #655f6d;
@syntax-invisible-character-color: #655f6d;

// For find and replace markers
@syntax-result-marker-color: #655f6d;
@syntax-result-marker-color-selected: #8b8792;

// Gutter colors
@syntax-gutter-text-color: #8b8792;
@syntax-gutter-text-color-selected: #8b8792;
@syntax-gutter-background-color: #19171c;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #576ddb;
@syntax-color-added: #2a9292;
@syntax-color-modified: #a06e3b;
@syntax-color-removed: #be4678;