.base00-background { background-color: #2a2734; }
.base01-background { background-color: #423f50; }
.base02-background { background-color: #5a566c; }
.base03-background { background-color: #726e87; }
.base04-background { background-color: #837bad; }
.base05-background { background-color: #9b87fd; }
.base06-background { background-color: #c4b8fe; }
.base07-background { background-color: #eeebff; }
.base08-background { background-color: #7765d2; }
.base09-background { background-color: #c07830; }
.base0A-background { background-color: #d48535; }
.base0B-background { background-color: #968f88; }
.base0C-background { background-color: #e8a35e; }
.base0D-background { background-color: #de9145; }
.base0E-background { background-color: #a49bcf; }
.base0F-background { background-color: #8e81cf; }

.base00 { color: #2a2734; }
.base01 { color: #423f50; }
.base02 { color: #5a566c; }
.base03 { color: #726e87; }
.base04 { color: #837bad; }
.base05 { color: #9b87fd; }
.base06 { color: #c4b8fe; }
.base07 { color: #eeebff; }
.base08 { color: #7765d2; }
.base09 { color: #c07830; }
.base0A { color: #d48535; }
.base0B { color: #968f88; }
.base0C { color: #e8a35e; }
.base0D { color: #de9145; }
.base0E { color: #a49bcf; }
.base0F { color: #8e81cf; }
