.base00-background { background-color: #2a2d2a; }
.base01-background { background-color: #3f4a3f; }
.base02-background { background-color: #556855; }
.base03-background { background-color: #698669; }
.base04-background { background-color: #80a380; }
.base05-background { background-color: #78dd78; }
.base06-background { background-color: #8bfe8b; }
.base07-background { background-color: #f0fff0; }
.base08-background { background-color: #54b654; }
.base09-background { background-color: #a1b34d; }
.base0A-background { background-color: #afc059; }
.base0B-background { background-color: #919966; }
.base0C-background { background-color: #cce06c; }
.base0D-background { background-color: #bed161; }
.base0E-background { background-color: #77c577; }
.base0F-background { background-color: #65bd65; }

.base00 { color: #2a2d2a; }
.base01 { color: #3f4a3f; }
.base02 { color: #556855; }
.base03 { color: #698669; }
.base04 { color: #80a380; }
.base05 { color: #78dd78; }
.base06 { color: #8bfe8b; }
.base07 { color: #f0fff0; }
.base08 { color: #54b654; }
.base09 { color: #a1b34d; }
.base0A { color: #afc059; }
.base0B { color: #919966; }
.base0C { color: #cce06c; }
.base0D { color: #bed161; }
.base0E { color: #77c577; }
.base0F { color: #65bd65; }
