.base00-background { background-color: #2a2734; }
.base01-background { background-color: #413d51; }
.base02-background { background-color: #5c5874; }
.base03-background { background-color: #746e91; }
.base04-background { background-color: #857ab8; }
.base05-background { background-color: #a391fd; }
.base06-background { background-color: #c4b8fe; }
.base07-background { background-color: #eeebff; }
.base08-background { background-color: #7769bf; }
.base09-background { background-color: #c07830; }
.base0A-background { background-color: #ce853b; }
.base0B-background { background-color: #7c756e; }
.base0C-background { background-color: #daa36c; }
.base0D-background { background-color: #d49454; }
.base0E-background { background-color: #988dce; }
.base0F-background { background-color: #877bc6; }

.base00 { color: #2a2734; }
.base01 { color: #413d51; }
.base02 { color: #5c5874; }
.base03 { color: #746e91; }
.base04 { color: #857ab8; }
.base05 { color: #a391fd; }
.base06 { color: #c4b8fe; }
.base07 { color: #eeebff; }
.base08 { color: #7769bf; }
.base09 { color: #c07830; }
.base0A { color: #ce853b; }
.base0B { color: #7c756e; }
.base0C { color: #daa36c; }
.base0D { color: #d49454; }
.base0E { color: #988dce; }
.base0F { color: #877bc6; }
