.base00-background { background-color: #1d262f; }
.base01-background { background-color: #303f4f; }
.base02-background { background-color: #556e8b; }
.base03-background { background-color: #6e88a6; }
.base04-background { background-color: #75a0d1; }
.base05-background { background-color: #91c1f8; }
.base06-background { background-color: #b8d9fe; }
.base07-background { background-color: #ebf4ff; }
.base08-background { background-color: #52a3ff; }
.base09-background { background-color: #30c090; }
.base0A-background { background-color: #3bce9d; }
.base0B-background { background-color: #708f85; }
.base0C-background { background-color: #68d9b4; }
.base0D-background { background-color: #54d4a9; }
.base0E-background { background-color: #85beff; }
.base0F-background { background-color: #6bb0ff; }

.base00 { color: #1d262f; }
.base01 { color: #303f4f; }
.base02 { color: #556e8b; }
.base03 { color: #6e88a6; }
.base04 { color: #75a0d1; }
.base05 { color: #91c1f8; }
.base06 { color: #b8d9fe; }
.base07 { color: #ebf4ff; }
.base08 { color: #52a3ff; }
.base09 { color: #30c090; }
.base0A { color: #3bce9d; }
.base0B { color: #708f85; }
.base0C { color: #68d9b4; }
.base0D { color: #54d4a9; }
.base0E { color: #85beff; }
.base0F { color: #6bb0ff; }
