.base00-background { background-color: #322d29; }
.base01-background { background-color: #4c4642; }
.base02-background { background-color: #695f59; }
.base03-background { background-color: #85786f; }
.base04-background { background-color: #ac9b91; }
.base05-background { background-color: #fcb07d; }
.base06-background { background-color: #fed4b8; }
.base07-background { background-color: #fff3eb; }
.base08-background { background-color: #c08e6d; }
.base09-background { background-color: #bfa05a; }
.base0A-background { background-color: #ccad66; }
.base0B-background { background-color: #a89771; }
.base0C-background { background-color: #e0c585; }
.base0D-background { background-color: #d7b975; }
.base0E-background { background-color: #c8ab98; }
.base0F-background { background-color: #c39d83; }

.base00 { color: #322d29; }
.base01 { color: #4c4642; }
.base02 { color: #695f59; }
.base03 { color: #85786f; }
.base04 { color: #ac9b91; }
.base05 { color: #fcb07d; }
.base06 { color: #fed4b8; }
.base07 { color: #fff3eb; }
.base08 { color: #c08e6d; }
.base09 { color: #bfa05a; }
.base0A { color: #ccad66; }
.base0B { color: #a89771; }
.base0C { color: #e0c585; }
.base0D { color: #d7b975; }
.base0E { color: #c8ab98; }
.base0F { color: #c39d83; }
