.base00-background { background-color: #24242e; }
.base01-background { background-color: #3a3a4a; }
.base02-background { background-color: #58586f; }
.base03-background { background-color: #767693; }
.base04-background { background-color: #9d9dc8; }
.base05-background { background-color: #8888fb; }
.base06-background { background-color: #afaffd; }
.base07-background { background-color: #ebebff; }
.base08-background { background-color: #6c6ccb; }
.base09-background { background-color: #dd672c; }
.base0A-background { background-color: #e67841; }
.base0B-background { background-color: #94796b; }
.base0C-background { background-color: #f49666; }
.base0D-background { background-color: #ee8753; }
.base0E-background { background-color: #9999d1; }
.base0F-background { background-color: #8383ce; }

.base00 { color: #24242e; }
.base01 { color: #3a3a4a; }
.base02 { color: #58586f; }
.base03 { color: #767693; }
.base04 { color: #9d9dc8; }
.base05 { color: #8888fb; }
.base06 { color: #afaffd; }
.base07 { color: #ebebff; }
.base08 { color: #6c6ccb; }
.base09 { color: #dd672c; }
.base0A { color: #e67841; }
.base0B { color: #94796b; }
.base0C { color: #f49666; }
.base0D { color: #ee8753; }
.base0E { color: #9999d1; }
.base0F { color: #8383ce; }
