$base00: hsl(0, 7%, 10%);
$base01: hsl(0, 6%, 15%);
$base02: hsl(0, 5%, 33%);
$base03: hsl(0, 4%, 38%);
$base04: hsl(0, 3%, 48%);
$base05: hsl(0, 2%, 53%);
$base06: hsl(0, 15%, 89%);
$base07: hsl(0, 25%, 94%);
$base08: hsl(0, 55%, 54%);
$base09: hsl(15, 50%, 47%);
$base0a: hsl(30, 46%, 43%);
$base0b: hsl(180, 30%, 42%);
$base0c: hsl(210, 40%, 52%);
$base0d: hsl(240, 45%, 62%);
$base0e: hsl(260, 45%, 58%);
$base0f: hsl(330, 45%, 53%);

$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$cyan:    $base0c;
$blue:    $base0d;
$violet:  $base0e;
$magenta: $base0f;

@import "partials/atelier-schemes";







