/*

Name: Base16 Duotone-Light
Author: adapted from: Simurai (https://github.com/simurai/duotone-light-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #2d2006;
$base01 = #f0ebe0;
$base02 = #e5ddcc;
$base03 = #dbcfb8;
$base04 = #d1c2a3;
$base05 = #b29762;
$base06 = #b6ad9a;
$base07 = #faf8f5;
$base08 = #896724;
$base09 = #063289;
$base0A = #0e4ecd;
$base0B = #2d3443;
$base0C = #728fcb;
$base0D = #1657da;
$base0E = #ae8c47;
$base0F = #997733;
