/*

Name: Base16 Duotone-DarkSpace
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-space-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #24242e;
$base01 = #2f2f3c;
$base02 = #515167;
$base03 = #5b5b76;
$base04 = #646487;
$base05 = #767693;
$base06 = #9d9dc8;
$base07 = #ebebff;
$base08 = #5151e6;
$base09 = #dd672c;
$base0A = #f36e2b;
$base0B = #6a574d;
$base0C = #fe8c52;
$base0D = #f97c3e;
$base0E = #7676f4;
$base0F = #6363ee;
