html {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  background: #808080;
  color: #111;
  min-height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

body,
select {
  font-family: Questrial, AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img,
svg {
  max-width: 100%;
}

header,
main,
footer {
  display: block;
}

main,
footer {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  overflow: auto;
}

header,
footer {
  padding-top: 1rem;
  background-color: #111;
  color: #fdfdfd;
  padding-bottom: 1px;
}

footer {
  text-align: center;
}

footer a {
  display: block;
  padding: .25em 0 1.5em;
  letter-spacing: 2px;
  color: #fdfdfd;
}

footer a:hover {
  color: peachpuff;
}

main {
  padding-bottom: 6em;
}

.col pre {
  max-height: 300px;
  border-radius: 5px;
}

.pad-h {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.col .screenshot {
  display: inline-block;
  font-size: 16px;
  padding-left: 1.5em;
  padding-right: 3.5em;
  padding-top: .5em;
  border: 1px solid #eee;
  border-color: #f4f4f4 #eee #ebebeb;
}

.themes-logo {
  display: block;
  width: 267px;
}

.masthead img {
  border: 0;
}

.masthead h1,
.masthead p {
  display: inline-block;
}

.svg .masthead h1,
.svg .masthead p,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: transparent;
  font: 0/1 sans-serif;
}

h2 {
  margin: 0;
  font-weight: normal;
}

h2 {
  font-family: Questrial, "Open Sans Condensed", AvenirNextCondensed-DemiBold, "DejaVu Sans Condensed", "Lucida Grande", Corbel, "Trebuchet Ms", sans-serif;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-top: 2em;
  color: #333;
}

[class*=".dark"] h2 {
  color: silver;
  letter-spacing: 1px;
}

[class*=".dark"]::-webkit-scrollbar-track,
[class*=".dark"] ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #111;
}

[class*=".dark"]::-webkit-scrollbar,
[class*=".dark"] ::-webkit-scrollbar {
  width: .75em;
  height: .75em;
  background-color: #111;
}

[class*=".dark"]::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb,
[class*=".dark"] ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

[class*=".dark"]::-webkit-scrollbar-thumb:window-inactive,
[class*=".dark"] ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #111;
}

label {
  display: block;
  margin-top: 2em;
  font-size: .875em;
  color: #bbb;
}

.styleswitcher {
  position: relative;
  display: block;
  margin: .5em 0 .5em;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

select {
  width: 110%;
  max-width: 110%;
  min-width: 110%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  font-size: 16px;
  font-weight: normal;
  background: none;
  border: none;
  color: #ddd;
  letter-spacing: 1px;
  outline: none;
  padding: .4em 19% .4em .8em;
  line-height: 1.2;
  margin: .2em;
}

select::-ms-expand {
  display: none;
}

.styleswitcher:after {
  background: none;
  color: #999;
  content: "\25BC";
  font-size: .7em;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1.2em;
  bottom: .3em;
  z-index: 1;
  pointer-events: none;
}

.styleswitcher:hover {
  border: 1px solid #888;
}

select:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(180, 222, 250, 0.85);
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select * {
  background: #eee;
}

.button {
  background: #111;
  background: -webkit-linear-gradient(top, #333 0%, #222 100%);
  background: linear-gradient(to bottom, #333 0%, #222 100%);
  /* W3C */
  border: 1px solid #000;
  border-radius: .25em;
}
