// acid
$acid-colors: (
acid-01: hsl(60,  9%, 96%),
acid-02: hsl(60, 11%, 94%),
acid-03: hsl(60, 14%, 90%),
acid-04: hsl(60, 17%, 85%),
acid-05: hsl(60, 20%, 80%),
acid-06: hsl(60, 25%, 75%),
acid-07: hsl(60, 30%, 70%),
acid-08: hsl(60, 35%, 65%),
acid-09: hsl(60, 40%, 60%),
acid-10: hsl(60, 45%, 55%),
acid-11: hsl(60, 50%, 50%),
acid-12: hsl(60, 52%, 45%),
acid-13: hsl(60, 55%, 40%),
acid-14: hsl(60, 60%, 35%),
acid-15: hsl(60, 65%, 30%),
acid-16: hsl(60, 70%, 25%),
acid-17: hsl(60, 80%, 20%),
acid-18: hsl(60, 90%, 16%),
acid-19: hsl(60, 95%, 12%),
acid-20: hsl(60, 100%, 8%),
);
