// blue
$blue-colors: (
blue-01: hsl(225, 23%, 96%),
blue-02: hsl(225, 26%, 94%),
blue-03: hsl(225, 28%, 90%),
blue-04: hsl(225, 29%, 85%),
blue-05: hsl(225, 30%, 80%),
blue-06: hsl(225, 31%, 75%),
blue-07: hsl(225, 32%, 70%),
blue-08: hsl(225, 33%, 65%),
blue-09: hsl(225, 34%, 60%),
blue-10: hsl(225, 35%, 55%),
blue-11: hsl(225, 65%, 50%),
blue-12: hsl(225, 67%, 45%),
blue-13: hsl(225, 71%, 40%),
blue-14: hsl(225, 73%, 35%),
blue-15: hsl(225, 74%, 30%),
blue-16: hsl(225, 75%, 25%),
blue-17: hsl(225, 76%, 20%),
blue-18: hsl(225, 77%, 16%),
blue-19: hsl(225, 81%, 12%),
blue-20: hsl(225, 90%, 8%),
);
