// bluebonnet
$bluebonnet-colors: (
bluebonnet-01: hsl(232, 18%, 96%),
bluebonnet-02: hsl(232, 21%, 94%),
bluebonnet-03: hsl(232, 23%, 90%),
bluebonnet-04: hsl(232, 24%, 85%),
bluebonnet-05: hsl(232, 25%, 80%),
bluebonnet-06: hsl(232, 26%, 75%),
bluebonnet-07: hsl(232, 27%, 70%),
bluebonnet-08: hsl(232, 28%, 65%),
bluebonnet-09: hsl(232, 29%, 60%),
bluebonnet-10: hsl(232, 30%, 55%),
bluebonnet-11: hsl(232, 55%, 50%),
bluebonnet-12: hsl(232, 57%, 45%),
bluebonnet-13: hsl(232, 60%, 40%),
bluebonnet-14: hsl(232, 63%, 35%),
bluebonnet-15: hsl(232, 65%, 30%),
bluebonnet-16: hsl(232, 70%, 25%),
bluebonnet-17: hsl(232, 75%, 20%),
bluebonnet-18: hsl(232, 80%, 16%),
bluebonnet-19: hsl(232, 85%, 12%),
bluebonnet-20: hsl(232, 90%,  8%),
);
