// bluesky
$bluesky-colors: (
bluesky-01: hsl(203, 4%, 96%),
bluesky-02: hsl(203, 8%, 94%),
bluesky-03: hsl(203, 12%, 90%),
bluesky-04: hsl(203, 16%, 85%),
bluesky-05: hsl(203, 20%, 80%),
bluesky-06: hsl(203, 24%, 75%),
bluesky-07: hsl(203, 28%, 70%),
bluesky-08: hsl(203, 32%, 65%),
bluesky-09: hsl(203, 36%, 60%),
bluesky-10: hsl(203, 40%, 55%),
bluesky-11: hsl(203, 60%, 50%),
bluesky-12: hsl(203, 65%, 45%),
bluesky-13: hsl(203, 70%, 40%),
bluesky-14: hsl(203, 75%, 35%),
bluesky-15: hsl(203, 80%, 30%),
bluesky-16: hsl(203, 84%, 25%),
bluesky-17: hsl(203, 88%, 20%),
bluesky-18: hsl(203, 92%, 16%),
bluesky-19: hsl(203, 96%, 12%),
bluesky-20: hsl(203, 100%, 8%),
);
