// byzantine
$byzantine-colors: (
byzantine-01: hsl(315, 12%, 96%),
byzantine-02: hsl(315, 13%, 94%),
byzantine-03: hsl(315, 14%, 90%),
byzantine-04: hsl(315, 15%, 85%),
byzantine-05: hsl(315, 16%, 80%),
byzantine-06: hsl(315, 17%, 75%),
byzantine-07: hsl(315, 18%, 70%),
byzantine-08: hsl(315, 19%, 65%),
byzantine-09: hsl(315, 22%, 60%),
byzantine-10: hsl(315, 25%, 55%),
byzantine-11: hsl(315, 50%, 50%),
byzantine-12: hsl(315, 55%, 45%),
byzantine-13: hsl(315, 60%, 40%),
byzantine-14: hsl(315, 65%, 35%),
byzantine-15: hsl(315, 70%, 30%),
byzantine-16: hsl(315, 75%, 25%),
byzantine-17: hsl(315, 80%, 20%),
byzantine-18: hsl(315, 85%, 16%),
byzantine-19: hsl(315, 90%, 12%),
byzantine-20: hsl(315, 100%, 8%),
);
