// chartreuse
$chartreuse-colors: (
chartreuse-01: hsl(100, 12%, 96%),
chartreuse-02: hsl(100, 16%, 94%),
chartreuse-03: hsl(100, 19%, 90%),
chartreuse-04: hsl(100, 21%, 85%),
chartreuse-05: hsl(100, 24%, 80%),
chartreuse-06: hsl(100, 27%, 75%),
chartreuse-07: hsl(100, 30%, 70%),
chartreuse-08: hsl(100, 34%, 65%),
chartreuse-09: hsl(100, 37%, 60%),
chartreuse-10: hsl(100, 40%, 55%),
chartreuse-11: hsl(100, 50%, 50%),
chartreuse-12: hsl(100, 55%, 45%),
chartreuse-13: hsl(100, 60%, 40%),
chartreuse-14: hsl(100, 65%, 35%),
chartreuse-15: hsl(100, 70%, 30%),
chartreuse-16: hsl(100, 75%, 25%),
chartreuse-17: hsl(100, 80%, 20%),
chartreuse-18: hsl(100, 85%, 16%),
chartreuse-19: hsl(100, 90%, 12%),
chartreuse-20: hsl(100, 100%, 8%),
);
