// cobalt
$cobalt-colors: (
cobalt-01: hsl(210, 4%, 96%),
cobalt-02: hsl(210, 8%, 94%),
cobalt-03: hsl(210, 12%, 90%),
cobalt-04: hsl(210, 16%, 85%),
cobalt-05: hsl(210, 20%, 80%),
cobalt-06: hsl(210, 24%, 75%),
cobalt-07: hsl(210, 28%, 70%),
cobalt-08: hsl(210, 32%, 65%),
cobalt-09: hsl(210, 36%, 60%),
cobalt-10: hsl(210, 40%, 55%),
cobalt-11: hsl(210, 60%, 50%),
cobalt-12: hsl(210, 65%, 45%),
cobalt-13: hsl(210, 70%, 40%),
cobalt-14: hsl(210, 75%, 35%),
cobalt-15: hsl(210, 80%, 30%),
cobalt-16: hsl(210, 84%, 25%),
cobalt-17: hsl(210, 88%, 20%),
cobalt-18: hsl(210, 92%, 16%),
cobalt-19: hsl(210, 96%, 12%),
cobalt-20: hsl(210, 100%, 8%),
);
