// coral
$coral-colors: (
coral-01: hsl(15, 18%, 96%),
coral-02: hsl(15, 21%, 94%),
coral-03: hsl(15, 24%, 90%),
coral-04: hsl(15, 27%, 85%),
coral-05: hsl(15, 30%, 80%),
coral-06: hsl(15, 33%, 75%),
coral-07: hsl(15, 36%, 70%),
coral-08: hsl(15, 39%, 65%),
coral-09: hsl(15, 42%, 60%),
coral-10: hsl(15, 45%, 55%),
coral-11: hsl(15, 65%, 50%),
coral-12: hsl(15, 70%, 45%),
coral-13: hsl(15, 75%, 40%),
coral-14: hsl(15, 80%, 35%),
coral-15: hsl(15, 83%, 30%),
coral-16: hsl(15, 86%, 25%),
coral-17: hsl(15, 90%, 20%),
coral-18: hsl(15, 94%, 16%),
coral-19: hsl(15, 98%, 12%),
coral-20: hsl(15, 100%, 8%),
);
