// cyan
$cyan-colors: (
cyan-01: hsl(195, 4%, 96%),
cyan-02: hsl(195, 8%, 94%),
cyan-03: hsl(195, 12%, 90%),
cyan-04: hsl(195, 16%, 85%),
cyan-05: hsl(195, 20%, 80%),
cyan-06: hsl(195, 24%, 75%),
cyan-07: hsl(195, 28%, 70%),
cyan-08: hsl(195, 32%, 65%),
cyan-09: hsl(195, 36%, 60%),
cyan-10: hsl(195, 40%, 55%),
cyan-11: hsl(195, 50%, 50%),
cyan-12: hsl(195, 55%, 45%),
cyan-13: hsl(195, 60%, 40%),
cyan-14: hsl(195, 70%, 35%),
cyan-15: hsl(195, 75%, 30%),
cyan-16: hsl(195, 80%, 25%),
cyan-17: hsl(195, 85%, 20%),
cyan-18: hsl(195, 90%, 16%),
cyan-19: hsl(195, 95%, 12%),
cyan-20: hsl(195, 100%, 8%),
);
