// gold
$gold-colors: (
gold-01: hsl(52, 23%, 96%),
gold-02: hsl(52, 26%, 94%),
gold-03: hsl(52, 29%, 90%),
gold-04: hsl(52, 32%, 85%),
gold-05: hsl(52, 35%, 80%),
gold-06: hsl(52, 38%, 75%),
gold-07: hsl(52, 41%, 70%),
gold-08: hsl(52, 44%, 65%),
gold-09: hsl(52, 47%, 60%),
gold-10: hsl(52, 50%, 55%),
gold-11: hsl(52, 60%, 50%),
gold-12: hsl(52, 63%, 45%),
gold-13: hsl(52, 66%, 40%),
gold-14: hsl(52, 69%, 35%),
gold-15: hsl(52, 73%, 30%),
gold-16: hsl(52, 75%, 25%),
gold-17: hsl(52, 80%, 20%),
gold-18: hsl(52, 90%, 16%),
gold-19: hsl(52, 95%, 12%),
gold-20: hsl(52, 100%, 8%),
);
