// gray
$gray-colors: (
gray-01: hsl(0, 0%, 96%),
gray-02: hsl(0, 0%, 94%),
gray-03: hsl(0, 0%, 90%),
gray-04: hsl(0, 0%, 85%),
gray-05: hsl(0, 0%, 80%),
gray-06: hsl(0, 0%, 75%),
gray-07: hsl(0, 0%, 70%),
gray-08: hsl(0, 0%, 65%),
gray-09: hsl(0, 0%, 60%),
gray-10: hsl(0, 0%, 55%),
gray-11: hsl(0, 0%, 50%),
gray-12: hsl(0, 0%, 45%),
gray-13: hsl(0, 0%, 40%),
gray-14: hsl(0, 0%, 35%),
gray-15: hsl(0, 0%, 30%),
gray-16: hsl(0, 0%, 25%),
gray-17: hsl(0, 0%, 20%),
gray-18: hsl(0, 0%, 16%),
gray-19: hsl(0, 0%, 12%),
gray-20: hsl(0, 0%, 8%),
);
