// green
$green-colors: (
green-01: hsl(144, 4%, 96%),
green-02: hsl(144, 8%, 94%),
green-03: hsl(144, 12%, 90%),
green-04: hsl(144, 16%, 85%),
green-05: hsl(144, 20%, 80%),
green-06: hsl(144, 24%, 75%),
green-07: hsl(144, 28%, 70%),
green-08: hsl(144, 32%, 65%),
green-09: hsl(144, 36%, 60%),
green-10: hsl(144, 40%, 55%),
green-11: hsl(144, 50%, 50%),
green-12: hsl(144, 55%, 45%),
green-13: hsl(144, 60%, 40%),
green-14: hsl(144, 70%, 35%),
green-15: hsl(144, 75%, 30%),
green-16: hsl(144, 80%, 25%),
green-17: hsl(144, 85%, 20%),
green-18: hsl(144, 90%, 16%),
green-19: hsl(144, 95%, 12%),
green-20: hsl(144, 100%, 8%),
);
