// indigo
$indigo-colors: (
indigo-01: hsl(275, 12%, 96%),
indigo-02: hsl(275, 13%, 94%),
indigo-03: hsl(275, 14%, 90%),
indigo-04: hsl(275, 15%, 85%),
indigo-05: hsl(275, 16%, 80%),
indigo-06: hsl(275, 17%, 75%),
indigo-07: hsl(275, 18%, 70%),
indigo-08: hsl(275, 19%, 65%),
indigo-09: hsl(275, 22%, 60%),
indigo-10: hsl(275, 25%, 55%),
indigo-11: hsl(275, 45%, 50%),
indigo-12: hsl(275, 48%, 45%),
indigo-13: hsl(275, 51%, 40%),
indigo-14: hsl(275, 54%, 35%),
indigo-15: hsl(275, 57%, 30%),
indigo-16: hsl(275, 60%, 25%),
indigo-17: hsl(275, 65%, 20%),
indigo-18: hsl(275, 70%, 16%),
indigo-19: hsl(275, 80%, 12%),
indigo-20: hsl(275, 84%,  8%),
);
