// lemon
$lemon-colors: (
lemon-01: hsl(75, 23%, 96%),
lemon-02: hsl(75, 24%, 94%),
lemon-03: hsl(75, 25%, 90%),
lemon-04: hsl(75, 26%, 85%),
lemon-05: hsl(75, 27%, 80%),
lemon-06: hsl(75, 28%, 75%),
lemon-07: hsl(75, 32%, 70%),
lemon-08: hsl(75, 34%, 65%),
lemon-09: hsl(75, 37%, 60%),
lemon-10: hsl(75, 40%, 55%),
lemon-11: hsl(75, 50%, 50%),
lemon-12: hsl(75, 55%, 45%),
lemon-13: hsl(75, 60%, 40%),
lemon-14: hsl(75, 65%, 35%),
lemon-15: hsl(75, 70%, 30%),
lemon-16: hsl(75, 75%, 25%),
lemon-17: hsl(75, 80%, 20%),
lemon-18: hsl(75, 85%, 16%),
lemon-19: hsl(75, 90%, 12%),
lemon-20: hsl(75, 100%, 8%),
);
