// lime
$lime-colors: (
lime-01: hsl(130,  8%, 96%),
lime-02: hsl(130, 10%, 94%),
lime-03: hsl(130, 12%, 90%),
lime-04: hsl(130, 14%, 85%),
lime-05: hsl(130, 15%, 80%),
lime-06: hsl(130, 20%, 75%),
lime-07: hsl(130, 25%, 70%),
lime-08: hsl(130, 30%, 65%),
lime-09: hsl(130, 35%, 60%),
lime-10: hsl(130, 40%, 55%),
lime-11: hsl(130, 50%, 50%),
lime-12: hsl(130, 55%, 45%),
lime-13: hsl(130, 60%, 40%),
lime-14: hsl(130, 65%, 35%),
lime-15: hsl(130, 70%, 30%),
lime-16: hsl(130, 75%, 25%),
lime-17: hsl(130, 80%, 20%),
lime-18: hsl(130, 85%, 16%),
lime-19: hsl(130, 90%, 12%),
lime-20: hsl(130, 100%, 8%),
);
