// magenta
$magenta-colors: (
magenta-01: hsl(290, 12%, 96%),
magenta-02: hsl(290, 13%, 94%),
magenta-03: hsl(290, 14%, 90%),
magenta-04: hsl(290, 15%, 85%),
magenta-05: hsl(290, 16%, 80%),
magenta-06: hsl(290, 17%, 75%),
magenta-07: hsl(290, 18%, 70%),
magenta-08: hsl(290, 19%, 65%),
magenta-09: hsl(290, 22%, 60%),
magenta-10: hsl(290, 25%, 55%),
magenta-11: hsl(290, 40%, 50%),
magenta-12: hsl(290, 43%, 45%),
magenta-13: hsl(290, 46%, 40%),
magenta-14: hsl(290, 49%, 35%),
magenta-15: hsl(290, 51%, 30%),
magenta-16: hsl(290, 55%, 25%),
magenta-17: hsl(290, 60%, 20%),
magenta-18: hsl(290, 70%, 16%),
magenta-19: hsl(290, 75%, 12%),
magenta-20: hsl(290, 80%,  8%),
);
