// monochrome_cyan
$monochrome_cyan-colors: (
monochrome-cyan-01: hsl(195, 14%, 96%),
monochrome-cyan-02: hsl(195, 14%, 94%),
monochrome-cyan-03: hsl(195, 14%, 90%),
monochrome-cyan-04: hsl(195, 14%, 85%),
monochrome-cyan-05: hsl(195, 14%, 80%),
monochrome-cyan-06: hsl(195, 14%, 75%),
monochrome-cyan-07: hsl(195, 14%, 70%),
monochrome-cyan-08: hsl(195, 14%, 65%),
monochrome-cyan-09: hsl(195, 14%, 60%),
monochrome-cyan-10: hsl(195, 14%, 55%),
monochrome-cyan-11: hsl(195, 14%, 50%),
monochrome-cyan-12: hsl(195, 14%, 45%),
monochrome-cyan-13: hsl(195, 14%, 40%),
monochrome-cyan-14: hsl(195, 14%, 35%),
monochrome-cyan-15: hsl(195, 14%, 30%),
monochrome-cyan-16: hsl(195, 14%, 25%),
monochrome-cyan-17: hsl(195, 14%, 20%),
monochrome-cyan-18: hsl(195, 14%, 16%),
monochrome-cyan-19: hsl(195, 14%, 12%),
monochrome-cyan-20: hsl(195, 14%, 8%),
);
