// monochrome_bluesky
$monochrome_bluesky-colors: (
monochrome-bluesky-01: hsl(203, 14%, 96%),
monochrome-bluesky-02: hsl(203, 14%, 94%),
monochrome-bluesky-03: hsl(203, 14%, 90%),
monochrome-bluesky-04: hsl(203, 14%, 85%),
monochrome-bluesky-05: hsl(203, 14%, 80%),
monochrome-bluesky-06: hsl(203, 14%, 75%),
monochrome-bluesky-07: hsl(203, 14%, 70%),
monochrome-bluesky-08: hsl(203, 14%, 65%),
monochrome-bluesky-09: hsl(203, 14%, 60%),
monochrome-bluesky-10: hsl(203, 14%, 55%),
monochrome-bluesky-11: hsl(203, 14%, 50%),
monochrome-bluesky-12: hsl(203, 14%, 45%),
monochrome-bluesky-13: hsl(203, 14%, 40%),
monochrome-bluesky-14: hsl(203, 14%, 35%),
monochrome-bluesky-15: hsl(203, 14%, 30%),
monochrome-bluesky-16: hsl(203, 14%, 25%),
monochrome-bluesky-17: hsl(203, 14%, 20%),
monochrome-bluesky-18: hsl(203, 14%, 16%),
monochrome-bluesky-19: hsl(203, 14%, 12%),
monochrome-bluesky-20: hsl(203, 14%, 8%),
);
