// monochrome_green
$monochrome_green-colors: (
monochrome-green-01: hsl(144, 4%, 96%),
monochrome-green-02: hsl(144, 4%, 94%),
monochrome-green-03: hsl(144, 4%, 90%),
monochrome-green-04: hsl(144, 4%, 85%),
monochrome-green-05: hsl(144, 4%, 80%),
monochrome-green-06: hsl(144, 4%, 75%),
monochrome-green-07: hsl(144, 4%, 70%),
monochrome-green-08: hsl(144, 4%, 65%),
monochrome-green-09: hsl(144, 4%, 60%),
monochrome-green-10: hsl(144, 4%, 55%),
monochrome-green-11: hsl(144, 4%, 50%),
monochrome-green-12: hsl(144, 4%, 45%),
monochrome-green-13: hsl(144, 4%, 40%),
monochrome-green-14: hsl(144, 4%, 35%),
monochrome-green-15: hsl(144, 4%, 30%),
monochrome-green-16: hsl(144, 4%, 25%),
monochrome-green-17: hsl(144, 4%, 20%),
monochrome-green-18: hsl(144, 4%, 16%),
monochrome-green-19: hsl(144, 4%, 12%),
monochrome-green-20: hsl(144, 4%, 8%),
);
