// monochrome_yellow
$monochrome_yellow-colors: (
monochrome-yellow-01: hsl(45, 14%, 96%),
monochrome-yellow-02: hsl(45, 14%, 94%),
monochrome-yellow-03: hsl(45, 14%, 90%),
monochrome-yellow-04: hsl(45, 14%, 85%),
monochrome-yellow-05: hsl(45, 14%, 80%),
monochrome-yellow-06: hsl(45, 14%, 75%),
monochrome-yellow-07: hsl(45, 14%, 70%),
monochrome-yellow-08: hsl(45, 14%, 65%),
monochrome-yellow-09: hsl(45, 14%, 60%),
monochrome-yellow-10: hsl(45, 14%, 55%),
monochrome-yellow-11: hsl(45, 14%, 50%),
monochrome-yellow-12: hsl(45, 14%, 45%),
monochrome-yellow-13: hsl(45, 14%, 40%),
monochrome-yellow-14: hsl(45, 14%, 35%),
monochrome-yellow-15: hsl(45, 14%, 30%),
monochrome-yellow-16: hsl(45, 14%, 25%),
monochrome-yellow-17: hsl(45, 14%, 20%),
monochrome-yellow-18: hsl(45, 14%, 16%),
monochrome-yellow-19: hsl(45, 14%, 12%),
monochrome-yellow-20: hsl(45, 14%, 8%),
);
