// monochrome_blue
$monochrome_blue-colors: (
monochrome-blue-01: hsl(225, 14%, 96%),
monochrome-blue-02: hsl(225, 14%, 94%),
monochrome-blue-03: hsl(225, 14%, 90%),
monochrome-blue-04: hsl(225, 14%, 85%),
monochrome-blue-05: hsl(225, 14%, 80%),
monochrome-blue-06: hsl(225, 14%, 75%),
monochrome-blue-07: hsl(225, 14%, 70%),
monochrome-blue-08: hsl(225, 14%, 65%),
monochrome-blue-09: hsl(225, 14%, 60%),
monochrome-blue-10: hsl(225, 14%, 55%),
monochrome-blue-11: hsl(225, 14%, 50%),
monochrome-blue-12: hsl(225, 14%, 45%),
monochrome-blue-13: hsl(225, 14%, 40%),
monochrome-blue-14: hsl(225, 14%, 35%),
monochrome-blue-15: hsl(225, 14%, 30%),
monochrome-blue-16: hsl(225, 14%, 25%),
monochrome-blue-17: hsl(225, 14%, 20%),
monochrome-blue-18: hsl(225, 14%, 16%),
monochrome-blue-19: hsl(225, 14%, 12%),
monochrome-blue-20: hsl(225, 14%, 8%),
);
