// ocre
$ocre-colors: (
ocre-01: hsl(38, 23%, 96%),
ocre-02: hsl(38, 26%, 94%),
ocre-03: hsl(38, 29%, 90%),
ocre-04: hsl(38, 32%, 85%),
ocre-05: hsl(38, 35%, 80%),
ocre-06: hsl(38, 38%, 75%),
ocre-07: hsl(38, 41%, 70%),
ocre-08: hsl(38, 44%, 65%),
ocre-09: hsl(38, 47%, 60%),
ocre-10: hsl(38, 50%, 55%),
ocre-11: hsl(38, 60%, 50%),
ocre-12: hsl(38, 63%, 45%),
ocre-13: hsl(38, 66%, 40%),
ocre-14: hsl(38, 69%, 35%),
ocre-15: hsl(38, 73%, 30%),
ocre-16: hsl(38, 75%, 25%),
ocre-17: hsl(38, 80%, 20%),
ocre-18: hsl(38, 90%, 16%),
ocre-19: hsl(38, 95%, 12%),
ocre-20: hsl(38, 100%, 8%),
);
