// orange
$orange-colors: (
orange-01: hsl(30, 23%, 96%),
orange-02: hsl(30, 26%, 94%),
orange-03: hsl(30, 29%, 90%),
orange-04: hsl(30, 32%, 85%),
orange-05: hsl(30, 35%, 80%),
orange-06: hsl(30, 38%, 75%),
orange-07: hsl(30, 41%, 70%),
orange-08: hsl(30, 44%, 65%),
orange-09: hsl(30, 47%, 60%),
orange-10: hsl(30, 50%, 55%),
orange-11: hsl(30, 70%, 50%),
orange-12: hsl(30, 73%, 45%),
orange-13: hsl(30, 76%, 40%),
orange-14: hsl(30, 79%, 35%),
orange-15: hsl(30, 82%, 30%),
orange-16: hsl(30, 85%, 25%),
orange-17: hsl(30, 86%, 20%),
orange-18: hsl(30, 90%, 16%),
orange-19: hsl(30, 95%, 12%),
orange-20: hsl(30, 100%, 8%),
);
