// pelorous
$pelorous-colors: (
pelorous-01: hsl(188, 4%, 96%),
pelorous-02: hsl(188, 8%, 94%),
pelorous-03: hsl(188, 12%, 90%),
pelorous-04: hsl(188, 16%, 85%),
pelorous-05: hsl(188, 20%, 80%),
pelorous-06: hsl(188, 24%, 75%),
pelorous-07: hsl(188, 28%, 70%),
pelorous-08: hsl(188, 32%, 65%),
pelorous-09: hsl(188, 36%, 60%),
pelorous-10: hsl(188, 40%, 55%),
pelorous-11: hsl(188, 50%, 50%),
pelorous-12: hsl(188, 55%, 45%),
pelorous-13: hsl(188, 60%, 40%),
pelorous-14: hsl(188, 70%, 35%),
pelorous-15: hsl(188, 75%, 30%),
pelorous-16: hsl(188, 80%, 25%),
pelorous-17: hsl(188, 85%, 20%),
pelorous-18: hsl(188, 90%, 16%),
pelorous-19: hsl(188, 95%, 12%),
pelorous-20: hsl(188, 100%, 8%),
);
