// plump
$plump-colors: (
plump-01: hsl(250,  12%, 96%),
plump-02: hsl(250,  13%, 94%),
plump-03: hsl(250,  14%, 90%),
plump-04: hsl(250,  15%, 85%),
plump-05: hsl(250,  16%, 80%),
plump-06: hsl(250,  17%, 75%),
plump-07: hsl(250,  18%, 70%),
plump-08: hsl(250,  19%, 65%),
plump-09: hsl(250,  22%, 60%),
plump-10: hsl(250,  25%, 55%),
plump-11: hsl(250,  45%, 50%),
plump-12: hsl(250,  48%, 45%),
plump-13: hsl(250,  51%, 40%),
plump-14: hsl(250,  54%, 35%),
plump-15: hsl(250,  57%, 30%),
plump-16: hsl(250,  60%, 25%),
plump-17: hsl(250,  63%, 20%),
plump-18: hsl(250,  66%, 16%),
plump-19: hsl(250,  70%, 12%),
plump-20: hsl(250,  74%,  8%),
);
