// purple
$purple-colors: (
purple-01: hsl(240, 12%, 96%),
purple-02: hsl(240, 13%, 94%),
purple-03: hsl(240, 14%, 90%),
purple-04: hsl(240, 15%, 85%),
purple-05: hsl(240, 16%, 80%),
purple-06: hsl(240, 17%, 75%),
purple-07: hsl(240, 18%, 70%),
purple-08: hsl(240, 19%, 65%),
purple-09: hsl(240, 22%, 60%),
purple-10: hsl(240, 25%, 55%),
purple-11: hsl(240, 45%, 50%),
purple-12: hsl(240, 48%, 45%),
purple-13: hsl(240, 51%, 40%),
purple-14: hsl(240, 54%, 35%),
purple-15: hsl(240, 57%, 30%),
purple-16: hsl(240, 60%, 25%),
purple-17: hsl(240, 63%, 20%),
purple-18: hsl(240, 66%, 16%),
purple-19: hsl(240, 70%, 12%),
purple-20: hsl(240, 74%, 8%),
);
