// red
$red-colors: (
red-01: hsl(345, 10%, 96%),
red-02: hsl(345, 13%, 94%),
red-03: hsl(345, 16%, 90%),
red-04: hsl(345, 19%, 85%),
red-05: hsl(345, 22%, 80%),
red-06: hsl(345, 25%, 75%),
red-07: hsl(345, 28%, 70%),
red-08: hsl(345, 31%, 65%),
red-09: hsl(345, 34%, 60%),
red-10: hsl(345, 37%, 55%),
red-11: hsl(345, 70%, 50%),
red-12: hsl(345, 73%, 45%),
red-13: hsl(345, 76%, 40%),
red-14: hsl(345, 79%, 35%),
red-15: hsl(345, 82%, 30%),
red-16: hsl(345, 85%, 25%),
red-17: hsl(345, 90%, 20%),
red-18: hsl(345, 94%, 16%),
red-19: hsl(345, 98%, 12%),
red-20: hsl(345, 100%, 8%),
);
