// scarlet
$scarlet-colors: (
scarlet-01: hsl(9, 10%, 96%),
scarlet-02: hsl(9, 13%, 94%),
scarlet-03: hsl(9, 16%, 90%),
scarlet-04: hsl(9, 19%, 85%),
scarlet-05: hsl(9, 22%, 80%),
scarlet-06: hsl(9, 25%, 75%),
scarlet-07: hsl(9, 28%, 70%),
scarlet-08: hsl(9, 31%, 65%),
scarlet-09: hsl(9, 34%, 60%),
scarlet-10: hsl(9, 37%, 55%),
scarlet-11: hsl(9, 70%, 50%),
scarlet-12: hsl(9, 73%, 45%),
scarlet-13: hsl(9, 76%, 40%),
scarlet-14: hsl(9, 79%, 35%),
scarlet-15: hsl(9, 82%, 30%),
scarlet-16: hsl(9, 85%, 25%),
scarlet-17: hsl(9, 90%, 20%),
scarlet-18: hsl(9, 94%, 16%),
scarlet-19: hsl(9, 98%, 12%),
scarlet-20: hsl(9, 100%,  8%),
);
