// tangelo
$tangelo-colors: (
tangelo-01: hsl(22, 18%, 96%),
tangelo-02: hsl(22, 21%, 94%),
tangelo-03: hsl(22, 24%, 90%),
tangelo-04: hsl(22, 27%, 85%),
tangelo-05: hsl(22, 30%, 80%),
tangelo-06: hsl(22, 33%, 75%),
tangelo-07: hsl(22, 36%, 70%),
tangelo-08: hsl(22, 39%, 65%),
tangelo-09: hsl(22, 42%, 60%),
tangelo-10: hsl(22, 45%, 55%),
tangelo-11: hsl(22, 65%, 50%),
tangelo-12: hsl(22, 70%, 45%),
tangelo-13: hsl(22, 75%, 40%),
tangelo-14: hsl(22, 80%, 35%),
tangelo-15: hsl(22, 83%, 30%),
tangelo-16: hsl(22, 86%, 25%),
tangelo-17: hsl(22, 90%, 20%),
tangelo-18: hsl(22, 94%, 16%),
tangelo-19: hsl(22, 98%, 12%),
tangelo-20: hsl(22, 100%, 8%),
);
