// teal
$teal-colors: (
teal-01: hsl(180, 4%, 96%),
teal-02: hsl(180, 8%, 94%),
teal-03: hsl(180, 12%, 90%),
teal-04: hsl(180, 16%, 85%),
teal-05: hsl(180, 20%, 80%),
teal-06: hsl(180, 24%, 75%),
teal-07: hsl(180, 28%, 70%),
teal-08: hsl(180, 32%, 65%),
teal-09: hsl(180, 36%, 60%),
teal-10: hsl(180, 40%, 55%),
teal-11: hsl(180, 50%, 50%),
teal-12: hsl(180, 55%, 45%),
teal-13: hsl(180, 60%, 40%),
teal-14: hsl(180, 70%, 35%),
teal-15: hsl(180, 75%, 30%),
teal-16: hsl(180, 80%, 25%),
teal-17: hsl(180, 85%, 20%),
teal-18: hsl(180, 90%, 16%),
teal-19: hsl(180, 95%, 12%),
teal-20: hsl(180, 100%, 8%),
);
