// vermilion
$vermilion-colors: (
vermilion-01: hsl(3, 10%, 96%),
vermilion-02: hsl(3, 13%, 94%),
vermilion-03: hsl(3, 16%, 90%),
vermilion-04: hsl(3, 19%, 85%),
vermilion-05: hsl(3, 22%, 80%),
vermilion-06: hsl(3, 25%, 75%),
vermilion-07: hsl(3, 28%, 70%),
vermilion-08: hsl(3, 31%, 65%),
vermilion-09: hsl(3, 34%, 60%),
vermilion-10: hsl(3, 37%, 55%),
vermilion-11: hsl(3, 70%, 50%),
vermilion-12: hsl(3, 73%, 45%),
vermilion-13: hsl(3, 76%, 40%),
vermilion-14: hsl(3, 79%, 35%),
vermilion-15: hsl(3, 82%, 30%),
vermilion-16: hsl(3, 85%, 25%),
vermilion-17: hsl(3, 90%, 20%),
vermilion-18: hsl(3, 94%, 16%),
vermilion-19: hsl(3, 98%, 12%),
vermilion-20: hsl(3, 100%,  8%),
);
