// violet
$violet-colors: (
violet-01: hsl(260, 12%, 96%),
violet-02: hsl(260, 13%, 94%),
violet-03: hsl(260, 14%, 90%),
violet-04: hsl(260, 15%, 85%),
violet-05: hsl(260, 16%, 80%),
violet-06: hsl(260, 17%, 75%),
violet-07: hsl(260, 18%, 70%),
violet-08: hsl(260, 19%, 65%),
violet-09: hsl(260, 22%, 60%),
violet-10: hsl(260, 25%, 55%),
violet-11: hsl(260, 45%, 50%),
violet-12: hsl(260, 48%, 45%),
violet-13: hsl(260, 51%, 40%),
violet-14: hsl(260, 54%, 35%),
violet-15: hsl(260, 57%, 30%),
violet-16: hsl(260, 60%, 25%),
violet-17: hsl(260, 65%, 20%),
violet-18: hsl(260, 70%, 16%),
violet-19: hsl(260, 80%, 12%),
violet-20: hsl(260, 84%,  8%),
);
