// yellow
$yellow-colors: (
yellow-01: hsl(45, 23%, 96%),
yellow-02: hsl(45, 26%, 94%),
yellow-03: hsl(45, 29%, 90%),
yellow-04: hsl(45, 32%, 85%),
yellow-05: hsl(45, 35%, 80%),
yellow-06: hsl(45, 38%, 75%),
yellow-07: hsl(45, 41%, 70%),
yellow-08: hsl(45, 44%, 65%),
yellow-09: hsl(45, 47%, 60%),
yellow-10: hsl(45, 50%, 55%),
yellow-11: hsl(45, 60%, 50%),
yellow-12: hsl(45, 63%, 45%),
yellow-13: hsl(45, 66%, 40%),
yellow-14: hsl(45, 69%, 35%),
yellow-15: hsl(45, 73%, 30%),
yellow-16: hsl(45, 75%, 25%),
yellow-17: hsl(45, 80%, 20%),
yellow-18: hsl(45, 90%, 16%),
yellow-19: hsl(45, 95%, 12%),
yellow-20: hsl(45, 100%, 8%),
);
