$base00: #1b181b;
$base01: #292329;
$base02: #695d69;
$base03: #776977;
$base04: #9e8f9e;
$base05: #ab9bab;
$base06: #d8cad8;
$base07: #f7f3f7;
$base08: #ca402b;
$base09: #a65926;
$base0a: #bb8a35;
$base0b: #918b3b;
$base0c: #159393;
$base0d: #516aec;
$base0e: #7b59c0;
$base0f: #cc33cc;
 
$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$cyan:    $base0c;
$blue:    $base0d;
$violet:  $base0e;
$magenta: $base0f;

@import "atelier-schemes";

