$base00: hsl(300, 5%, 10%);  /* #1b181b */
$base01: hsl(300, 8%, 15%);  /* #292329 */
$base02: hsl(300, 6%, 39%);  /* #695d69 */
$base03: hsl(300, 6%, 44%);  /* #776977 */
$base04: hsl(300, 7%, 59%);  /* #9e8f9e */
$base05: hsl(300, 9%, 64%);  /* #ab9bab */
$base06: hsl(300, 16%, 82%); /* #d8cad8 */
$base07: hsl(300, 20%, 96%); /* #f7f3f7 */
$base08: hsl(8, 65%, 48%);   /* #ca402b */
$base09: hsl(24, 63%, 40%);  /* #a65926 */
$base0a: hsl(38, 56%, 47%);  /* #bb8a35 */
$base0b: hsl(120, 47%, 41%); /* #379a37 */
$base0c: hsl(180, 75%, 33%); /* #159393 */
$base0d: hsl(230, 80%, 62%); /* #516aec */
$base0e: hsl(260, 45%, 55%); /* #7b59c0 */
$base0f: hsl(300, 60%, 50%); /* #c3c */

$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$cyan:    $base0c;
$blue:    $base0d;
$violet:  $base0e;
$magenta: $base0f;
 
@import "partials/atelier-schemes";

