$base03:  hsl(16, 5%, 10%);    /* #1b1918 */
$base02:  hsl(16, 15%, 15%);   /* #2c2421 */
$base01:  hsl(16, 5%, 39%);    /* #68615e */
$base00:  hsl(16, 5%, 44%);    /* #766e6b */
$base0:   hsl(16, 5%, 59%);    /* #9c9491 */
$base1:   hsl(16, 5%, 64%);    /* #a8a19f */
$base2:   hsl(16, 10%, 89%);   /* #e6e2e0 */
$base3:   hsl(16, 10%, 94%);   /* #f1efee */
$yellow:  hsl(38, 78%, 47%);   /* #d5911a */
$orange:  hsl(16, 75%, 50%);   /* #df5320 */
$red:     hsl(354, 88%, 56%);  /* #f22c40 */
$magenta: hsl(284, 88%, 60%);  /* #c33ff3 */
$violet:  hsl(240, 76%, 66%);  /* #6666ea */
$blue:    hsl(218, 78%, 58%);  /* #407ee7 */
$cyan:    hsl(174, 100%, 34%); /* #00ad9c */
$green:   hsl(104, 53%, 47%);  /* #5ab738 */

.wrap {
  margin: 0 4em; overflow: auto; padding: .5em 0 4em; 
}
.btn {
  padding: .5em 1em; 
  float: right; 
  font-size: 1em; 
  border-radius: .25em;
}

.unit { 
  float: left;
  width: 25%; 
  padding: 4em 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.outline .unit { 
  outline: 5px solid $base3; 
} 
.alt .outline .unit { 
  outline: 5px solid $base03; 
} 
.base03  { background-color: $base03; }
.base02  { background-color: $base02; }
.base01  { background-color: $base01; }
.base00  { background-color: $base00; }
.base0   { background-color: $base0; }
.base1   { background-color: $base1; }
.base2   { background-color: $base2; }
.base3   { background-color: $base3; }
.yellow  { background-color: $yellow; }
.orange  { background-color: $orange; }
.red     { background-color: $red; }
.magenta { background-color: $magenta; }
.violet  { background-color: $violet; }
.blue    { background-color: $blue; }
.cyan    { background-color: $cyan; }
.green   { background-color: $green; }

.sh-c {
  overflow: auto; 
  color: #1b1918 !important; 
} 
.sh-c-comm {
  padding: .25em .5em; 
}
.sh-c-light,
.sh-c-light .comment {
  color: #a8a19f !important; 
}
.sh-c-dark .comment {
  color: #1b1918 !important; 
}

article h3 {
  // margin-top: 1em;
  // border-bottom: none;
}

