@import "partials/base";

%unit-right {
  float: right;
} 
%mbm {
  margin-bottom: emCalc(16);
} 
%mtl {
  margin-top: emCalc(32);
} 
%mtm {
  margin-top: emCalc(16);
}  
%mbm {
  margin-bottom: emCalc(16);
} 
%mbl {
  margin-bottom: emCalc(32);
}
* {
  // outline: 1px dotted salmon; 
}
// buttons
.sh-button {
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
  @extend %unit-right;
}
.go-to-top {
  font-size: 2em;
  padding: .25em .25em .15em;
  @include border-radius(25%);
  background-color: rgba(black,.75);
  border-color: rgba(black,.4);
  border-width: 3px;
} 
.no-svg .go-to-top svg,
.svg .up-arrow {
  display: none; }

html {
  background-color: $body-bg;
} 
.repo-title { 
  text-shadow: -1px -1px 3px rgba(tint($sh-yellow-color,50),0.85),1px 1px 1px black,-10px 12px 7px rgba(black,.75);
  line-height: 1.25;
  color: transparent;
  margin-top: 2em; 
}

h1 a { 
  color: white;
  @include transition-property(all);
  @include transition-duration(1s);
//  background-color: rgba(black,.5);
  background-color: $sh-red-color;
  display: inline-block;
  padding: .25em .5em;
  border-style: solid;
  border-width: 2px 2px 1px 1px;
  border-color: rgba(black,.7) rgba(black,.3) rgba(white,.8) rgba(white,.7); 
  @include border-radius(7px);
  box-shadow: inset -7px 9px 24px rgba(black,.75);

}
h1 a:hover { 
  color: tint($sh-yellow-color, 75);
//  background-color: rgba(black,.75);
  background-color: darken($sh-red-color, 25);
  box-shadow: inset -7px 9px 24px black; 
  text-shadow: -10px 12px 7px black;
} 
.tagline { 
  color: tint($sh-yellow-color, 40);
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 0; 
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.85), 1px 1px 1px black, -4px 5px 4px rgba(0, 0, 0, 0.75);
  display: inline-block;
  margin-left: emCalc(5);
} 
.tagline:hover { 
  color: #fff;
} 
.header nav {
  position: fixed;
  top: 0;
  right: 0; 
  z-index: 1;
}

.header .inline-list > li > a {
  background-color: $sh-yellow-color;  
  color: #000;
  padding: emCalc(4) emCalc(16);
  margin-bottom: .5em;
  @include box-shadow (rgba(black,.35) 0 0 12px); 
  border-bottom-left-radius: emCalc(4);
  border-bottom-right-radius: emCalc(4); 
  border: 1px solid darken($sh-yellow-color, 15);
  border-top: none;
  line-height: 1.375;
  position: relative;
}
.header .inline-list > li > a:hover { 
  background-color: lighten($sh-yellow-color,15); 
}
.header .inline-list > li {
  margin-left: emCalc(8); 
}
.dropdown-atelier {
  padding-right: 2em !important;
}
.nav-anchor-links, .side-nav li a {
//  background-color: lighten($sh-blue-color,60);  
  color: darken($sh-red-color, 10); 
} 
.side-nav {
  margin: .35em 0 -.5em -1em;
  padding: 1em 0 1em 1em;
  background-color: rgba(white,.5);
  @include skew(0deg,4deg);
  border: 2px solid rgba(black,.15);
  border-right-width: 1px;
  border-left: none;
  @include border-radius(3px);
} 
.side-nav span {
 position: relative;
 padding: .25em .5em;
 @include transition-property(background-color);
 @include transition-duration(.7s); 
} 
.side-nav a span[style] {
  color: #111;
}
.side-nav a:hover span[style] {
  background-color: transparent !important; 
} 
.side-nav a span:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin-left: 100%;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 12px solid transparent;
}
.side-nav a:hover span:after { 
	border-left-color: #b30;
} 
a, 
.header .inline-list > li > a,
.side-nav li a {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
} 
footer a {
  color: $sh-red-color; 
} 
.side-nav a:hover span[style],
footer a:hover, 
.side-nav li a:hover { 
  color: darken($sh-red-color, 5); 
}
.underline:hover, 
.side-nav li a:hover { 
  text-decoration: underline;
} 
.copyright {
  background-color: #ffd5c7;
  padding: .25em .25em .25em 1.25em;
  border: 1px solid rgb(131, 126, 124);
  border-bottom-color: rgba(255, 247, 244,.75);
  border-left-color: rgba(131, 126, 124,.8);
  border-right-color: rgba(255, 247, 244,.5); 
  @include box-shadow (rgb(131, 126, 124) 1px 2px 12px inset);
  @include border-radius(3px);
}
article { 
  padding-top: emCalc(32);
  padding-bottom: emCalc(32);
  background-color: #fbfbfb;
}
article p,
article ul,
article ol {
  margin: 0;
  padding: emCalc(8) 0; 
  line-height: 1.375;
} 
article ol,
article ul {
  list-style: none;
}
article h3 + p,
article h3 + ul {
  //  padding-top: 0; 
  margin-top: 1px;
  border-top: 2px solid darken($sh-bg-color,15%);
} 
article h3 {
  margin: 0;
  padding: emCalc(8) 0 0; 
  border-bottom: 1px solid $sh-bg-color;
} 
article > pre {
  @extend %mbm; 
} 
article a {
  color: adjust-hue($sh-blue-color,-20);
}
article ul a {
  display: block;
  padding: .25em 0;
} 
.inline-block-list a { 
  display: inline-block; 
}
pre[class^="base"] {
  padding: 12px; 
  @include border-radius(5px); 
  margin: .5em 0;
}
pre,
code {
  font-family: $sh-code-font-family; 
}
pre > code {
  font-size: emCalc(14); 
  line-height: 1.375;
  font-weight: normal;
  color: $sh-code-color;
}

.base00-background code,
.base00-background code[class*="language-"] {
  background: transparent; 
}
/* figure */ 
.sh-screenshot { 
  padding: emCalc(2); 
  border: 2px solid darken($sh-bg-color,25%); 
  background-color: darken($sh-bg-color,15%); 
  outline: 1px solid darken($sh-bg-color,35%); 
} 
.sh-square-400 {
  max-width: 410px; 
}
.img-block {
  display: block;
  margin: 0 auto; 
}
.fig-cap {
  padding: emCalc(16) emCalc(8) emCalc(8); 
} 
.sh-screenshot .fig-cap {
  // background-color: rgba(white,.5); 
  background-color: $sh-bg-color; 
}
.fig-cap pre {
  font-size: emCalc(13); 
}
.mtl,
.page-footer {
  @extend %mtl; 
}
.mtm {
  @extend %mtm; 
} 
.mbm {
  @extend %mbm; 
} 
.mbl {
  @extend %mbl; 
} 
.no-border {
  border: none; 
}
.sh-small {
  font-size: emCalc(9);
}
.note {
  color: #000;
  background-color: tint($sh-yellow-color, 40); 
  border: 1px solid $sh-yellow-color;
  padding: emCalc(16) emCalc(24);
  margin-bottom: emCalc(32);
  @include box-shadow (rgba(black,.35) -4px 6px 8px);
  ;
  font-size: emCalc(16);
  // @include border-radius(3px);
}
i {
  font-style: normal; 
  font-weight: normal !important;
  font-family: $body-font-family !important;
  color: #444;
} 
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@media only screen and (min-width: 550px) {

  .inner-wrap {
    margin-left: 10%;
    margin-right: 10%;
  } 
  article {
    ul {
      list-style: circle;
    } 
    ol {
      list-style: decimal;
    } 
  }
} 
@media only screen and (min-width: 768px) { 

  .repo-title { 
    margin-top: .25em;
  }
  .header nav {
    position: static;
    top: auto;
    right: auto; 
  } 
  .tagline {
    display: block;
  }
  article { 
    border-radius: emCalc(4);
    // border-top-left-radius: 0;
    border: 1px solid darken($sh-bg-color,15%);
    @include box-shadow (rgba(black,.15) -8px 16px 12px);
  } 
  .inner-wrap {
    margin-left: 5%;
    margin-right: 0;
  } 
  .nav-anchor-links {
    width: 23%;  
    right: 75%;
    top: emCalc(128);
    right: calc(75% - 1px); 
    border: 1px solid darken($sh-bg-color,15%);
    border-right-color: $sh-bg-color;
    border-top-left-radius: emCalc(4);
    border-bottom-left-radius: emCalc(4);
    @include box-shadow (rgba(black,.20) -6px 8px 9px);
    @include skew(0deg,-4deg);
    @include background-image(linear-gradient(left, lighten($sh-blue-color,60), lighten($sh-blue-color,60) 97.5%, lighten($sh-blue-color,50)));
  }
  .note {
    padding: emCalc(32);
  }

}
@media only screen and (min-width: 940px) {
  .inner-wrap {
    margin-right: 7.5%;
  } 
   article p {
    font-size: emCalc(18);
  }  
} 
@media only screen and (min-width: 1280px) {
  .inner-wrap {
    margin-right: 12.5%;
  } 
} 
@media only screen and (min-width: 1680px) {
  .sh-prism .note {
    float: right;
    margin-right: -72%;
    width: 50%;
    margin-top: -100%; 
    padding: emCalc(16) emCalc(32);
  }
} 

