$base00: #131513;
$base01: #242924;
$base02: #5e6e5e;
$base03: #687d68;
$base04: #809980;
$base05: #8ca68c;
$base06: #cfe8cf;
$base07: #f4fbf4;
$base08: #e6193c;
$base09: #87711d;
$base0a: #98981b;
$base0b: #29a329;
$base0c: #1999b3;
$base0d: #3d62f5;
$base0e: #ad2bee;
$base0f: #e619c3;

$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$cyan:    $base0c;
$blue:    $base0d;
$violet:  $base0e;
$magenta: $base0f;

@import "partials/atelier-schemes";
