/*

    Name:       Base16 Atelier Heath Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-atelierheath-dark.CodeMirror {background: #1b181b; color: #d8cad8;}
.cm-s-base16-atelierheath-dark div.CodeMirror-selected {background: #292329 !important;}
.cm-s-base16-atelierheath-dark .CodeMirror-gutters {background: #1b181b; border-right: 0px;}
.cm-s-base16-atelierheath-dark .CodeMirror-linenumber {color: #776977;}
.cm-s-base16-atelierheath-dark .CodeMirror-cursor {border-left: 1px solid #9e8f9e !important;}

.cm-s-base16-atelierheath-dark span.cm-comment {color: #cc33cc;}
.cm-s-base16-atelierheath-dark span.cm-atom {color: #7b59c0;}
.cm-s-base16-atelierheath-dark span.cm-number {color: #7b59c0;}

.cm-s-base16-atelierheath-dark span.cm-property, .cm-s-base16-atelierheath-dark span.cm-attribute {color: #918b3b;}
.cm-s-base16-atelierheath-dark span.cm-keyword {color: #ca402b;}
.cm-s-base16-atelierheath-dark span.cm-string {color: #bb8a35;}

.cm-s-base16-atelierheath-dark span.cm-variable {color: #918b3b;}
.cm-s-base16-atelierheath-dark span.cm-variable-2 {color: #516aec;}
.cm-s-base16-atelierheath-dark span.cm-def {color: #a65926;}
.cm-s-base16-atelierheath-dark span.cm-error {background: #ca402b; color: #9e8f9e;}
.cm-s-base16-atelierheath-dark span.cm-bracket {color: #d8cad8;}
.cm-s-base16-atelierheath-dark span.cm-tag {color: #ca402b;}
.cm-s-base16-atelierheath-dark span.cm-link {color: #7b59c0;}

.cm-s-base16-atelierheath-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
