/*

    Name:       Base16 Atelier Cave Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #f4f0fa;}
a {color: #6577d2;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #3c2956;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #955ae7;}
div.output_prompt {color: #c15cc1;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #9b8eaf;
}
div.output_area pre {font-weight: normal; color: #624e7e;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #6e588d solid;
  color: #6e588d;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #624e7e;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #c15cc1;}
div.text_cell_render, div.output_html {color: #624e7e;}

span.ansiblack {color: #3c2956;}
span.ansiblue {color: #328fae;}
span.ansigray {color: #897b9d;}
span.ansigreen {color: #74875a;}
span.ansipurple {color: #955ae7;}
span.ansired {color: #cf598a;}
span.ansiyellow {color: #a08f3b;}

div.output_stderr {background-color: #cf598a;}
div.output_stderr pre {color: #e4dfec;}

.cm-s-ipython.CodeMirror {background: #f4f0fa; color: #3c2956;}
.cm-s-ipython div.CodeMirror-selected {background: #e4dfec !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f4f0fa; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #897b9d;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #6e588d !important;}

.cm-s-ipython span.cm-comment {color: #c15cc1;}
.cm-s-ipython span.cm-atom {color: #955ae7;}
.cm-s-ipython span.cm-number {color: #955ae7;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #74875a;}
.cm-s-ipython span.cm-keyword {color: #cf598a;}
.cm-s-ipython span.cm-string {color: #a08f3b;}
.cm-s-ipython span.cm-operator {color: #c15cc1;}
.cm-s-ipython span.cm-builtin {color: #955ae7;}

.cm-s-ipython span.cm-variable {color: #74875a;}
.cm-s-ipython span.cm-variable-2 {color: #6577d2;}
.cm-s-ipython span.cm-def {color: #bf674a;}
.cm-s-ipython span.cm-error {background: #cf598a; color: #6e588d;}
.cm-s-ipython span.cm-bracket {color: #624e7e;}
.cm-s-ipython span.cm-tag {color: #cf598a;}
.cm-s-ipython span.cm-link {color: #955ae7;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #3c2956 !important;}
