/*

    Name:       Base16 Atelier Savanna Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #171c19;}
a {color: #478c90;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #dfe7e2;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #867469;}
div.output_prompt {color: #55859b;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #526057;
}
div.output_area pre {font-weight: normal; color: #87928a;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #87928a solid;
  color: #87928a;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #87928a;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #55859b;}
div.text_cell_render, div.output_html {color: #87928a;}

span.ansiblack {color: #232a25;}
span.ansiblue {color: #1c9aa0;}
span.ansigray {color: #78877d;}
span.ansigreen {color: #489963;}
span.ansipurple {color: #55859b;}
span.ansired {color: #b16139;}
span.ansiyellow {color: #a07e3b;}

div.output_stderr {background-color: #b16139;}
div.output_stderr pre {color: #dfe7e2;}

.cm-s-ipython.CodeMirror {background: #171c19; color: #dfe7e2;}
.cm-s-ipython div.CodeMirror-selected {background: #232a25 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #171c19; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #5f6d64;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #78877d !important;}

.cm-s-ipython span.cm-comment {color: #867469;}
.cm-s-ipython span.cm-atom {color: #55859b;}
.cm-s-ipython span.cm-number {color: #55859b;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #489963;}
.cm-s-ipython span.cm-keyword {color: #b16139;}
.cm-s-ipython span.cm-string {color: #a07e3b;}
.cm-s-ipython span.cm-operator {color: #867469;}
.cm-s-ipython span.cm-builtin {color: #55859b;}

.cm-s-ipython span.cm-variable {color: #489963;}
.cm-s-ipython span.cm-variable-2 {color: #478c90;}
.cm-s-ipython span.cm-def {color: #9f713c;}
.cm-s-ipython span.cm-error {background: #b16139; color: #78877d;}
.cm-s-ipython span.cm-bracket {color: #87928a;}
.cm-s-ipython span.cm-tag {color: #b16139;}
.cm-s-ipython span.cm-link {color: #55859b;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #dfe7e2 !important;}
