/* #1b181b */
/* #292329 */
/* #695d69 */
/* #776977 */
/* #9e8f9e */
/* #ab9bab */
/* #d8cad8 */
/* #f7f3f7 */
/* #ca402b */
/* #a65926 */
/* #bb8a35 */
/* #379a37 */
/* #159393 */
/* #516aec */
/* #7b59c0 */
/* #c3c */
/* line 1, ../scss/partials/_atelier-schemes.scss */
.wrap {
  margin: 0 4em;
  overflow: auto;
  padding: .5em 0 4em;
}

/* line 4, ../scss/partials/_atelier-schemes.scss */
.btn {
  padding: .5em 1em;
  float: right;
  font-size: 1em;
  border-radius: .25em;
}

/* line 11, ../scss/partials/_atelier-schemes.scss */
.unit {
  float: left;
  width: 25%;
  padding: 4em 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../scss/partials/_atelier-schemes.scss */
.outline .unit {
  outline: 5px solid #f7f3f7;
}

/* line 23, ../scss/partials/_atelier-schemes.scss */
.alt .outline .unit {
  outline: 5px solid #1b181b;
}

/* line 26, ../scss/partials/_atelier-schemes.scss */
.base00-background {
  background-color: #1b181b;
}

/* line 27, ../scss/partials/_atelier-schemes.scss */
.base01-background {
  background-color: #292329;
}

/* line 28, ../scss/partials/_atelier-schemes.scss */
.base02-background {
  background-color: #695d69;
}

/* line 29, ../scss/partials/_atelier-schemes.scss */
.base03-background {
  background-color: #776977;
}

/* line 30, ../scss/partials/_atelier-schemes.scss */
.base04-background {
  background-color: #9e8f9e;
}

/* line 31, ../scss/partials/_atelier-schemes.scss */
.base05-background {
  background-color: #ab9bab;
}

/* line 32, ../scss/partials/_atelier-schemes.scss */
.base06-background {
  background-color: #d8cad8;
}

/* line 33, ../scss/partials/_atelier-schemes.scss */
.base07-background {
  background-color: #f7f3f7;
}

/* line 35, ../scss/partials/_atelier-schemes.scss */
.base08-background,
.red-background {
  background-color: #ca402b;
}

/* line 37, ../scss/partials/_atelier-schemes.scss */
.base09-background,
.orange-background {
  background-color: #a65926;
}

/* line 39, ../scss/partials/_atelier-schemes.scss */
.base0A-background,
.yellow-background {
  background-color: #bb8a35;
}

/* line 41, ../scss/partials/_atelier-schemes.scss */
.base0B-background,
.green-background {
  background-color: #379a37;
}

/* line 43, ../scss/partials/_atelier-schemes.scss */
.base0C-background,
.cyan-background {
  background-color: #159393;
}

/* line 45, ../scss/partials/_atelier-schemes.scss */
.base0D-background,
.blue-background {
  background-color: #516aec;
}

/* line 47, ../scss/partials/_atelier-schemes.scss */
.base0E-background,
.violet-background {
  background-color: #7b59c0;
}

/* line 49, ../scss/partials/_atelier-schemes.scss */
.base0F-background,
.magenta-background {
  background-color: #cc33cc;
}

/* line 51, ../scss/partials/_atelier-schemes.scss */
.base00 {
  color: #1b181b;
}

/* line 52, ../scss/partials/_atelier-schemes.scss */
.base01 {
  color: #292329;
}

/* line 53, ../scss/partials/_atelier-schemes.scss */
.base02 {
  color: #695d69;
}

/* line 54, ../scss/partials/_atelier-schemes.scss */
.base03 {
  color: #776977;
}

/* line 55, ../scss/partials/_atelier-schemes.scss */
.base04 {
  color: #9e8f9e;
}

/* line 56, ../scss/partials/_atelier-schemes.scss */
.base05 {
  color: #ab9bab;
}

/* line 57, ../scss/partials/_atelier-schemes.scss */
.base06 {
  color: #d8cad8;
}

/* line 58, ../scss/partials/_atelier-schemes.scss */
.base07 {
  color: #f7f3f7;
}

/* line 60, ../scss/partials/_atelier-schemes.scss */
.base08,
.red {
  color: #ca402b;
}

/* line 62, ../scss/partials/_atelier-schemes.scss */
.base09,
.orange {
  color: #a65926;
}

/* line 64, ../scss/partials/_atelier-schemes.scss */
.base0A,
.yellow {
  color: #bb8a35;
}

/* line 66, ../scss/partials/_atelier-schemes.scss */
.base0B,
.green {
  color: #379a37;
}

/* line 68, ../scss/partials/_atelier-schemes.scss */
.base0C,
.cyan {
  color: #159393;
}

/* line 70, ../scss/partials/_atelier-schemes.scss */
.base0D,
.blue {
  color: #516aec;
}

/* line 72, ../scss/partials/_atelier-schemes.scss */
.base0E,
.violet {
  color: #7b59c0;
}

/* line 74, ../scss/partials/_atelier-schemes.scss */
.base0F,
.magenta {
  color: #cc33cc;
}

/* line 76, ../scss/partials/_atelier-schemes.scss */
pre[class*="language"].base00-background {
  background-color: #1b181b;
}

/* line 79, ../scss/partials/_atelier-schemes.scss */
.sh-c {
  overflow: auto;
  color: #1b1918 !important;
}

/* line 83, ../scss/partials/_atelier-schemes.scss */
.sh-c-comm {
  padding: .2em .5em;
  display: inline-block;
}

/* line 88, ../scss/partials/_atelier-schemes.scss */
.sh-c-light,
.sh-c-light .comment {
  color: #a8a19f !important;
}

/* line 92, ../scss/partials/_atelier-schemes.scss */
.sh-c-dark,
.sh-c-dark .comment {
  color: #1b1918 !important;
}
