/* #1b1918 */
/* #2c2421 */
/* #68615e */
/* #766e6b */
/* #9c9491 */
/* #a8a19f */
/* #e6e2e0 */
/* #f1efee */
/* #f22c40 */
/* #df5320 */
/* #d5911a */
/* #5ab738 */
/* #00ad9c */
/* #407ee7 */
/* #6666ea */
/* #c33ff3 */
/* line 27, ../scss/kermis.scss */
.wrap {
  margin: 0 4em;
  overflow: auto;
  padding: .5em 0 4em;
}

/* line 30, ../scss/kermis.scss */
.btn {
  padding: .5em 1em;
  float: right;
  font-size: 1em;
  border-radius: .25em;
}

/* line 37, ../scss/kermis.scss */
.unit {
  float: left;
  width: 25%;
  padding: 4em 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../scss/kermis.scss */
.outline .unit {
  outline: 5px solid #f1efee;
}

/* line 49, ../scss/kermis.scss */
.alt .outline .unit {
  outline: 5px solid #1b1918;
}

/* line 52, ../scss/kermis.scss */
.base00 {
  background-color: #1b1918;
}

/* line 53, ../scss/kermis.scss */
.base01 {
  background-color: #2c2421;
}

/* line 54, ../scss/kermis.scss */
.base02 {
  background-color: #68615e;
}

/* line 55, ../scss/kermis.scss */
.base03 {
  background-color: #766e6b;
}

/* line 56, ../scss/kermis.scss */
.base04 {
  background-color: #9c9491;
}

/* line 57, ../scss/kermis.scss */
.base05 {
  background-color: #a8a19f;
}

/* line 58, ../scss/kermis.scss */
.base06 {
  background-color: #e6e2e0;
}

/* line 59, ../scss/kermis.scss */
.base07 {
  background-color: #f1efee;
}

/* line 60, ../scss/kermis.scss */
.yellow {
  background-color: #d5911a;
}

/* line 61, ../scss/kermis.scss */
.orange {
  background-color: #df5320;
}

/* line 62, ../scss/kermis.scss */
.red {
  background-color: #f22c40;
}

/* line 63, ../scss/kermis.scss */
.magenta {
  background-color: #c33ff3;
}

/* line 64, ../scss/kermis.scss */
.violet {
  background-color: #6666ea;
}

/* line 65, ../scss/kermis.scss */
.blue {
  background-color: #407ee7;
}

/* line 66, ../scss/kermis.scss */
.cyan {
  background-color: #00ad9c;
}

/* line 67, ../scss/kermis.scss */
.green {
  background-color: #5ab738;
}

/* line 69, ../scss/kermis.scss */
.sh-c {
  overflow: auto;
  color: #1b1918 !important;
}

/* line 73, ../scss/kermis.scss */
.sh-c-comm {
  padding: .25em .5em;
}

/* line 77, ../scss/kermis.scss */
.sh-c-light,
.sh-c-light .comment {
  color: #a8a19f !important;
}

/* line 81, ../scss/kermis.scss */
.sh-c-dark,
.sh-c-dark .comment {
  color: #1b1918 !important;
}
