/* #161b1d; */
/* #1f292e; */
/* #516d7b; */
/* #5a7b8c; */
/* #7195a8; */
/* #7ea2b4; */
/* #c1e4f6; */
/* #ebf8ff; */
/* #d22d72; */
/* #935c25; */
/* #8a8a0f; */
/* #568c3b; */
/* #2d8f6f; */
/* #257fad; */
/* #5d5db1; */
/* #b72dd2; */
/* line 1, ../scss/partials/_atelier-schemes.scss */
.wrap {
  margin: 0 4em;
  overflow: auto;
  padding: .5em 0 4em;
}

/* line 4, ../scss/partials/_atelier-schemes.scss */
.btn {
  padding: .5em 1em;
  float: right;
  font-size: 1em;
  border-radius: .25em;
}

/* line 11, ../scss/partials/_atelier-schemes.scss */
.unit {
  float: left;
  width: 25%;
  padding: 4em 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../scss/partials/_atelier-schemes.scss */
.outline .unit {
  outline: 5px solid #ebf8ff;
}

/* line 23, ../scss/partials/_atelier-schemes.scss */
.alt .outline .unit {
  outline: 5px solid #161b1d;
}

/* line 26, ../scss/partials/_atelier-schemes.scss */
.base00-background {
  background-color: #161b1d;
}

/* line 27, ../scss/partials/_atelier-schemes.scss */
.base01-background {
  background-color: #1f292e;
}

/* line 28, ../scss/partials/_atelier-schemes.scss */
.base02-background {
  background-color: #516d7b;
}

/* line 29, ../scss/partials/_atelier-schemes.scss */
.base03-background {
  background-color: #5a7b8c;
}

/* line 30, ../scss/partials/_atelier-schemes.scss */
.base04-background {
  background-color: #7195a8;
}

/* line 31, ../scss/partials/_atelier-schemes.scss */
.base05-background {
  background-color: #7ea2b4;
}

/* line 32, ../scss/partials/_atelier-schemes.scss */
.base06-background {
  background-color: #c1e4f6;
}

/* line 33, ../scss/partials/_atelier-schemes.scss */
.base07-background {
  background-color: #ebf8ff;
}

/* line 35, ../scss/partials/_atelier-schemes.scss */
.base08-background,
.red-background {
  background-color: #d22d72;
}

/* line 37, ../scss/partials/_atelier-schemes.scss */
.base09-background,
.orange-background {
  background-color: #935c25;
}

/* line 39, ../scss/partials/_atelier-schemes.scss */
.base0A-background,
.yellow-background {
  background-color: #8a8a0f;
}

/* line 41, ../scss/partials/_atelier-schemes.scss */
.base0B-background,
.green-background {
  background-color: #568c3b;
}

/* line 43, ../scss/partials/_atelier-schemes.scss */
.base0C-background,
.cyan-background {
  background-color: #2d8f6f;
}

/* line 45, ../scss/partials/_atelier-schemes.scss */
.base0D-background,
.blue-background {
  background-color: #257fad;
}

/* line 47, ../scss/partials/_atelier-schemes.scss */
.base0E-background,
.violet-background {
  background-color: #5d5db1;
}

/* line 49, ../scss/partials/_atelier-schemes.scss */
.base0F-background,
.magenta-background {
  background-color: #b72dd2;
}

/* line 51, ../scss/partials/_atelier-schemes.scss */
.base00 {
  color: #161b1d;
}

/* line 52, ../scss/partials/_atelier-schemes.scss */
.base01 {
  color: #1f292e;
}

/* line 53, ../scss/partials/_atelier-schemes.scss */
.base02 {
  color: #516d7b;
}

/* line 54, ../scss/partials/_atelier-schemes.scss */
.base03 {
  color: #5a7b8c;
}

/* line 55, ../scss/partials/_atelier-schemes.scss */
.base04 {
  color: #7195a8;
}

/* line 56, ../scss/partials/_atelier-schemes.scss */
.base05 {
  color: #7ea2b4;
}

/* line 57, ../scss/partials/_atelier-schemes.scss */
.base06 {
  color: #c1e4f6;
}

/* line 58, ../scss/partials/_atelier-schemes.scss */
.base07 {
  color: #ebf8ff;
}

/* line 60, ../scss/partials/_atelier-schemes.scss */
.base08,
.red {
  color: #d22d72;
}

/* line 62, ../scss/partials/_atelier-schemes.scss */
.base09,
.orange {
  color: #935c25;
}

/* line 64, ../scss/partials/_atelier-schemes.scss */
.base0A,
.yellow {
  color: #8a8a0f;
}

/* line 66, ../scss/partials/_atelier-schemes.scss */
.base0B,
.green {
  color: #568c3b;
}

/* line 68, ../scss/partials/_atelier-schemes.scss */
.base0C,
.cyan {
  color: #2d8f6f;
}

/* line 70, ../scss/partials/_atelier-schemes.scss */
.base0D,
.blue {
  color: #257fad;
}

/* line 72, ../scss/partials/_atelier-schemes.scss */
.base0E,
.violet {
  color: #5d5db1;
}

/* line 74, ../scss/partials/_atelier-schemes.scss */
.base0F,
.magenta {
  color: #b72dd2;
}

/* line 76, ../scss/partials/_atelier-schemes.scss */
pre[class*="language"].base00-background {
  background-color: #161b1d;
}

/* line 79, ../scss/partials/_atelier-schemes.scss */
.sh-c {
  overflow: auto;
  color: #1b1918 !important;
}

/* line 83, ../scss/partials/_atelier-schemes.scss */
.sh-c-comm {
  padding: .2em .5em;
  display: inline-block;
}

/* line 88, ../scss/partials/_atelier-schemes.scss */
.sh-c-light,
.sh-c-light .comment {
  color: #a8a19f !important;
}

/* line 92, ../scss/partials/_atelier-schemes.scss */
.sh-c-dark,
.sh-c-dark .comment {
  color: #1b1918 !important;
}
