/**
 * Base16 Duotone-DarkSea Light
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
@base00: #1d262f;
@base01: #303f4f;
@base02: #556e8b;
@base03: #6e88a6;
@base04: #75a0d1;
@base05: #91c1f8;
@base06: #b8d9fe;
@base07: #ebf4ff;
@base08: #52a3ff;
@base09: #30c090;
@base0a: #3bce9d;
@base0b: #708f85;
@base0c: #68d9b4;
@base0d: #54d4a9;
@base0e: #85beff;
@base0f: #6bb0ff;

pre {
    background-color: @base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: @base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: @base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: @base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: @base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: @base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: @base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: @base0d; // blue
}

pre .keyword, pre .storage {
    color: @base0e; // purple
}
