// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #695d69;
@syntax-cursor-color: #695d69;
@syntax-selection-color: #d8cad8;
@syntax-background-color: #f7f3f7;

// Guide colors
@syntax-wrap-guide-color: #d8cad8;
@syntax-indent-guide-color: #d8cad8;
@syntax-invisible-character-color: #d8cad8;

// For find and replace markers
@syntax-result-marker-color: #d8cad8;
@syntax-result-marker-color-selected: #695d69;

// Gutter colors
@syntax-gutter-text-color: #695d69;
@syntax-gutter-text-color-selected: #695d69;
@syntax-gutter-background-color: #f7f3f7;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #516aec;
@syntax-color-added: #918b3b;
@syntax-color-modified: #bb8a35;
@syntax-color-removed: #ca402b;