// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #526057;
@syntax-cursor-color: #526057;
@syntax-selection-color: #dfe7e2;
@syntax-background-color: #ecf4ee;

// Guide colors
@syntax-wrap-guide-color: #dfe7e2;
@syntax-indent-guide-color: #dfe7e2;
@syntax-invisible-character-color: #dfe7e2;

// For find and replace markers
@syntax-result-marker-color: #dfe7e2;
@syntax-result-marker-color-selected: #526057;

// Gutter colors
@syntax-gutter-text-color: #526057;
@syntax-gutter-text-color-selected: #526057;
@syntax-gutter-background-color: #ecf4ee;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #478c90;
@syntax-color-added: #489963;
@syntax-color-modified: #a07e3b;
@syntax-color-removed: #b16139;