/*

    Name:       Base16 Duotone-DarkEarth Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-earth-syntax/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-duotone-darkearth-dark.CodeMirror {background: #322d29; color: #fed4b8;}
.cm-s-base16-duotone-darkearth-dark div.CodeMirror-selected {background: #4c4642 !important;}
.cm-s-base16-duotone-darkearth-dark .CodeMirror-gutters {background: #322d29; border-right: 0px;}
.cm-s-base16-duotone-darkearth-dark .CodeMirror-linenumber {color: #85786f;}
.cm-s-base16-duotone-darkearth-dark .CodeMirror-cursor {border-left: 1px solid #ac9b91 !important;}

.cm-s-base16-duotone-darkearth-dark span.cm-comment {color: #c39d83;}
.cm-s-base16-duotone-darkearth-dark span.cm-atom {color: #c8ab98;}
.cm-s-base16-duotone-darkearth-dark span.cm-number {color: #c8ab98;}

.cm-s-base16-duotone-darkearth-dark span.cm-property, .cm-s-base16-duotone-darkearth-dark span.cm-attribute {color: #a89771;}
.cm-s-base16-duotone-darkearth-dark span.cm-keyword {color: #c08e6d;}
.cm-s-base16-duotone-darkearth-dark span.cm-string {color: #ccad66;}

.cm-s-base16-duotone-darkearth-dark span.cm-variable {color: #a89771;}
.cm-s-base16-duotone-darkearth-dark span.cm-variable-2 {color: #d7b975;}
.cm-s-base16-duotone-darkearth-dark span.cm-def {color: #bfa05a;}
.cm-s-base16-duotone-darkearth-dark span.cm-error {background: #c08e6d; color: #ac9b91;}
.cm-s-base16-duotone-darkearth-dark span.cm-bracket {color: #fed4b8;}
.cm-s-base16-duotone-darkearth-dark span.cm-tag {color: #c08e6d;}
.cm-s-base16-duotone-darkearth-dark span.cm-link {color: #c8ab98;}

.cm-s-base16-duotone-darkearth-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
