/*

    Name:       Base16 Duotone-DarkSea Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-duotone-darksea-dark.CodeMirror {background: #1d262f; color: #b8d9fe;}
.cm-s-base16-duotone-darksea-dark div.CodeMirror-selected {background: #303f4f !important;}
.cm-s-base16-duotone-darksea-dark .CodeMirror-gutters {background: #1d262f; border-right: 0px;}
.cm-s-base16-duotone-darksea-dark .CodeMirror-linenumber {color: #6e88a6;}
.cm-s-base16-duotone-darksea-dark .CodeMirror-cursor {border-left: 1px solid #75a0d1 !important;}

.cm-s-base16-duotone-darksea-dark span.cm-comment {color: #6bb0ff;}
.cm-s-base16-duotone-darksea-dark span.cm-atom {color: #85beff;}
.cm-s-base16-duotone-darksea-dark span.cm-number {color: #85beff;}

.cm-s-base16-duotone-darksea-dark span.cm-property, .cm-s-base16-duotone-darksea-dark span.cm-attribute {color: #708f85;}
.cm-s-base16-duotone-darksea-dark span.cm-keyword {color: #52a3ff;}
.cm-s-base16-duotone-darksea-dark span.cm-string {color: #3bce9d;}

.cm-s-base16-duotone-darksea-dark span.cm-variable {color: #708f85;}
.cm-s-base16-duotone-darksea-dark span.cm-variable-2 {color: #54d4a9;}
.cm-s-base16-duotone-darksea-dark span.cm-def {color: #30c090;}
.cm-s-base16-duotone-darksea-dark span.cm-error {background: #52a3ff; color: #75a0d1;}
.cm-s-base16-duotone-darksea-dark span.cm-bracket {color: #b8d9fe;}
.cm-s-base16-duotone-darksea-dark span.cm-tag {color: #52a3ff;}
.cm-s-base16-duotone-darksea-dark span.cm-link {color: #85beff;}

.cm-s-base16-duotone-darksea-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
