/*

    Name:       Base16 Duotone-Dark Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-duotone-dark-light.CodeMirror {background: #eeebff; color: #423f50;}
.cm-s-base16-duotone-dark-light div.CodeMirror-selected {background: #c4b8fe !important;}
.cm-s-base16-duotone-dark-light .CodeMirror-gutters {background: #eeebff; border-right: 0px;}
.cm-s-base16-duotone-dark-light .CodeMirror-linenumber {color: #837bad;}
.cm-s-base16-duotone-dark-light .CodeMirror-cursor {border-left: 1px solid #726e87 !important;}

.cm-s-base16-duotone-dark-light span.cm-comment {color: #8e81cf;}
.cm-s-base16-duotone-dark-light span.cm-atom {color: #a49bcf;}
.cm-s-base16-duotone-dark-light span.cm-number {color: #a49bcf;}

.cm-s-base16-duotone-dark-light span.cm-property, .cm-s-base16-duotone-dark-light span.cm-attribute {color: #7c756e;}
.cm-s-base16-duotone-dark-light span.cm-keyword {color: #7765d2;}
.cm-s-base16-duotone-dark-light span.cm-string {color: #d48535;}

.cm-s-base16-duotone-dark-light span.cm-variable {color: #7c756e;}
.cm-s-base16-duotone-dark-light span.cm-variable-2 {color: #de9145;}
.cm-s-base16-duotone-dark-light span.cm-def {color: #c07830;}
.cm-s-base16-duotone-dark-light span.cm-error {background: #7765d2; color: #726e87;}
.cm-s-base16-duotone-dark-light span.cm-bracket {color: #423f50;}
.cm-s-base16-duotone-dark-light span.cm-tag {color: #7765d2;}
.cm-s-base16-duotone-dark-light span.cm-link {color: #a49bcf;}

.cm-s-base16-duotone-dark-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
