/*

    Name:       Base16 Duotone-DarkForest Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-forest-syntax/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-duotone-darkforest-light.CodeMirror {background: #f0fff0; color: #3f4a3f;}
.cm-s-base16-duotone-darkforest-light div.CodeMirror-selected {background: #8bfe8b !important;}
.cm-s-base16-duotone-darkforest-light .CodeMirror-gutters {background: #f0fff0; border-right: 0px;}
.cm-s-base16-duotone-darkforest-light .CodeMirror-linenumber {color: #80a380;}
.cm-s-base16-duotone-darkforest-light .CodeMirror-cursor {border-left: 1px solid #698669 !important;}

.cm-s-base16-duotone-darkforest-light span.cm-comment {color: #65bd65;}
.cm-s-base16-duotone-darkforest-light span.cm-atom {color: #77c577;}
.cm-s-base16-duotone-darkforest-light span.cm-number {color: #77c577;}

.cm-s-base16-duotone-darkforest-light span.cm-property, .cm-s-base16-duotone-darkforest-light span.cm-attribute {color: #919966;}
.cm-s-base16-duotone-darkforest-light span.cm-keyword {color: #54b654;}
.cm-s-base16-duotone-darkforest-light span.cm-string {color: #afc059;}

.cm-s-base16-duotone-darkforest-light span.cm-variable {color: #919966;}
.cm-s-base16-duotone-darkforest-light span.cm-variable-2 {color: #bed161;}
.cm-s-base16-duotone-darkforest-light span.cm-def {color: #a1b34d;}
.cm-s-base16-duotone-darkforest-light span.cm-error {background: #54b654; color: #698669;}
.cm-s-base16-duotone-darkforest-light span.cm-bracket {color: #3f4a3f;}
.cm-s-base16-duotone-darkforest-light span.cm-tag {color: #54b654;}
.cm-s-base16-duotone-darkforest-light span.cm-link {color: #77c577;}

.cm-s-base16-duotone-darkforest-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
