/*
Name:       Duotone-DarkCave
Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/

.cm-s-duotone-darkcave-dark.CodeMirror {background: #272526; color: #50494b;}
.cm-s-duotone-darkcave-dark div.CodeMirror-selected {background: #353133 !important;}
.cm-s-duotone-darkcave-dark .CodeMirror-gutters {background: #272526; border-right: 0px;}
.cm-s-duotone-darkcave-dark .CodeMirror-linenumber {color: #423d3f;}
.cm-s-duotone-darkcave-dark .CodeMirror-cursor {border-left: 1px solid #5f5458 !important;}
.cm-s-duotone-darkcave-dark .CodeMirror-activeline-background {background: #353133;}

.cm-s-duotone-darkcave-dark span.cm-comment {color: #50494b;}
.cm-s-duotone-darkcave-dark span.cm-atom, .cm-s-duotone-darkcave-dark span.cm-number, .cm-s-duotone-darkcave-dark span.cm-keyword, .cm-s-duotone-darkcave-dark span.cm-variable, .cm-s-duotone-darkcave-dark span.cm-attribute,  .cm-s-duotone-darkcave-dark span.cm-quote {color: #ffee99;}

.cm-s-duotone-darkcave-dark span.cm-property {color: #988189;}
.cm-s-duotone-darkcave-dark span.cm-string {color: #f4e07c;}
.cm-s-duotone-darkcave-dark span.cm-operator {color: #e5cf61;}

.cm-s-duotone-darkcave-dark span.cm-variable-2, .cm-s-duotone-darkcave-dark span.cm-variable-3, .cm-s-duotone-darkcave-dark span.cm-bracket {color: #ffbdd4;}
{color: #ffbdd4;}
.cm-s-duotone-darkcave-dark span.cm-def, .cm-s-duotone-darkcave-dark span.cm-tag, .cm-s-duotone-darkcave-dark span.cm-builtin, .cm-s-duotone-darkcave-dark span.cm-qualifier, .cm-s-duotone-darkcave-dark span.cm-header, .cm-s-duotone-darkcave-dark span.cm-em {color: #ffebf2;}
.cm-s-duotone-darkcave-dark span.cm-error {background: #ab2151; color: #5f5458;}
.cm-s-duotone-darkcave-dark span.cm-link {color: #e21d62;}
.cm-s-duotone-darkcave-dark span.cm-unit {color: #d2bc4b;}

.cm-s-duotone-darkcave-dark span.cm-header { font-weight: normal; }
.cm-s-duotone-darkcave-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #ffebf2 !important;}
