/*
Name:       Duotone-DarkHeath
Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/

.cm-s-duotone-darkheath-cm.CodeMirror { background: #272527; color: #786d78; }
.cm-s-duotone-darkheath-cm div.CodeMirror-selected { background: #343135 !important; }
.cm-s-duotone-darkheath-cm .CodeMirror-gutters { background: #272527; border-right: 0px; }
.cm-s-duotone-darkheath-cm .CodeMirror-linenumber { color: #575158; }
.cm-s-duotone-darkheath-cm .CodeMirror-cursor { border-left: 1px solid hsla(0, 100%, 100%, 0.25) !important; border-right: .5em solid hsla(0, 100%, 100%, 0.25); }
.cm-s-duotone-darkheath-cm .CodeMirror-activeline-background { background: #343135; }
.cm-s-duotone-darkheath-cm .cm-fat-cursor .CodeMirror-cursor { background: .5em solid hsla(0, 100%, 100%, 0.25); }

.cm-s-duotone-darkheath-cm span.cm-comment { color: #786d78; }
.cm-s-duotone-darkheath-cm span.cm-atom, .cm-s-duotone-darkheath-cm span.cm-number, .cm-s-duotone-darkheath-cm span.cm-keyword, .cm-s-duotone-darkheath-cm span.cm-variable, .cm-s-duotone-darkheath-cm span.cm-attribute, .cm-s-duotone-darkheath-cm span.cm-quote, .cm-s-duotone-darkheath-cm span.cm-hr, .cm-s-duotone-darkheath-cm span.cm-link { color: #ffd599; }

.cm-s-duotone-darkheath-cm span.cm-property { color: #968198; }
.cm-s-duotone-darkheath-cm span.cm-punctuation, .cm-s-duotone-darkheath-cm span.cm-unit, .cm-s-duotone-darkheath-cm span.cm-negative { color: #d29a4b; }
.cm-s-duotone-darkheath-cm span.cm-string { color: #f4c27c; }
.cm-s-duotone-darkheath-cm span.cm-operator { color: #e5ae61; }
.cm-s-duotone-darkheath-cm span.cm-positive { color: #a021ab; }

.cm-s-duotone-darkheath-cm span.cm-variable-2, .cm-s-duotone-darkheath-cm span.cm-variable-3, .cm-s-duotone-darkheath-cm span.cm-bracket, .cm-s-duotone-darkheath-cm span.cm-string-2, .cm-s-duotone-darkheath-cm span.cm-url { color: #f9bdff; }
.cm-s-duotone-darkheath-cm span.cm-def, .cm-s-duotone-darkheath-cm span.cm-tag, .cm-s-duotone-darkheath-cm span.cm-builtin, .cm-s-duotone-darkheath-cm span.cm-qualifier, .cm-s-duotone-darkheath-cm span.cm-header, .cm-s-duotone-darkheath-cm span.cm-em { color: #fdebff; }
/* .cm-s-duotone-darkheath-cm span.cm-error { background: #a021ab; color: #ffd599; } */
.cm-s-duotone-darkheath-cm span.cm-error, .cm-s-duotone-darkheath-cm span.cm-invalidchar { color: #f00; }

.cm-s-duotone-darkheath-cm span.cm-header { font-weight: normal; }
.cm-s-duotone-darkheath-cm .CodeMirror-matchingbracket { text-decoration: underline; color: #fdebff !important; }
