/* 
Name:       Duotone-DarkSpace
Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-space-syntax/)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-duotone-darkspace-dark.CodeMirror {background: #24242e; color: #5b5b76;}
.cm-s-duotone-darkspace-dark div.CodeMirror-selected {background: #2f2f3c !important;}
.cm-s-duotone-darkspace-dark .CodeMirror-gutters {background: #24242e; border-right: 0px;}
.cm-s-duotone-darkspace-dark .CodeMirror-linenumber {color: #515167;}
.cm-s-duotone-darkspace-dark .CodeMirror-cursor {border-left: 1px solid #646487 !important;}
.cm-s-duotone-darkspace-dark .CodeMirror-activeline-background {background: #2f2f3c;}

.cm-s-duotone-darkspace-dark span.cm-comment {color: #5b5b76;}
.cm-s-duotone-darkspace-dark span.cm-atom {color: #fe8c52;}
.cm-s-duotone-darkspace-dark span.cm-number {color: #fe8c52;}

.cm-s-duotone-darkspace-dark span.cm-attribute {color: #6a574d;}
.cm-s-duotone-darkspace-dark span.cm-property {color: #767693;}
.cm-s-duotone-darkspace-dark span.cm-keyword {color: #fe8c52;}
.cm-s-duotone-darkspace-dark span.cm-string {color: #f97c3e;}
.cm-s-duotone-darkspace-dark span.cm-operator {color: #f36e2b;}

.cm-s-duotone-darkspace-dark span.cm-variable {color: #fe8c52;}
.cm-s-duotone-darkspace-dark span.cm-variable-2 {color: #9d9dc8;}
.cm-s-duotone-darkspace-dark span.cm-variable-3 {color: #9d9dc8;}
.cm-s-duotone-darkspace-dark span.cm-def {color: #ebebff;}
.cm-s-duotone-darkspace-dark span.cm-error {background: #5151e6; color: #646487;}
.cm-s-duotone-darkspace-dark span.cm-bracket {color: #9d9dc8;}
.cm-s-duotone-darkspace-dark span.cm-tag {color: #ebebff;}
.cm-s-duotone-darkspace-dark span.cm-builtin {color: #ebebff;}
.cm-s-duotone-darkspace-dark span.cm-link {color: #7676f4;}

.cm-s-duotone-darkspace-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #ebebff !important;}
