/*

    Name:       Base16 Duotone-DarkSea Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-duotone-darksea-dark.CodeMirror {background: #1d262f; color: #3a4b5f;}
.cm-s-duotone-darksea-dark div.CodeMirror-selected {background: #27323f !important;}
.cm-s-duotone-darksea-dark .CodeMirror-gutters {background: #1d262f; border-right: 0px;}
.cm-s-duotone-darksea-dark .CodeMirror-linenumber {color: #303f4f;}
.cm-s-duotone-darksea-dark .CodeMirror-cursor {border-left: 1px solid #44586f !important;}
.cm-s-duotone-darksea-dark .CodeMirror-activeline-background {background: #27323f;}
-webkit-scrollbar-track  {background: #1d262f;}

.cm-s-duotone-darksea-dark span.cm-comment {color: #3a4b5f;}
.cm-s-duotone-darksea-dark span.cm-atom {color: #5cffc9;}
.cm-s-duotone-darksea-dark span.cm-number {color: #5cffc9;}

.cm-s-duotone-darksea-dark span.cm-attribute {color: #708f85;}
.cm-s-duotone-darksea-dark span.cm-property {color: #57718e;}
.cm-s-duotone-darksea-dark span.cm-keyword {color: #5cffc9;}
.cm-s-duotone-darksea-dark span.cm-string {color: #47ebb4;}
.cm-s-duotone-darksea-dark span.cm-operator {color: #29e0a3;}

.cm-s-duotone-darksea-dark span.cm-variable {color: #5cffc9;}
.cm-s-duotone-darksea-dark span.cm-variable-2 {color: #7eb6f6;}
.cm-s-duotone-darksea-dark span.cm-variable-3 {color: #7eb6f6;}
.cm-s-duotone-darksea-dark span.cm-def {color: #ebf4ff;}
.cm-s-duotone-darksea-dark span.cm-error {background: #298dff; color: #44586f;}
.cm-s-duotone-darksea-dark span.cm-bracket {color: #7eb6f6;}
.cm-s-duotone-darksea-dark span.cm-tag {color: #ebf4ff;}
.cm-s-duotone-darksea-dark span.cm-builtin {color: #ebf4ff;}
.cm-s-duotone-darksea-dark span.cm-link {color: #5ca8ff;}

.cm-s-duotone-darksea-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
