/*
Name:       Duotone-DarkDesert
Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/

.cm-s-duotone-darkdesert-dark.CodeMirror {background: #292824; color: #545145;}
.cm-s-duotone-darkdesert-dark div.CodeMirror-selected {background: #37352f !important;}
.cm-s-duotone-darkdesert-dark .CodeMirror-gutters {background: #292824; border-right: 0px;}
.cm-s-duotone-darkdesert-dark .CodeMirror-linenumber {color: #45433a;}
.cm-s-duotone-darkdesert-dark .CodeMirror-cursor {border-left: 1px solid #67604c !important;}
.cm-s-duotone-darkdesert-dark .CodeMirror-activeline-background {background: #37352f;}

.cm-s-duotone-darkdesert-dark span.cm-comment {color: #545145;}
.cm-s-duotone-darkdesert-dark span.cm-atom, .cm-s-duotone-darkdesert-dark span.cm-number, .cm-s-duotone-darkdesert-dark span.cm-keyword, .cm-s-duotone-darkdesert-dark span.cm-variable, .cm-s-duotone-darkdesert-dark span.cm-attribute,  .cm-s-duotone-darkdesert-dark span.cm-quote {color: #ffb380;}

.cm-s-duotone-darkdesert-dark span.cm-property {color: #af9f6a;}
.cm-s-duotone-darkdesert-dark span.cm-string {color: #f7a56e;}
.cm-s-duotone-darkdesert-dark span.cm-operator {color: #ed975e;}

.cm-s-duotone-darkdesert-dark span.cm-variable-2, .cm-s-duotone-darkdesert-dark span.cm-variable-3, .cm-s-duotone-darkdesert-dark span.cm-bracket {color: #e6d499;}
{color: #e6d499;}
.cm-s-duotone-darkdesert-dark span.cm-def, .cm-s-duotone-darkdesert-dark span.cm-tag, .cm-s-duotone-darkdesert-dark span.cm-builtin, .cm-s-duotone-darkdesert-dark span.cm-qualifier, .cm-s-duotone-darkdesert-dark span.cm-header, .cm-s-duotone-darkdesert-dark span.cm-em {color: #faf5e5;}
.cm-s-duotone-darkdesert-dark span.cm-error {background: #7a7152; color: #67604c;}
.cm-s-duotone-darkdesert-dark span.cm-link {color: #9f9160;}
.cm-s-duotone-darkdesert-dark span.cm-unit {color: #dd7c3c;}

.cm-s-duotone-darkdesert-dark span.cm-header { font-weight: normal; }
.cm-s-duotone-darkdesert-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #faf5e5 !important;}
