/* line 1, ../../sass/components/_typography.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 6, ../../sass/components/_typography.scss */
html {
  font-family: sans-serif;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.0125);
}

/* line 11, ../../sass/components/_typography.scss */
html,
body {
  height: 100%;
}

/* line 15, ../../sass/components/_typography.scss */
body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
  background: inherit;
  color: #111;
  min-height: 100%;
  box-sizing: border-box;
}

/* line 23, ../../sass/components/_typography.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 24, ../../sass/components/_typography.scss */
audio, canvas, progress, video {
  display: inline-block;
}

/* line 25, ../../sass/components/_typography.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 26, ../../sass/components/_typography.scss */
[hidden], template {
  display: none;
}

/* line 27, ../../sass/components/_typography.scss */
a {
  background: transparent;
  color: #fb4934;
  text-decoration: none;
}

/* line 32, ../../sass/components/_typography.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 36, ../../sass/components/_typography.scss */
.content a:hover,
.content a:focus,
.content a:active {
  text-decoration: underline;
}

/* line 42, ../../sass/components/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 43, ../../sass/components/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 44, ../../sass/components/_typography.scss */
dfn {
  font-style: italic;
}

/* line 45, ../../sass/components/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 46, ../../sass/components/_typography.scss */
small {
  font-size: 80%;
}

/* line 47, ../../sass/components/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 48, ../../sass/components/_typography.scss */
sup {
  top: -0.5em;
}

/* line 49, ../../sass/components/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 50, ../../sass/components/_typography.scss */
img, svg {
  border: 0;
  max-width: 100%;
}

/* line 51, ../../sass/components/_typography.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 52, ../../sass/components/_typography.scss */
figure {
  margin: 1em 40px;
}

/* line 53, ../../sass/components/_typography.scss */
hr {
  padding: 1px;
  border: 1px solid #ccc;
  box-sizing: content-box;
  height: 0;
}

/* line 54, ../../sass/components/_typography.scss */
article,
.container {
  max-width: 100%;
  margin: 0 auto 2em;
  padding: 1em 0 5em;
  background: rgba(255, 255, 255, 0.975);
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow: visible;
}

/* line 63, ../../sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0;
  padding: 1rem 0 0;
}

/* line 68, ../../sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6, b, strong, em, thead th, button {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande","Trebuchet Ms", sans-serif;
}

/* line 71, ../../sass/components/_typography.scss */
h1 {
  font-size: 2.5rem;
}

/* line 74, ../../sass/components/_typography.scss */
h2 {
  font-size: 2.25rem;
}

/* line 77, ../../sass/components/_typography.scss */
h3 {
  font-size: 2rem;
}

/* line 80, ../../sass/components/_typography.scss */
h4 {
  font-size: 1.75rem;
}

/* line 83, ../../sass/components/_typography.scss */
h5 {
  font-size: 1.5rem;
}

/* line 86, ../../sass/components/_typography.scss */
h6 {
  font-size: 1.25rem;
}

/* line 89, ../../sass/components/_typography.scss */
p {
  margin: 0;
  padding: .5em 0;
}

/* line 93, ../../sass/components/_typography.scss */
h3 ~ p,
h4 ~ p {
  padding-top: 0;
}

/* line 97, ../../sass/components/_typography.scss */
header h1 {
  text-align: center;
}

/* line 100, ../../sass/components/_typography.scss */
strong em {
  font-family: AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel,  "Trebuchet Ms", sans-serif;
  font-weight: bold;
}

/* line 104, ../../sass/components/_typography.scss */
.content pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: .875rem;
  line-height: 1.5;
  overflow: auto;
  margin: 1em 0;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  word-wrap: normal;
  white-space: pre-wrap;
}

/* line 116, ../../sass/components/_typography.scss */
code, kbd, pre, samp {
  font-family: Consolas, Menlo, Monaco, monospace;
}

/* line 117, ../../sass/components/_typography.scss */
code, kbd, samp {
  font-size: 1em;
}

/* line 118, ../../sass/components/_typography.scss */
.content pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
}

/* line 129, ../../sass/components/_typography.scss */
.content pre code:before,
.content pre code:after {
  content: normal;
}

/* line 133, ../../sass/components/_typography.scss */
.content p code,
.content ul code {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-size: .875em;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 2px 0 0 0;
}

/* line 143, ../../sass/components/_typography.scss */
.content p code:before,
.content p code:after,
.content ul code:before,
.content ul code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

/* line 150, ../../sass/components/_typography.scss */
.content ul {
  padding: 0 .5em;
  margin: .5em 0 .5em -.45rem;
}

/* line 154, ../../sass/components/_typography.scss */
.content ol ul {
  padding-left: 1.5rem;
}

/* line 157, ../../sass/components/_typography.scss */
.content ul li {
  list-style: none;
  position: relative;
}

/* line 161, ../../sass/components/_typography.scss */
.content ul li {
  margin-left: -.75em;
  padding-left: .75em;
}

/* line 165, ../../sass/components/_typography.scss */
.content ul li::before {
  content: "";
  position: absolute;
  top: .55em;
  left: 0;
  color: #666;
  padding: 2px;
  height: 1px;
  width: 1px;
  background-color: #3ca555;
  border: 1px solid #666;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  font-size: 1em;
}

/* line 180, ../../sass/components/_typography.scss */
.content ul ol,
.content ol ol {
  margin: .5rem 0 1rem 1.45rem;
}

/* line 184, ../../sass/components/_typography.scss */
.content ul li li {
  margin-left: 0;
}

/* line 187, ../../sass/components/_typography.scss */
.content ul ol li {
  margin-left: -.75rem;
}

/* line 190, ../../sass/components/_typography.scss */
.content ul li::before,
.content blockquote,
.content hr,
.content pre {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
}

/* line 196, ../../sass/components/_typography.scss */
.content blockquote {
  border-left: .5em solid #ccc;
  padding: .75em 1.5em;
  margin: 1em;
  background-color: #f7f7f7;
  color: #666;
  font-family: AvenirNext-Italic, Avenir-Oblique, AvenirMedium-Oblique, serif;
  font-style: italic;
}

/* http://atelierbram.github.com/typeface-tester/ */
/* line 207, ../../sass/components/_typography.scss */
i {
  font-family: AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", sans-serif;
  font-style: italic;
}

/* line 211, ../../sass/components/_typography.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 212, ../../sass/components/_typography.scss */
button, select {
  text-transform: none;
}

/* line 213, ../../sass/components/_typography.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 214, ../../sass/components/_typography.scss */
button {
  -webkit-appearance: none;
  overflow: visible;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, white, #ddd);
  background-image: linear-gradient(to bottom, white, #ddd);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0 0 .5em .75em;
  padding: 1em 2em;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: 16px;
  line-height: 1.3;
}

/* line 236, ../../sass/components/_typography.scss */
button:invalid {
  box-shadow: none;
}

/* line 239, ../../sass/components/_typography.scss */
button:focus {
  box-shadow: #06f 0 0 5px 0;
  z-index: 1;
}

/* line 243, ../../sass/components/_typography.scss */
button:hover {
  background-image: -webkit-linear-gradient(top, white, #eee 1px, #ccc);
  background-image: linear-gradient(to bottom, white, #eee 1px, #ccc);
  text-decoration: none;
}

/* line 247, ../../sass/components/_typography.scss */
button:active {
  background-image: -webkit-linear-gradient(top, #ddd, #eee);
  background-image: linear-gradient(to bottom, #ddd, #eee);
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999 #bbb #ddd;
}

/* line 252, ../../sass/components/_typography.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 253, ../../sass/components/_typography.scss */
button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

/* line 254, ../../sass/components/_typography.scss */
input {
  line-height: normal;
}

/* line 255, ../../sass/components/_typography.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 256, ../../sass/components/_typography.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 258, ../../sass/components/_typography.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 259, ../../sass/components/_typography.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 260, ../../sass/components/_typography.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 261, ../../sass/components/_typography.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 262, ../../sass/components/_typography.scss */
textarea {
  overflow: auto;
}

/* line 263, ../../sass/components/_typography.scss */
optgroup {
  font-weight: bold;
}

/* line 264, ../../sass/components/_typography.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: #f7f7f7;
}

/* line 270, ../../sass/components/_typography.scss */
thead {
  display: table-header-group;
}

/* line 273, ../../sass/components/_typography.scss */
thead th {
  border-bottom: 1px solid #999;
  text-align: right;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: bold;
  background: #ddd;
}

/* line 281, ../../sass/components/_typography.scss */
thead th:nth-of-type(1) {
  text-align: left;
}

/* line 284, ../../sass/components/_typography.scss */
th, td {
  padding: .5em 1em;
}

/* zebra stripes can't use them here */
@media (min-width: 640px) {
  /* line 292, ../../sass/components/_typography.scss */
  article,
  .container {
    max-width: 70em;
    padding: 1em 5% 5em;
    overflow: auto;
  }

  /* line 298, ../../sass/components/_typography.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 301, ../../sass/components/_typography.scss */
  h2 {
    font-size: 2.5rem;
  }

  /* line 304, ../../sass/components/_typography.scss */
  h3 {
    font-size: 2.25rem;
  }

  /* line 307, ../../sass/components/_typography.scss */
  h4 {
    font-size: 2rem;
  }

  /* line 310, ../../sass/components/_typography.scss */
  h5 {
    font-size: 1.75rem;
  }

  /* line 313, ../../sass/components/_typography.scss */
  h6 {
    font-size: 1.5rem;
  }

  /* line 316, ../../sass/components/_typography.scss */
  .content p {
    font-size: 1.25em;
  }

  /* line 319, ../../sass/components/_typography.scss */
  .content li {
    font-size: 1.25rem;
  }

  /* line 322, ../../sass/components/_typography.scss */
  .content li li {
    font-size: 1rem;
  }
}
/* line 13, ../../sass/demo/demo.scss */
html[class*="-dark"],
[class*="-dark"] body {
  background-color: #1d2021;
}

/* line 17, ../../sass/demo/demo.scss */
html[class*="-light"],
[class*="-light"] body {
  background-color: #f9f5d7;
}

/* line 21, ../../sass/demo/demo.scss */
body {
  margin: 0;
  padding: 0 2.5em;
}

/* line 25, ../../sass/demo/demo.scss */
[class*="-dark"] body {
  background-image: -webkit-linear-gradient(top, #282828, #282828 68px, transparent 68px, transparent);
  background-image: linear-gradient(to bottom, #282828, #282828 68px, transparent 68px, transparent);
}

/* line 28, ../../sass/demo/demo.scss */
[class*="-light"] body {
  background-image: -webkit-linear-gradient(top, #fdf4c1, #fdf4c1 68px, transparent 68px, transparent);
  background-image: linear-gradient(to bottom, #fdf4c1, #fdf4c1 68px, transparent 68px, transparent);
}

/* line 32, ../../sass/demo/demo.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../../sass/demo/demo.scss */
[class*="-syntaxhighlighter-"] .col > div,
.col pre {
  max-height: 250px;
  overflow-y: scroll;
}

/* line 45, ../../sass/demo/demo.scss */
h2 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
}

/* line 49, ../../sass/demo/demo.scss */
[class*="-dark"] h2 {
  color: #fdf4c1;
}

/* line 52, ../../sass/demo/demo.scss */
[class*="-light"] h2 {
  color: #282828;
}

/* line 55, ../../sass/demo/demo.scss */
a {
  text-decoration: none;
  color: #b16286;
}

/* line 61, ../../sass/demo/demo.scss */
[class*=-dark] ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #1d2021;
}

/* line 66, ../../sass/demo/demo.scss */
[class*=-dark] ::-webkit-scrollbar {
  width: 12px;
  background-color: #1d2021;
}

/* line 70, ../../sass/demo/demo.scss */
[class*=-dark] ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

/* line 75, ../../sass/demo/demo.scss */
[class*=-dark] ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #1d2021;
}

/* line 78, ../../sass/demo/demo.scss */
[class*=-light] ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #f9f5d7;
}

/* line 83, ../../sass/demo/demo.scss */
[class*=-light] ::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f5d7;
}

/* line 87, ../../sass/demo/demo.scss */
[class*=-light] ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bdae93;
}

/* line 92, ../../sass/demo/demo.scss */
[class*=-light] ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #f9f5d7;
}
