.nav-site {
  position: relative;
  z-index: 3;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;


    li {
      white-space: nowrap;

      @include mq($until: tablet) {
        font-family: $wf-semibold;
        font-size: 1.33334em;
      }
      @include mq($from: tablet) {
        min-height: 2em;
        letter-spacing: .05em;
        margin-right: .5em;
        margin-bottom: .5em;
      }

    }

    li,
    a {
      @include mq($until: tablet) {
        display: block;
      }
    }

    a {
      padding: .33334em 1.5rem;
      transition: all .3s;

      @include mq($from: tablet) {
        background-color: $yellow;
        color: #fff;
        border-radius: 3px;
        padding: .4em 1em;
      }
      @include mq($from: xlwide) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:hover {
        @include mq($from: tablet) {
          background-color: color(gold-12);
        }
      }
    }

    @include mq($from: tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      line-height: 2;
    }

    @include mq($from: xlwide) {
      padding-top: 15px;
      justify-content: flex-end;
    }

  }

  .current {
    letter-spacing: 0;
    a {
      pointer-events: none;
      cursor: pointer;
    }
  }

  @include mq($until: tablet) {
    position: absolute;
    top: 5.65rem;
    padding-top: 8.125rem;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    background-color: rgba(#fff,0);
    transition: all .25s ease-out;
  }
  &.has-nav-toggled {
    @include mq($until: tablet) {
      // display: block;
      transform: translateX(0);
      background-color: color(monochrome-bluesky-01);
    }
  }
  @include mq($from: tablet) {
    // display: flex;
    // justify-content: flex-end;
    // flex-direction: column;
    display: block;
    font-size: .68em;
    padding: 1em 2em .5em 2em;
    margin-top: -1.3rem;
    margin-bottom: 1.5rem;
  }

  @include mq($from: xlwide) {
    padding: 0;
  }

  @include mq($from: xlwide) {
    margin-top: -5.894em !important;
  }

}

.nav-site .current a {
  background-color: color(monochrome-bluesky-01);
  color: color(gold-14);
}

.menu-toggle {
  position: absolute;
  font-size: inherit;
  padding: 1.33334em;
  background-color: transparent;
  border: 0;
  color: color(monochrome-bluesky-12);
  cursor: pointer;
  z-index: 3;

  &.is-active {
    color: color(bluesky-12);
  }

  @include mq($from: tablet) {
    display: none;
  }
}
