.page-wrap {
  min-height: 100vh;
  overflow: auto;
  position: relative;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 50em;
}

.repo-title a {
  color: color(monochrome-bluesky-13);
}

.tagline {
  // text-transform: uppercase;
  // font-size: .75em;
  // font-family: $wf-semibold;
  // color: color(red-12);
  padding-top: .125em;
}

.new-theme-svg {
  width: 2.5em;
  height: 1.25em;
}

.logo-avatar {
  vertical-align: middle;
}

// footer a:hover .logo-avatar {
//   width: 90px;
//   height: 90px;
// }

.github-corner:hover svg[style] {
  color: color(monochrome-bluesky-01) !important;
}

.note {
  display: inline-block;
  padding: 1em 1.5em;
  margin: 1em 0 2em;
  background-color: color(yellow-05);
  font-size: .875em;
  border-radius: 3px;
}

.note-warning {
  background-color: $red;
  color: #fff;
  letter-spacing: .75px;
  word-spacing: -.75px;
}

.cp_embed_wrapper,
.svg-colortiles {
  margin: .75em 0 1em;
}

.go-to-top {
  position: absolute;
  width: 24px;
  height: 24px;
  top: auto;
  bottom: 4.5em;
  right: 1.5em;
  z-index: 1;

  &:hover {
    color: color(red-12);
    box-shadow: none;
  }
 .page-base2tone & {
   display: none;
 }
 @include mq($until: tablet) {
   bottom: 1.5em;
 }
}

.page-home {
  main {
    @include mq($until: phablet) {
      // padding-top: 2.6em;
      padding-top: 17px;
    }
    @include mq($from: phablet, $until: tablet) {
      padding-top: 41px;
    }
    @include mq($from: tablet) {
      padding-top: 120px;
    }
  }
}
.page-base2tone,
.page-base4tone,
.page-atelier-schemes {
  main {
    @include mq($until: tablet) {
      padding-top: 2.75em;
    }
  }

  header + p:first-of-type {
    padding-top: 4.35rem;
  }
}
.page-base4tone {
  // main {
  //   @include mq($until: tablet) {
  //     padding-top: 2.75em;
  //   }
  // }
  //
  // header > svg {
  //   transform: translateY(-10px);
  //   @include mq($from: tablet) {
  //     transform: translateY(8px);
  //   }
  //   @include mq($from: desktop) {
  //     transform: translateY(35px);
  //   }
  // }
  // header + p:first-of-type {
  //   @include mq($until: tablet) {
  //     // margin-top: 47px;
  //     margin-top: 3.35em;
  //   }
  // }
}
// .page-atelier-schemes,
.page-prism {
  main {
    @include mq($until: phablet) {
      padding-top: 1.35em;
    }
    @include mq($from: phablet, $until: tablet) {
      padding-top: 3.9em;
    }
  }
}
