/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #1e2138;
@base01: #292c47;
@base02: #44486f;
@base03: #51557b;
@base04: #5e6287;
@base05: #6771c5;
@base06: #a5adfe;
@base07: #e1e4ff;
@base08: #2d3dd2;
@base09: #ed5e87;
@base0A: #f4769a;
@base0B: #ad8590;
@base0C: #ffa8c1;
@base0D: #f990ad;
@base0E: #5762c7;
@base0F: #3f4ecf;
