// $base00: "292824";
// $base01: "37352f";
// $base02: "45433a";
// $base03: "545145";
// $base04: "67604c";
// $base05: "cbae4d";
// $base06: "e6d499";
// $base07: "faf5e5";
// $base08: "8f7c3d";
// $base09: "d18e61";
// $base0A: "e0a985";
// $base0B: "c49a7e";
// $base0C: "f0c5a8";
// $base0D: "e9b796";
// $base0E: "bfa240";
// $base0F: "a68e3f";

//  base00: "262626;
//  base01: "353431;
//  base02: "44423c;
//  base03: "545145;
//  base04: "67604c;
//  base08: "8f7c3d";
//  base0F: "a68e3f";
//  base0E: "bfa240";
//  base05: "cbae4d";
//  base06: "e6d499";
//  base07: "faf5e5";
//  base09: "d18e61";
//  base0A: "e0a985";
//  base0D: "e9b796";
//  base0C: "f0c5a8";
//  base0B: "c49a7e";

$base00: hsl(46, 7%, 15%);
$base01: hsl(46, 8%, 20%);
$base02: hsl(46, 9%, 25%);
$base03: hsl(46, 10%, 30%);
$base04: hsl(46, 15%, 35%);
$base05: hsl(46, 55%, 55%);
$base06: hsl(46, 60%, 75%);
$base07: hsl(46, 70%, 94%);
$base08: hsl(46, 40%, 40%);
$base09: hsl(24, 55%, 60%);
$base0A: hsl(24, 60%, 70%);
$base0B: hsl(24, 37%, 63%);
$base0C: hsl(24, 70%, 80%);
$base0D: hsl(24, 65%, 75%);
$base0E: hsl(46, 50%, 50%);
$base0F: hsl(46, 45%, 45%);

@import "demo";
