// $base00: "242927";
// $base01: "2f3735";
// $base02: "3b4542";
// $base03: "465350";
// $base04: "4f645f";
// $base05: "62847b";
// $base06: "65e7c6";
// $base07: "e0fff7";
// $base08: "008060";
// $base09: "0da5a5";
// $base0A: "0bdada";
// $base0B: "569f9f";
// $base0C: "4dffff";
// $base0D: "1ff9f9";
// $base0E: "3a8874";
// $base0F: "18866b";

//  base00: "242927";
//  base01: "2f3735";
//  base02: "3b4542";
//  base03: "465350";
//  base04: "4f645f";
//  base08: "008060";
//  base0F: "18866b";
//  base0E: "3a8874";
//  base05: "62847b";
//  base06: "65e7c6";
//  base07: "e0fff7";
//  base09: "0da5a5";
//  base0A: "0bdada";
//  base0D: "1ff9f9";
//  base0C: "4dffff";
//  base0B: "569f9f";

$base00: hsl(165, 6%, 15%);
$base01: hsl(165, 7%, 20%);
$base02: hsl(165, 8%, 25%);
$base03: hsl(165, 9%, 30%);
$base04: hsl(165, 12%, 35%);
$base05: hsl(165, 15%, 45%);
$base06: hsl(165, 73%, 65%);
$base07: hsl(165, 100%, 94%);
$base08: hsl(165, 100%, 25%);
$base09: hsl(180, 85%, 35%);
$base0A: hsl(180, 90%, 45%);
$base0B: hsl(180, 30%, 48%);
$base0C: hsl(180, 100%, 65%);
$base0D: hsl(180, 95%, 55%);
$base0E: hsl(165, 40%, 38%);
$base0F: hsl(165, 70%, 31%);

@import "demo";
