// $base00: "2a2734";
// $base01: "363442";
// $base02: "5a566c";
// $base03: "726e87";
// $base04: "837bad";
// $base05: "9b87fd";
// $base06: "b3a5fe";
// $base07: "eeebff";
// $base08: "6a51e6";
// $base09: "dc9147";
// $base0A: "e59e57";
// $base0B: "7c756e";
// $base0C: "fec286";
// $base0D: "ecab69";
// $base0E: "8b76f4";
// $base0F: "7a63ee";

//  base00: "2a2734";
//  base01: "363442";
//  base02: "5a566c";
//  base03: "726e87";
//  base04: "837bad";
//  base08: "6a51e6";
//  base0F: "7a63ee";
//  base0E: "8b76f4";
//  base05: "9b87fd";
//  base06: "b3a5fe";
//  base07: "eeebff";
//  base09: "dc9147";
//  base0A: "e59e57";
//  base0D: "ecab69";
//  base0C: "fec286";
//  base0B: "7c756e";

$base00: hsl(250, 14%, 18%);
$base01: hsl(250, 12%, 23%);
$base02: hsl(250, 11%, 38%);
$base03: hsl(250, 10%, 48%);
$base04: hsl(250, 23%, 58%);
$base05: hsl(250, 96%, 76%);
$base06: hsl(250, 98%, 82%);
$base07: hsl(250, 100%, 96%);
$base08: hsl(250, 75%, 61%);
$base09: hsl(30, 68%, 57%);
$base0A: hsl(30, 73%, 62%);
$base0B: hsl(30, 6%, 46%);
$base0C: hsl(30, 98%, 76%);
$base0D: hsl(30, 78%, 67%);
$base0E: hsl(250, 85%, 71%);
$base0F: hsl(250, 80%, 66%);

@import "demo";
