// $base00: "182234";
// $base01: "222d44";
// $base02: "2c3954";
// $base03: "374562";
// $base04: "435270";
// $base05: "4e72bc";
// $base06: "a5c2fe";
// $base07: "e1ebff";
// $base08: "295cc2";
// $base09: "ed5eb4";
// $base0A: "f476c2";
// $base0B: "ad859d";
// $base0C: "ffa8dc";
// $base0D: "f990cf";
// $base0E: "406abf";
// $base0F: "3264c8";

//  base00: "182234";
//  base01: "222d44";
//  base02: "2c3954";
//  base03: "374562";
//  base04: "435270";
//  base08: "295cc2";
//  base0F: "3264c8";
//  base0E: "406abf";
//  base05: "4e72bc";
//  base06: "a5c2fe";
//  base07: "e1ebff";
//  base09: "ed5eb4";
//  base0A: "f476c2";
//  base0D: "f990cf";
//  base0C: "ffa8dc";
//  base0B: "ad859d";

$base00: hsl(220, 37%, 15%);
$base01: hsl(220, 34%, 20%);
$base02: hsl(220, 31%, 25%);
$base03: hsl(220, 28%, 30%);
$base04: hsl(220, 25%, 35%);
$base05: hsl(220, 45%, 52%);
$base06: hsl(220, 97%, 82%);
$base07: hsl(220, 98%, 94%);
$base08: hsl(220, 65%, 46%);
$base09: hsl(324, 80%, 65%);
$base0A: hsl(324, 85%, 71%);
$base0B: hsl(324, 20%, 60%);
$base0C: hsl(324, 100%, 83%);
$base0D: hsl(324, 90%, 77%);
$base0E: hsl(220, 50%, 50%);
$base0F: hsl(220, 60%, 49%);

@import "demo";
