// $base00: "242927";
// $base01: "2f3735";
// $base02: "3b4542";
// $base03: "465350";
// $base04: "4f645f";
// $base05: "62847b";
// $base06: "4dffd2";
// $base07: "ebfffa";
// $base08: "008060";
// $base09: "0fa0bd";
// $base0A: "0dccf2";
// $base0B: "5796a2";
// $base0C: "66e6ff";
// $base0D: "38dafa";
// $base0E: "3a8874";
// $base0F: "18866b";

//  base00: "242927";
//  base01: "2f3735";
//  base02: "3b4542";
//  base03: "465350";
//  base04: "4f645f";
//  base08: "008060";
//  base0F: "18866b";
//  base0E: "3a8874";
//  base05: "62847b";
//  base06: "4dffd2";
//  base07: "ebfffa";
//  base09: "0fa0bd";
//  base0A: "0dccf2";
//  base0D: "38dafa";
//  base0C: "66e6ff";
//  base0B: "5796a2";

$base00: hsl(165, 6%, 15%);
$base01: hsl(165, 7%, 20%);
$base02: hsl(165, 8%, 25%);
$base03: hsl(165, 9%, 30%);
$base04: hsl(165, 12%, 35%);
$base05: hsl(165, 15%, 45%);
$base06: hsl(165, 100%, 65%);
$base07: hsl(165, 100%, 96%);
$base08: hsl(165, 100%, 25%);
$base09: hsl(190, 85%, 40%);
$base0A: hsl(190, 90%, 50%);
$base0B: hsl(190, 30%, 49%);
$base0C: hsl(190, 100%, 70%);
$base0D: hsl(190, 95%, 60%);
$base0E: hsl(165, 40%, 38%);
$base0F: hsl(165, 70%, 31%);

@import "demo";
