// $base00: "212627";
// $base01: "2a3637";
// $base02: "486465";
// $base03: "5c8384";
// $base04: "466667";
// $base05: "5a8587";
// $base06: "83f3f6";
// $base07: "e0feff";
// $base08: "008f94";
// $base09: "60ac39";
// $base0A: "74d544";
// $base0B: "85987c";
// $base0C: "acf986";
// $base0D: "8fea62";
// $base0E: "358f92";
// $base0F: "179397";

//  base00: "212627";
//  base01: "2a3637";
//  base02: "486465";
//  base03: "5c8384";
//  base04: "466667";
//  base08: "008f94";
//  base0F: "179397";
//  base0E: "358f92";
//  base05: "5a8587";
//  base06: "83f3f6";
//  base07: "e0feff";
//  base09: "60ac39";
//  base0A: "74d544";
//  base0D: "8fea62";
//  base0C: "acf986";
//  base0B: "85987c";

$base00: hsl(182, 8%, 14%);
$base01: hsl(182, 13%, 19%);
$base02: hsl(182, 17%, 34%);
$base03: hsl(182, 18%, 44%);
$base04: hsl(182, 19%, 34%);
$base05: hsl(182, 20%, 44%);
$base06: hsl(182, 87%, 74%);
$base07: hsl(182, 100%, 94%);
$base08: hsl(182, 100%, 29%);
$base09: hsl(100, 50%, 45%);
$base0A: hsl(100, 63%, 55%);
$base0B: hsl(100, 12%, 54%);
$base0C: hsl(100, 90%, 75%);
$base0D: hsl(100, 76%, 65%);
$base0E: hsl(182, 47%, 39%);
$base0F: hsl(182, 74%, 34%);

@import "demo";
