// $base00: "202746";
// $base01: "283157";
// $base02: "3e4b84";
// $base03: "5262ad";
// $base04: "6473b4";
// $base05: "6c81e0";
// $base06: "a5b5fe";
// $base07: "e1e6ff";
// $base08: "1a3fe6";
// $base09: "db7070";
// $base0A: "ea8080";
// $base0B: "bf8888";
// $base0C: "ffb3b3";
// $base0D: "f69898";
// $base0E: "526ce0";
// $base0F: "3656e2";

//  base00: "202746";
//  base01: "283157";
//  base02: "3e4b84";
//  base03: "5262ad";
//  base04: "6473b4";
//  base08: "1a3fe6";
//  base0F: "3656e2";
//  base0E: "526ce0";
//  base05: "6c81e0";
//  base06: "a5b5fe";
//  base07: "e1e6ff";
//  base09: "db7070";
//  base0A: "ea8080";
//  base0D: "f69898";
//  base0C: "ffb3b3";
//  base0B: "bf8888";

$base00: hsl(229, 37%, 20%);
$base01: hsl(229, 37%, 25%);
$base02: hsl(229, 36%, 38%);
$base03: hsl(229, 36%, 50%);
$base04: hsl(229, 35%, 55%);
$base05: hsl(229, 65%, 65%);
$base06: hsl(229, 97%, 82%);
$base07: hsl(229, 98%, 94%);
$base08: hsl(229, 80%, 50%);
$base09: hsl(0, 60%, 65%);
$base0A: hsl(0, 72%, 71%);
$base0B: hsl(0, 30%, 64%);
$base0C: hsl(0, 100%, 85%);
$base0D: hsl(0, 84%, 78%);
$base0E: hsl(229, 70%, 60%);
$base0F: hsl(229, 75%, 55%);

@import "demo";
