// $base00: "202746";
// $base01: "283157";
// $base02: "3e4b84";
// $base03: "5262ad";
// $base04: "6473b4";
// $base05: "7189f4";
// $base06: "a5b5fe";
// $base07: "e1e6ff";
// $base08: "3c59dd";
// $base09: "db7070";
// $base0A: "e58585";
// $base0B: "bf8888";
// $base0C: "f5bcbc";
// $base0D: "eea0a0";
// $base0E: "5e79ed";
// $base0F: "4d69e6";

//  base00: "202746";
//  base01: "283157";
//  base02: "3e4b84";
//  base03: "5262ad";
//  base04: "6473b4";
//  base08: "3c59dd";
//  base0F: "4d69e6";
//  base0E: "5e79ed";
//  base05: "7189f4";
//  base06: "a5b5fe";
//  base07: "e1e6ff";
//  base09: "db7070";
//  base0A: "e58585";
//  base0D: "eea0a0";
//  base0C: "f5bcbc";
//  base0B: "bf8888";

$base00: hsl(229, 37%, 20%);
$base01: hsl(229, 37%, 25%);
$base02: hsl(229, 36%, 38%);
$base03: hsl(229, 36%, 50%);
$base04: hsl(229, 35%, 55%);
$base05: hsl(229, 85%, 70%);
$base06: hsl(229, 97%, 82%);
$base07: hsl(229, 98%, 94%);
$base08: hsl(229, 70%, 55%);
$base09: hsl(0, 60%, 65%);
$base0A: hsl(0, 65%, 71%);
$base0B: hsl(0, 30%, 64%);
$base0C: hsl(0, 75%, 85%);
$base0D: hsl(0, 70%, 78%);
$base0E: hsl(229, 80%, 65%);
$base0F: hsl(229, 75%, 60%);

@import "demo";
