// $base00: "292824";
// $base01: "3d3a34";
// $base02: "615e51";
// $base03: "7e7967";
// $base04: "67604c";
// $base05: "af9f6a";
// $base06: "e6d499";
// $base07: "faf5e5";
// $base08: "7a7152";
// $base09: "dd7c3c";
// $base0A: "ed975e";
// $base0B: "c49a7e";
// $base0C: "ffb380";
// $base0D: "f7a56e";
// $base0E: "9f9160";
// $base0F: "8a7f5c";

//  base00: "292824;
//  base01: "3d3a34;
//  base02: "615e51;
//  base03: "7e7967;
//  base04: "67604c;
//  base08: "7a7152";
//  base0F: "8a7f5c";
//  base0E: "9f9160";
//  base05: "af9f6a";
//  base06: "e6d499";
//  base07: "faf5e5";
//  base09: "dd7c3c";
//  base0A: "ed975e";
//  base0D: "f7a56e";
//  base0C: "ffb380";
//  base0B: "c49a7e";

$base00: hsl(46, 7%, 15%);
$base01: hsl(46, 8%, 22%);
$base02: hsl(46, 9%, 35%);
$base03: hsl(46, 10%, 45%);
$base04: hsl(46, 15%, 35%);
$base05: hsl(46, 30%, 55%);
$base06: hsl(46, 60%, 75%);
$base07: hsl(46, 70%, 94%);
$base08: hsl(46, 20%, 40%);
$base09: hsl(24, 70%, 55%);
$base0A: hsl(24, 80%, 65%);
$base0B: hsl(24, 37%, 63%);
$base0C: hsl(24, 100%, 75%);
$base0D: hsl(24, 90%, 70%);
$base0E: hsl(46, 25%, 50%);
$base0F: hsl(46, 20%, 45%);

@import "demo";
