// $base00: "181b34";
// $base01: "222544";
// $base02: "3a3f6e";
// $base03: "464b7c";
// $base04: "525889";
// $base05: "4e59bc";
// $base06: "a5adfe";
// $base07: "e1e4ff";
// $base08: "2938c2";
// $base09: "ed5e87";
// $base0A: "f4769a";
// $base0B: "ad8590";
// $base0C: "ffa8c1";
// $base0D: "f990ad";
// $base0E: "404dbf";
// $base0F: "3241c8";

//  base00: "181b34";
//  base01: "222544";
//  base02: "3a3f6e";
//  base03: "464b7c";
//  base04: "525889";
//  base08: "2938c2";
//  base0F: "3241c8";
//  base0E: "404dbf";
//  base05: "4e59bc";
//  base06: "a5adfe";
//  base07: "e1e4ff";
//  base09: "ed5e87";
//  base0A: "f4769a";
//  base0D: "f990ad";
//  base0C: "ffa8c1";
//  base0B: "ad8590";

$base00: hsl(234, 37%, 15%);
$base01: hsl(234, 34%, 20%);
$base02: hsl(234, 31%, 33%);
$base03: hsl(234, 28%, 38%);
$base04: hsl(234, 25%, 43%);
$base05: hsl(234, 45%, 59%);
$base06: hsl(234, 97%, 82%);
$base07: hsl(234, 98%, 94%);
$base08: hsl(234, 65%, 50%);
$base09: hsl(343, 80%, 65%);
$base0A: hsl(343, 85%, 71%);
$base0B: hsl(343, 20%, 60%);
$base0C: hsl(343, 100%, 83%);
$base0D: hsl(343, 90%, 77%);
$base0E: hsl(234, 50%, 56%);
$base0F: hsl(234, 60%, 53%);

@import "demo";
