// $base00: "182234";
// $base01: "222d44";
// $base02: "3a4b6e";
// $base03: "46587c";
// $base04: "526589";
// $base05: "4e72bc";
// $base06: "a5c2fe";
// $base07: "e1ebff";
// $base08: "295cc2";
// $base09: "f075b5";
// $base0A: "f584bf";
// $base0B: "ba97a9";
// $base0C: "ffa3d3";
// $base0D: "f994c9";
// $base0E: "406abf";
// $base0F: "3264c8";

//  base00: "182234";
//  base01: "222d44";
//  base02: "3a4b6e";
//  base03: "46587c";
//  base04: "526589";
//  base08: "295cc2";
//  base0F: "3264c8";
//  base0E: "406abf";
//  base05: "4e72bc";
//  base06: "a5c2fe";
//  base07: "e1ebff";
//  base09: "f075b5";
//  base0A: "f584bf";
//  base0D: "f994c9";
//  base0C: "ffa3d3";
//  base0B: "ba97a9";

$base00: hsl(220, 37%, 15%);
$base01: hsl(220, 34%, 20%);
$base02: hsl(220, 31%, 33%);
$base03: hsl(220, 28%, 38%);
$base04: hsl(220, 25%, 43%);
$base05: hsl(220, 45%, 52%);
$base06: hsl(220, 97%, 82%);
$base07: hsl(220, 98%, 94%);
$base08: hsl(220, 65%, 46%);
$base09: hsl(329, 80%, 70%);
$base0A: hsl(329, 85%, 74%);
$base0B: hsl(329, 20%, 66%);
$base0C: hsl(329, 100%, 82%);
$base0D: hsl(329, 90%, 78%);
$base0E: hsl(220, 50%, 50%);
$base0F: hsl(220, 60%, 49%);

@import "demo";
