/**
 * Base16 Duotone-DarkPool Dark
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00 = #202746;
$base01 = #283157;
$base02 = #3e4b84;
$base03 = #5262ad;
$base04 = #6473b4;
$base05 = #6c81e0;
$base06 = #a5b5fe;
$base07 = #e1e6ff;
$base08 = #1a3fe6;
$base09 = #db7070;
$base0a = #ea8080;
$base0b = #bf8888;
$base0c = #ffb3b3;
$base0d = #f69898;
$base0e = #526ce0;
$base0f = #3656e2;

pre {
    background-color: $base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
