/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #202746;
@base01: #283157;
@base02: #313b68;
@base03: #394579;
@base04: #424f8a;
@base05: #707fc2;
@base06: #a5b5fe;
@base07: #e1e6ff;
@base08: #344bb2;
@base09: #d24b4b;
@base0A: #e56161;
@base0B: #ad6767;
@base0C: #ff9999;
@base0D: #f47c7c;
@base0E: #596cc0;
@base0F: #4057bf;
