/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #202746;
@base01: #2d3453;
@base02: #434b70;
@base03: #5a638c;
@base04: #6c78ac;
@base05: #7990f6;
@base06: #bec9fe;
@base07: #ebeeff;
@base08: #3456ef;
@base09: #2fd3f4;
@base0A: #4cd5f0;
@base0B: #70a7b2;
@base0C: #8aebff;
@base0D: #5be0fb;
@base0E: #5f7bf7;
@base0F: #4c6af0;
