/*

Name: Base16 Duotone-DarkForest
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-forest-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #2a2d2a;
@base01: #353b35;
@base02: #485148;
@base03: #535f53;
@base04: #5e6e5e;
@base05: #687d68;
@base06: #b3d6b3;
@base07: #f0fff0;
@base08: #45a145;
@base09: #a2b34d;
@base0A: #afc059;
@base0B: #919966;
@base0C: #e5fb79;
@base0D: #bed161;
@base0E: #53c653;
@base0F: #46b946;
