/*

Name: Base16 Duotone-DarkEarth
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-earth-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #322d29;
@base01: #3f3a37;
@base02: #5b534d;
@base03: #6a5f58;
@base04: #796b63;
@base05: #88786d;
@base06: #a48774;
@base07: #fff3eb;
@base08: #da8952;
@base09: #bfa05a;
@base0A: #ccad66;
@base0B: #a89771;
@base0C: #fcc440;
@base0D: #d7b975;
@base0E: #eba475;
@base0F: #e39663;
