/*

Name: Base16 Duotone-DarkMeadow
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #1f2829;
@base01: #293838;
@base02: #334748;
@base03: #3d5657;
@base04: #466667;
@base05: #5a8587;
@base06: #83f3f6;
@base07: #e0feff;
@base08: #008f94;
@base09: #60ac39;
@base0A: #74d544;
@base0B: #85987c;
@base0C: #acf986;
@base0D: #8fea62;
@base0E: #358f92;
@base0F: #179397;
