/*

Name: Base16 Duotone-DarkSea
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #1d262f;
@base01: #27323f;
@base02: #405368;
@base03: #4a5f78;
@base04: #536c88;
@base05: #57718e;
@base06: #7eb6f6;
@base07: #ebf4ff;
@base08: #298dff;
@base09: #24cc94;
@base0A: #29e0a3;
@base0B: #708f85;
@base0C: #5cffc9;
@base0D: #47ebb4;
@base0E: #5ca8ff;
@base0F: #6bb0ff;
