/**
 * Base16 Duotone-Dark Dark
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
pre {
  background-color: #2a2734;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #eeebff;
  font-size: 14px;
  margin-bottom: 20px;
}

pre, code {
  font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
  color: #77738c;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #705ec9; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
  color: #c07830; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
  color: #d48535; /* yellow */
}

pre .constant.symbol, pre .string {
  color: #968f88; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
  color: #de9145; /* blue */
}

pre .keyword, pre .storage {
  color: #988dce; /* purple */
}
