/**
 * Base16 Duotone-DarkPool Dark
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
pre {
  background-color: #1e1d20;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #f5f0fe;
  font-size: 14px;
  margin-bottom: 20px;
}

pre, code {
  font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
  color: #686175;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #7f5bc8; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
  color: #b46e3c; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
  color: #c87941; /* yellow */
}

pre .constant.symbol, pre .string {
  color: #b28c70; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
  color: #d38650; /* blue */
}

pre .keyword, pre .storage {
  color: #a089cd; /* purple */
}
