/**
 * Base16 Duotone-DarkSea Light
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
pre {
  background-color: #ebf4ff;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #1d262f;
  font-size: 14px;
  margin-bottom: 20px;
}

pre, code {
  font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
  color: #75a0d1;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #52a3ff; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
  color: #30c090; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
  color: #3bce9d; /* yellow */
}

pre .constant.symbol, pre .string {
  color: #708f85; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
  color: #54d4a9; /* blue */
}

pre .keyword, pre .storage {
  color: #85beff; /* purple */
}
