/**
 * Base16 Duotone Light
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
pre {
  background-color: #eeebff;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #2a2734;
  font-size: 14px;
  margin-bottom: 20px;
}

pre, code {
  font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
  color: #857ab8;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #7769bf; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
  color: #c07830; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
  color: #ce853b; /* yellow */
}

pre .constant.symbol, pre .string {
  color: #7c756e; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
  color: #d49454; /* blue */
}

pre .keyword, pre .storage {
  color: #988dce; /* purple */
}
