/**
 * Base16 Duotone-DarkEarth Light
 *
 * @author adapted from: Simurai (https://github.com/simurai/duotone-dark-earth-syntax/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
pre {
  background-color: #fff3eb;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #322d29;
  font-size: 14px;
  margin-bottom: 20px;
}

pre, code {
  font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
  color: #ac9b91;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #c08e6d; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
  color: #bfa05a; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
  color: #ccad66; /* yellow */
}

pre .constant.symbol, pre .string {
  color: #a89771; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
  color: #d7b975; /* blue */
}

pre .keyword, pre .storage {
  color: #c8ab98; /* purple */
}
