$base00: #002b36; 
$base01: #073642; 
$base02: #586e75; 
$base03: #657b83; 
$base04: #839496; 
$base05: #93a1a1; 
$base06: #eee8d5; 
$base07: #fdf6e3; 
$base08: #dc322f; 
$base09: #cb4b16; 
$base0A: #b58900; 
$base0B: #859900; 
$base0C: #2aa198; 
$base0D: #268bd2; 
$base0E: #6c71c4; 
$base0F: #d33682;  

$code-font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace; 
$code-font-size: 14px;
$code-background:	$base00;
$code-color: $base04;
$code-color-fade:	$base06;
$code-text-shadow: none; 
$code-color-comment: $base02;
$code-color-keyword: $base0B;
$code-color-value: $base0C;
$code-color-string:	$base0C;
$code-color-name:	$base0A;
$code-color-number:	$base0C;
$code-color-variable:	$base0D;
$code-color-selector:	$base04;
$code-color-property: $base0A;
$code-color-important: $base09;
$code-color-tag: $base0D;

@import "../partials/prism";
