// $base00: "222021";
// $base01: "2f2d2d";
// $base02: "585153";
// $base03: "665c5f";
// $base04: "74676c";
// $base05: "9b7d88";
// $base06: "dbbdc7";
// $base07: "ffebf2";
// $base08: "ab2151";
// $base09: "d2bc4b";
// $base0A: "e5cf61";
// $base0B: "c6be95";
// $base0C: "ffee99";
// $base0D: "f4e07c";
// $base0E: "e21d62";
// $base0F: "c5205a";

//  base00: "222021";
//  base01: "2f2d2d";
//  base02: "585153";
//  base03: "665c5f";
//  base04: "74676c";
//  base08: "ab2151";
//  base0F: "c5205a";
//  base0E: "e21d62";
//  base05: "9b7d88";
//  base06: "dbbdc7";
//  base07: "ffebf2";
//  base09: "d2bc4b";
//  base0A: "e5cf61";
//  base0D: "f4e07c";
//  base0C: "ffee99";
//  base0B: "c6be95";

$base00: hsl(339, 2%, 13%);
$base01: hsl(339, 3%, 18%);
$base02: hsl(339, 4%, 33%);
$base03: hsl(339, 5%, 38%);
$base04: hsl(339, 6%, 43%);
$base05: hsl(339, 13%, 55%);
$base06: hsl(339, 30%, 80%);
$base07: hsl(339, 100%, 96%);
$base08: hsl(339, 68%, 40%);
$base09: hsl(50, 60%, 56%);
$base0A: hsl(50, 72%, 64%);
$base0B: hsl(50, 30%, 68%);
$base0C: hsl(50, 100%, 80%);
$base0D: hsl(50, 84%, 72%);
$base0E: hsl(339, 77%, 50%);
$base0F: hsl(339, 72%, 45%);

@import "demo";
