// $base00: "322d29";
// $base01: "3f3a37";
// $base02: "5b534d";
// $base03: "6a5f58";
// $base04: "796b63";
// $base05: "88786d";
// $base06: "a48774";
// $base07: "fff3eb";
// $base08: "da8952";
// $base09: "bfa05a";
// $base0A: "ccad66";
// $base0B: "a89771";
// $base0C: "fcc440";
// $base0D: "d7b975";
// $base0E: "eba475";
// $base0F: "e39663";

//  base00: "322d29";
//  base01: "3f3a37";
//  base02: "5b534d";
//  base03: "6a5f58";
//  base04: "796b63";
//  base08: "da8952";
//  base0F: "e39663";
//  base0E: "eba475";
//  base05: "88786d";
//  base06: "a48774";
//  base07: "fff3eb";
//  base09: "bfa05a";
//  base0A: "ccad66";
//  base0D: "d7b975";
//  base0C: "fcc440";
//  base0B: "a89771";

$base00: hsl(24, 10%, 18%);
$base01: hsl(24, 7%, 23%);
$base02: hsl(24, 8%, 33%);
$base03: hsl(24, 9%, 38%);
$base04: hsl(24, 10%, 43%);
$base05: hsl(24, 11%, 48%);
$base06: hsl(24, 21%, 55%);
$base07: hsl(24, 99%, 96%);
$base08: hsl(24, 65%, 59%);
$base09: hsl(42, 44%, 55%);
$base0A: hsl(42, 50%, 60%);
$base0B: hsl(42, 24%, 55%);
$base0C: hsl(42, 97%, 62%);
$base0D: hsl(42, 55%, 65%);
$base0E: hsl(24, 75%, 69%);
$base0F: hsl(24, 70%, 64%);

@import "demo";
