// $base00: "1c2626";
// $base01: "273434";
// $base02: "495e5f";
// $base03: "556c6d";
// $base04: "62797a";
// $base05: "528c8e";
// $base06: "83f3f6";
// $base07: "e0feff";
// $base08: "207174";
// $base09: "5cb82e";
// $base0A: "71dd3c";
// $base0B: "85987c";
// $base0C: "acf986";
// $base0D: "8eed5e";
// $base0E: "3f8688";
// $base0F: "2e7d7f";

//  base00: "1c2626";
//  base01: "273434";
//  base02: "495e5f";
//  base03: "556c6d";
//  base04: "62797a";
//  base08: "207174";
//  base0F: "2e7d7f";
//  base0E: "3f8688";
//  base05: "528c8e";
//  base06: "83f3f6";
//  base07: "e0feff";
//  base09: "5cb82e";
//  base0A: "71dd3c";
//  base0D: "8eed5e";
//  base0C: "acf986";
//  base0B: "85987c";

$base00: hsl(182, 15%, 13%);
$base01: hsl(182, 14%, 18%);
$base02: hsl(182, 13%, 33%);
$base03: hsl(182, 12%, 38%);
$base04: hsl(182, 11%, 43%);
$base05: hsl(182, 27%, 44%);
$base06: hsl(182, 87%, 74%);
$base07: hsl(182, 100%, 94%);
$base08: hsl(182, 57%, 29%);
$base09: hsl(100, 60%, 45%);
$base0A: hsl(100, 70%, 55%);
$base0B: hsl(100, 12%, 61%);
$base0C: hsl(100, 90%, 75%);
$base0D: hsl(100, 80%, 65%);
$base0E: hsl(182, 37%, 39%);
$base0F: hsl(182, 47%, 34%);

@import "demo";
