/*

    Name:       Base16 Duotone-DarkPool Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1e1d20;
$base01: #37343c;
$base02: #4f4b58;
$base03: #686175;
$base04: #807792;
$base05: #a57ef1;
$base06: #d4c2fa;
$base07: #f5f0fe;
$base08: #7f5bc8;
$base09: #b46e3c;
$base0a: #c87941;
$base0b: #b28c70;
$base0c: #dd945f;
$base0d: #d38650;
$base0e: #a089cd;
$base0f: #9072ca;

// Duotone-DarkPool Comment
.hljs-comment {
  color: $base04;
}

// Duotone-DarkPool Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Duotone-DarkPool Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Duotone-DarkPool Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0a;
}

// Duotone-DarkPool Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0b;
}

// Duotone-DarkPool Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0c;
}

// Duotone-DarkPool Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0d;
}

// Duotone-DarkPool Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base00;
  color: $base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
