/*

Name:       Base16 3024 Dark
Author:     Jan T. Sott (http://github.com/idleberg)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

 */ 

code[class*="language-"],
pre[class*="language-"] {
  color: #f7f7f7;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  word-spacing: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; 
  white-space: pre; 
  white-space: pre-wrap; 
  word-break: break-all;
  word-wrap: break-word; 
  background: #090300; 
  color: #a5a2a2;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;	
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #4a4543;
}

.token.punctuation {
  color: #a5a2a2;
}

.namespace {
  opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #e8bbd0;
} 
.token.property { 
  color: #fded02;
}
.token.tag { 
  color: #01a0e4;
} 
.token.string {
  color: #b5e4f4;
} 
.token.selector { 
  color: #a16a94;
}
.token.attr-name { 
  color: #e8bbd0;
} 
.token.entity,
.token.url, 
.language-css .token.string,
.style .token.string {
  color: #b5e4f4;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #01a252;
} 

.token.statement,
.token.regex, 
.token.atrule { 
  color: #b5e4f4;
}

.token.placeholder,
.token.variable {
  color: #01a0e4;
} 

.token.important {
  color: #db2d20;
  font-weight: bold;
} 

.token.entity {
  cursor: help;
} 

pre > code.highlight {
  outline: .4em solid red;
  outline-offset: .4em;
} 

