/*

Name: Base16 Duotone-DarkPark
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #242927;
$base01: #343c3a;
$base02: #52605d;
$base03: #687d78;
$base04: #4f645f;
$base05: #62847b;
$base06: #4dffd2;
$base07: #ebfffa;
$base08: #008060;
$base09: #0fa0bd;
$base0a: #0dccf2;
$base0b: #5796a2;
$base0c: #66e6ff;
$base0d: #38dafa;
$base0e: #3a8874;
$base0f: #18866b;
