/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1d233f;
$base01: #283157;
$base02: #3e4b84;
$base03: #5262ad;
$base04: #6473b4;
$base05: #7189f4;
$base06: #a5b5fe;
$base07: #e1e6ff;
$base08: #3c59dd;
$base09: #db7070;
$base0a: #e58585;
$base0b: #bf8888;
$base0c: #f5bcbc;
$base0d: #eea0a0;
$base0e: #5e79ed;
$base0f: #4d69e6;
