/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #202746;
$base01: #283157;
$base02: #3e4b84;
$base03: #5262ad;
$base04: #6473b4;
$base05: #707fc2;
$base06: #a5b5fe;
$base07: #e1e6ff;
$base08: #344bb2;
$base09: #db7070;
$base0a: #ea8080;
$base0b: #bf8888;
$base0c: #ffb3b3;
$base0d: #f69898;
$base0e: #596cc0;
$base0f: #4057bf;
