/*

Name: Base16 Duotone-DarkMeadow
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #212627;
$base01: #2a3637;
$base02: #486465;
$base03: #5c8384;
$base04: #466667;
$base05: #5a8587;
$base06: #83f3f6;
$base07: #e0feff;
$base08: #008f94;
$base09: #60ac39;
$base0a: #74d544;
$base0b: #85987c;
$base0c: #acf986;
$base0d: #8fea62;
$base0e: #358f92;
$base0f: #179397;
