/*

Name: Base16 Duotone-DarkLake
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #182234;
$base01: #222d44;
$base02: #3a4b6e;
$base03: #46587c;
$base04: #526589;
$base05: #4e72bc;
$base06: #a5c2fe;
$base07: #e1ebff;
$base08: #295cc2;
$base09: #f075b5;
$base0a: #f584bf;
$base0b: #ba97a9;
$base0c: #ffa3d3;
$base0d: #f994c9;
$base0e: #406abf;
$base0f: #3264c8;
