/*

Name: Base16 Duotone-Dark
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #2a2734;
$base01: #363442;
$base02: #545167;
$base03: #6c6783;
$base04: #7e75a9;
$base05: #9b87fd;
$base06: #c4b8fe;
$base07: #eeebff;
$base08: #6a51e6;
$base09: #e09142;
$base0a: #ffa852;
$base0b: #7c756e;
$base0c: #ffcc99;
$base0d: #ffba76;
$base0e: #8b76f4;
$base0f: #7a63ee;
