/*

Name: Base16 Duotone-DarkMeadow
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1c2626;
$base01: #273434;
$base02: #495e5f;
$base03: #556c6d;
$base04: #62797a;
$base05: #528c8e;
$base06: #83f3f6;
$base07: #e0feff;
$base08: #207174;
$base09: #5cb82e;
$base0a: #71dd3c;
$base0b: #85987c;
$base0c: #acf986;
$base0d: #8eed5e;
$base0e: #3f8688;
$base0f: #2e7d7f;
