/* Duotone-DarkPool Light by adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/) */

/* plain text */
.pln {
  color: #21212c;
}

@media screen {
  /* string content */
  .str {
    color: #b28c70;
  }

  /* a keyword */
  .kwd {
    color: #9994d6;
  }

  /* a comment */
  .com {
    color: #7975a3;
  }

  /* a type name */
  .typ {
    color: #64d8cf;
  }

  /* a literal value */
  .lit {
    color: #47c2b8;
  }

  /* punctuation */
  .pun {
    color: #21212c;
  }

  /* lisp open bracket */
  .opn {
    color: #21212c;
  }

  /* lisp close bracket */
  .clo {
    color: #21212c;
  }

  /* a markup tag name */
  .tag {
    color: #6e65d2;
  }

  /* a markup attribute name */
  .atn {
    color: #47c2b8;
  }

  /* a markup attribute value */
  .atv {
    color: #89e6de;
  }

  /* a declaration */
  .dec {
    color: #47c2b8;
  }

  /* a variable name */
  .var {
    color: #6e65d2;
  }

  /* a function name */
  .fun {
    color: #64d8cf;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #f5f0fe;
  color: #9f99e6;
  font-family: Consolas, Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #c6c2fa;
  padding: 10px;
  border-radius: 3px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
