/* Base16 Duotone-DarkPool Light - Theme */
/* by adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Duotone-DarkPool Comment */
.hljs-comment {
  color: #686175;
}

/* Duotone-DarkPool Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #7f5bc8;
}

/* Duotone-DarkPool Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #b46e3c;
}

/* Duotone-DarkPool Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #c87941;
}

/* Duotone-DarkPool Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b28c70;
}

/* Duotone-DarkPool Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #dd945f;
}

/* Duotone-DarkPool Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #d38650;
}

/* Duotone-DarkPool Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #a089cd;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #1e1d20;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #7f5bc8;
}
.diff .hljs-addition {
  background-color: #b28c70;
}
.diff .hljs-change {
  color: #d38650;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f5f0fe;
  color: #4f4b58;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
