/* Base16 Duotone-DarkPool Dark - Theme */
/* by adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Duotone-DarkPool Comment */
.hljs-comment {
  color: #6c78ac;
}

/* Duotone-DarkPool Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #3456ef;
}

/* Duotone-DarkPool Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #2fd3f4;
}

/* Duotone-DarkPool Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #4cd5f0;
}

/* Duotone-DarkPool Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #70a7b2;
}

/* Duotone-DarkPool Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #8aebff;
}

/* Duotone-DarkPool Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #5be0fb;
}

/* Duotone-DarkPool Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #5f7bf7;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #202746;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #3456ef;
}
.diff .hljs-addition {
  background-color: #70a7b2;
}
.diff .hljs-change {
  color: #5be0fb;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #202746;
  color: #7990f6;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
