/* Base16 Duotone-DarkSpace Dark - Theme */
/* by adapted from: Simurai (https://github.com/simurai/duotone-dark-space-syntax/) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Duotone-DarkSpace Comment */
.hljs-comment {
  color: #9d9dc8;
}

/* Duotone-DarkSpace Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #6c6ccb;
}

/* Duotone-DarkSpace Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #dd672c;
}

/* Duotone-DarkSpace Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #e67841;
}

/* Duotone-DarkSpace Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #94796b;
}

/* Duotone-DarkSpace Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #f49666;
}

/* Duotone-DarkSpace Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #ee8753;
}

/* Duotone-DarkSpace Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #9999d1;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #24242e;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #6c6ccb;
}
.diff .hljs-addition {
  background-color: #94796b;
}
.diff .hljs-change {
  color: #ee8753;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #24242e;
  color: #8888fb;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
