/* Base16 Duotone-DarkMeadow Dark - Theme */
/* by adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Duotone-DarkMeadow Comment */
.hljs-comment {
  color: #62797a;
}

/* Duotone-DarkMeadow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #207174;
}

/* Duotone-DarkMeadow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #5cb82e;
}

/* Duotone-DarkMeadow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #71dd3c;
}

/* Duotone-DarkMeadow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #85987c;
}

/* Duotone-DarkMeadow Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #acf986;
}

/* Duotone-DarkMeadow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #8eed5e;
}

/* Duotone-DarkMeadow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #3f8688;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #1c2626;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #207174;
}
.diff .hljs-addition {
  background-color: #85987c;
}
.diff .hljs-change {
  color: #8eed5e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1c2626;
  color: #528c8e;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
