// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #585260;
@syntax-cursor-color: #585260;
@syntax-selection-color: #e2dfe7;
@syntax-background-color: #efecf4;

// Guide colors
@syntax-wrap-guide-color: #e2dfe7;
@syntax-indent-guide-color: #e2dfe7;
@syntax-invisible-character-color: #e2dfe7;

// For find and replace markers
@syntax-result-marker-color: #e2dfe7;
@syntax-result-marker-color-selected: #585260;

// Gutter colors
@syntax-gutter-text-color: #585260;
@syntax-gutter-text-color-selected: #585260;
@syntax-gutter-background-color: #efecf4;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #576ddb;
@syntax-color-added: #2a9292;
@syntax-color-modified: #a06e3b;
@syntax-color-removed: #be4678;