// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #9d9b7b;
@syntax-cursor-color: #9d9b7b;
@syntax-selection-color: #666447;
@syntax-background-color: #282615;

// Guide colors
@syntax-wrap-guide-color: #747253;
@syntax-indent-guide-color: #747253;
@syntax-invisible-character-color: #747253;

// For find and replace markers
@syntax-result-marker-color: #747253;
@syntax-result-marker-color-selected: #9d9b7b;

// Gutter colors
@syntax-gutter-text-color: #9d9b7b;
@syntax-gutter-text-color-selected: #9d9b7b;
@syntax-gutter-background-color: #282615;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #36a166;
@syntax-color-added: #7d9726;
@syntax-color-modified: #a5980d;
@syntax-color-removed: #ba6236;