// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #624e7e;
@syntax-cursor-color: #624e7e;
@syntax-selection-color: #e4dfec;
@syntax-background-color: #f4f0fa;

// Guide colors
@syntax-wrap-guide-color: #e4dfec;
@syntax-indent-guide-color: #e4dfec;
@syntax-invisible-character-color: #e4dfec;

// For find and replace markers
@syntax-result-marker-color: #e4dfec;
@syntax-result-marker-color-selected: #624e7e;

// Gutter colors
@syntax-gutter-text-color: #624e7e;
@syntax-gutter-text-color-selected: #624e7e;
@syntax-gutter-background-color: #f4f0fa;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #6577d2;
@syntax-color-added: #74875a;
@syntax-color-modified: #a08f3b;
@syntax-color-removed: #cf598a;