// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #5f5e4e;
@syntax-cursor-color: #5f5e4e;
@syntax-selection-color: #e7e6df;
@syntax-background-color: #f4f3ec;

// Guide colors
@syntax-wrap-guide-color: #e7e6df;
@syntax-indent-guide-color: #e7e6df;
@syntax-invisible-character-color: #e7e6df;

// For find and replace markers
@syntax-result-marker-color: #e7e6df;
@syntax-result-marker-color-selected: #5f5e4e;

// Gutter colors
@syntax-gutter-text-color: #5f5e4e;
@syntax-gutter-text-color-selected: #5f5e4e;
@syntax-gutter-background-color: #f4f3ec;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #36a166;
@syntax-color-added: #7d9726;
@syntax-color-modified: #a5980d;
@syntax-color-removed: #ba6236;