// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #a8a19f;
@syntax-cursor-color: #a8a19f;
@syntax-selection-color: #68615e;
@syntax-background-color: #1b1918;

// Guide colors
@syntax-wrap-guide-color: #766e6b;
@syntax-indent-guide-color: #766e6b;
@syntax-invisible-character-color: #766e6b;

// For find and replace markers
@syntax-result-marker-color: #766e6b;
@syntax-result-marker-color-selected: #a8a19f;

// Gutter colors
@syntax-gutter-text-color: #a8a19f;
@syntax-gutter-text-color-selected: #a8a19f;
@syntax-gutter-background-color: #1b1918;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #407ee7;
@syntax-color-added: #7b9726;
@syntax-color-modified: #c38418;
@syntax-color-removed: #f22c40;