// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #6e6b5e;
@syntax-cursor-color: #6e6b5e;
@syntax-selection-color: #e8e4cf;
@syntax-background-color: #fefbec;

// Guide colors
@syntax-wrap-guide-color: #e8e4cf;
@syntax-indent-guide-color: #e8e4cf;
@syntax-invisible-character-color: #e8e4cf;

// For find and replace markers
@syntax-result-marker-color: #e8e4cf;
@syntax-result-marker-color-selected: #6e6b5e;

// Gutter colors
@syntax-gutter-text-color: #6e6b5e;
@syntax-gutter-text-color-selected: #6e6b5e;
@syntax-gutter-background-color: #fefbec;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #6684e1;
@syntax-color-added: #60ac39;
@syntax-color-modified: #ae9513;
@syntax-color-removed: #d73737;