/*

    Name:       Base16 Duotone-Dark Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

    Prettify template by Jan T. Sott (https://github.com/idleberg/)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #2a2734;
@base01: #423f50;
@base02: #5f5b71;
@base03: #77738c;
@base04: #8982b0;
@base05: #a391fd;
@base06: #c4b8fe;
@base07: #eeebff;
@base08: #705ec9;
@base09: #c07830;
@base0a: #d48535;
@base0b: #968f88;
@base0c: #e8a35e;
@base0d: #de9145;
@base0e: #988dce;
@base0f: #8476cb;

// plain text
.pln {
  color: @base00;
}

@media screen {
  // string content
  .str {
    color: @base0b;
  }

  // a keyword
  .kwd {
    color: @base0e;
  }

  // a comment
  .com {
    color: @base04;
  }

  // a type name
  .typ {
    color: @base0d;
  }

  // a literal value
  .lit {
    color: @base09;
  }

  // punctuation
  .pun {
    color: @base00;
  }

  // lisp open bracket
  .opn {
    color: @base00;
  }

  // lisp close bracket
  .clo {
    color: @base00;
  }

  // a markup tag name
  .tag {
    color: @base08;
  }

  // a markup attribute name
  .atn {
    color: @base09;
  }

  // a markup attribute value
  .atv {
    color: @base0c;
  }

  // a declaration
  .dec {
    color: @base09;
  }

  // a variable name
  .var {
    color: @base08;
  }

  // a function name
  .fun {
    color: @base0d;
  }
}
// Use higher contrast and text-weight for printable form.
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
// Style
pre.prettyprint {
  background: @base07;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid @base00;
  padding: 10px;
}

// Specify class=linenums on a pre to get line numbering
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

// IE indents via margin-left
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
}

// Alternate shading for lines
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}
