/*

    Name:       Base16 Atelier Sulphurpool Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #f5f7ff;}
a {color: #3d8fd1;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #293256;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #6679cc;}
div.output_prompt {color: #9c637a;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #979db4;
}
div.output_area pre {font-weight: normal; color: #5e6687;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #6b7394 solid;
  color: #6b7394;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #5e6687;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #9c637a;}
div.text_cell_render, div.output_html {color: #5e6687;}

span.ansiblack {color: #293256;}
span.ansiblue {color: #22a2c9;}
span.ansigray {color: #898ea4;}
span.ansigreen {color: #ac9739;}
span.ansipurple {color: #6679cc;}
span.ansired {color: #c94922;}
span.ansiyellow {color: #c08b30;}

div.output_stderr {background-color: #c94922;}
div.output_stderr pre {color: #dfe2f1;}

.cm-s-ipython.CodeMirror {background: #f5f7ff; color: #293256;}
.cm-s-ipython div.CodeMirror-selected {background: #dfe2f1 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f5f7ff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #898ea4;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #6b7394 !important;}

.cm-s-ipython span.cm-comment {color: #9c637a;}
.cm-s-ipython span.cm-atom {color: #6679cc;}
.cm-s-ipython span.cm-number {color: #6679cc;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #ac9739;}
.cm-s-ipython span.cm-keyword {color: #c94922;}
.cm-s-ipython span.cm-string {color: #c08b30;}
.cm-s-ipython span.cm-operator {color: #9c637a;}
.cm-s-ipython span.cm-builtin {color: #6679cc;}

.cm-s-ipython span.cm-variable {color: #ac9739;}
.cm-s-ipython span.cm-variable-2 {color: #3d8fd1;}
.cm-s-ipython span.cm-def {color: #c76b29;}
.cm-s-ipython span.cm-error {background: #c94922; color: #6b7394;}
.cm-s-ipython span.cm-bracket {color: #5e6687;}
.cm-s-ipython span.cm-tag {color: #c94922;}
.cm-s-ipython span.cm-link {color: #6679cc;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #293256 !important;}
