/*

    Name:       Base16 Duotone-DarkPool Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #202746;
$base01 = #2d3453;
$base02 = #434b70;
$base03 = #5a638c;
$base04 = #6c78ac;
$base05 = #91a4f7;
$base06 = #bec9fe;
$base07 = #ebeeff;
$base08 = #637ef2;
$base09 = #2fd3f4;
$base0a = #4cd5f0;
$base0b = #70a7b2;
$base0c = #8aebff;
$base0d = #5be0fb;
$base0e = #90a3f9;
$base0f = #7b91f4;

// Duotone-DarkPool Comment
.hljs-comment {
  color: $base03;
}

// Duotone-DarkPool Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Duotone-DarkPool Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Duotone-DarkPool Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0A;
}

// Duotone-DarkPool Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0B;
}

// Duotone-DarkPool Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0C;
}

// Duotone-DarkPool Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0D;
}

// Duotone-DarkPool Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0E;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base07;
  color: $base02;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
