/*

    Name:       Base16 Duotone-Light Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-light-syntax/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #2d2006;
$base01 = #f0ebe0;
$base02 = #e5ddcc;
$base03 = #dbcfb8;
$base04 = #d1c2a3;
$base05 = #b29762;
$base06 = #b6ad9a;
$base07 = #faf8f5;
$base08 = #896724;
$base09 = #063289;
$base0a = #0e4ecd;
$base0b = #2d3443;
$base0c = #728fcb;
$base0d = #1657da;
$base0e = #ae8c47;
$base0f = #997733;

// Duotone-Light Comment
.hljs-comment {
  color: $base04;
}

// Duotone-Light Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Duotone-Light Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Duotone-Light Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0a;
}

// Duotone-Light Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0b;
}

// Duotone-Light Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0c;
}

// Duotone-Light Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0d;
}

// Duotone-Light Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base00;
  color: $base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
