/*

    Name:       Base16 Duotone-DarkForest Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-forest-syntax/)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #f0fff0;}
a {color: #bed161;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #3f4a3f;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #77c577;}
div.output_prompt {color: #65bd65;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #78dd78;
}
div.output_area pre {font-weight: normal; color: #556855;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #698669 solid;
  color: #698669;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #556855;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #65bd65;}
div.text_cell_render, div.output_html {color: #556855;}

span.ansiblack {color: #3f4a3f;}
span.ansiblue {color: #cce06c;}
span.ansigray {color: #80a380;}
span.ansigreen {color: #919966;}
span.ansipurple {color: #77c577;}
span.ansired {color: #54b654;}
span.ansiyellow {color: #afc059;}

div.output_stderr {background-color: #54b654;}
div.output_stderr pre {color: #8bfe8b;}

.cm-s-ipython.CodeMirror {background: #f0fff0; color: #3f4a3f;}
.cm-s-ipython div.CodeMirror-selected {background: #8bfe8b !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f0fff0; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #80a380;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #698669 !important;}

.cm-s-ipython span.cm-comment {color: #65bd65;}
.cm-s-ipython span.cm-atom {color: #77c577;}
.cm-s-ipython span.cm-number {color: #77c577;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #919966;}
.cm-s-ipython span.cm-keyword {color: #54b654;}
.cm-s-ipython span.cm-string {color: #afc059;}
.cm-s-ipython span.cm-operator {color: #65bd65;}
.cm-s-ipython span.cm-builtin {color: #77c577;}

.cm-s-ipython span.cm-variable {color: #919966;}
.cm-s-ipython span.cm-variable-2 {color: #bed161;}
.cm-s-ipython span.cm-def {color: #a1b34d;}
.cm-s-ipython span.cm-error {background: #54b654; color: #698669;}
.cm-s-ipython span.cm-bracket {color: #556855;}
.cm-s-ipython span.cm-tag {color: #54b654;}
.cm-s-ipython span.cm-link {color: #77c577;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #3f4a3f !important;}
