/*

    Name:       Base16 Duotone-DarkPool Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #f5f0fe;}
a {color: #d38650;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #37343c;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #a089cd;}
div.output_prompt {color: #9072ca;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #a57ef1;
}
div.output_area pre {font-weight: normal; color: #4f4b58;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #686175 solid;
  color: #686175;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #4f4b58;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #9072ca;}
div.text_cell_render, div.output_html {color: #4f4b58;}

span.ansiblack {color: #37343c;}
span.ansiblue {color: #dd945f;}
span.ansigray {color: #807792;}
span.ansigreen {color: #b28c70;}
span.ansipurple {color: #a089cd;}
span.ansired {color: #7f5bc8;}
span.ansiyellow {color: #c87941;}

div.output_stderr {background-color: #7f5bc8;}
div.output_stderr pre {color: #d4c2fa;}

.cm-s-ipython.CodeMirror {background: #f5f0fe; color: #37343c;}
.cm-s-ipython div.CodeMirror-selected {background: #d4c2fa !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f5f0fe; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #807792;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #686175 !important;}

.cm-s-ipython span.cm-comment {color: #9072ca;}
.cm-s-ipython span.cm-atom {color: #a089cd;}
.cm-s-ipython span.cm-number {color: #a089cd;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #b28c70;}
.cm-s-ipython span.cm-keyword {color: #7f5bc8;}
.cm-s-ipython span.cm-string {color: #c87941;}
.cm-s-ipython span.cm-operator {color: #9072ca;}
.cm-s-ipython span.cm-builtin {color: #a089cd;}

.cm-s-ipython span.cm-variable {color: #b28c70;}
.cm-s-ipython span.cm-variable-2 {color: #d38650;}
.cm-s-ipython span.cm-def {color: #b46e3c;}
.cm-s-ipython span.cm-error {background: #7f5bc8; color: #686175;}
.cm-s-ipython span.cm-bracket {color: #4f4b58;}
.cm-s-ipython span.cm-tag {color: #7f5bc8;}
.cm-s-ipython span.cm-link {color: #a089cd;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #37343c !important;}
