/*

    Name:       Base16 Duotone-DarkSea Light
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-sea-syntax/)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #ebf4ff;}
a {color: #54d4a9;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #303f4f;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #85beff;}
div.output_prompt {color: #6bb0ff;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #91c1f8;
}
div.output_area pre {font-weight: normal; color: #556e8b;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #6e88a6 solid;
  color: #6e88a6;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #556e8b;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #6bb0ff;}
div.text_cell_render, div.output_html {color: #556e8b;}

span.ansiblack {color: #303f4f;}
span.ansiblue {color: #68d9b4;}
span.ansigray {color: #75a0d1;}
span.ansigreen {color: #708f85;}
span.ansipurple {color: #85beff;}
span.ansired {color: #52a3ff;}
span.ansiyellow {color: #3bce9d;}

div.output_stderr {background-color: #52a3ff;}
div.output_stderr pre {color: #b8d9fe;}

.cm-s-ipython.CodeMirror {background: #ebf4ff; color: #303f4f;}
.cm-s-ipython div.CodeMirror-selected {background: #b8d9fe !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ebf4ff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #75a0d1;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #6e88a6 !important;}

.cm-s-ipython span.cm-comment {color: #6bb0ff;}
.cm-s-ipython span.cm-atom {color: #85beff;}
.cm-s-ipython span.cm-number {color: #85beff;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #708f85;}
.cm-s-ipython span.cm-keyword {color: #52a3ff;}
.cm-s-ipython span.cm-string {color: #3bce9d;}
.cm-s-ipython span.cm-operator {color: #6bb0ff;}
.cm-s-ipython span.cm-builtin {color: #85beff;}

.cm-s-ipython span.cm-variable {color: #708f85;}
.cm-s-ipython span.cm-variable-2 {color: #54d4a9;}
.cm-s-ipython span.cm-def {color: #30c090;}
.cm-s-ipython span.cm-error {background: #52a3ff; color: #6e88a6;}
.cm-s-ipython span.cm-bracket {color: #556e8b;}
.cm-s-ipython span.cm-tag {color: #52a3ff;}
.cm-s-ipython span.cm-link {color: #85beff;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #303f4f !important;}
