/*

    Name:       Base16 Duotone Dark
    Author:     adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #2a2734;}
a {color: #d49454;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #c4b8fe;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #877bc6;}
div.output_prompt {color: #988dce;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #5c5874;
}
div.output_area pre {font-weight: normal; color: #a391fd;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #a391fd solid;
  color: #a391fd;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #a391fd;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #988dce;}
div.text_cell_render, div.output_html {color: #a391fd;}

span.ansiblack {color: #413d51;}
span.ansiblue {color: #daa36c;}
span.ansigray {color: #857ab8;}
span.ansigreen {color: #7c756e;}
span.ansipurple {color: #988dce;}
span.ansired {color: #7769bf;}
span.ansiyellow {color: #ce853b;}

div.output_stderr {background-color: #7769bf;}
div.output_stderr pre {color: #c4b8fe;}

.cm-s-ipython.CodeMirror {background: #2a2734; color: #c4b8fe;}
.cm-s-ipython div.CodeMirror-selected {background: #413d51 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #2a2734; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #746e91;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #857ab8 !important;}

.cm-s-ipython span.cm-comment {color: #877bc6;}
.cm-s-ipython span.cm-atom {color: #988dce;}
.cm-s-ipython span.cm-number {color: #988dce;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #7c756e;}
.cm-s-ipython span.cm-keyword {color: #7769bf;}
.cm-s-ipython span.cm-string {color: #ce853b;}
.cm-s-ipython span.cm-operator {color: #877bc6;}
.cm-s-ipython span.cm-builtin {color: #988dce;}

.cm-s-ipython span.cm-variable {color: #7c756e;}
.cm-s-ipython span.cm-variable-2 {color: #d49454;}
.cm-s-ipython span.cm-def {color: #c07830;}
.cm-s-ipython span.cm-error {background: #7769bf; color: #857ab8;}
.cm-s-ipython span.cm-bracket {color: #a391fd;}
.cm-s-ipython span.cm-tag {color: #7769bf;}
.cm-s-ipython span.cm-link {color: #988dce;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #c4b8fe !important;}
