// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #979db4;
@syntax-cursor-color: #979db4;
@syntax-selection-color: #5e6687;
@syntax-background-color: #202746;

// Guide colors
@syntax-wrap-guide-color: #6b7394;
@syntax-indent-guide-color: #6b7394;
@syntax-invisible-character-color: #6b7394;

// For find and replace markers
@syntax-result-marker-color: #6b7394;
@syntax-result-marker-color-selected: #979db4;

// Gutter colors
@syntax-gutter-text-color: #979db4;
@syntax-gutter-text-color-selected: #979db4;
@syntax-gutter-background-color: #202746;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #3d8fd1;
@syntax-color-added: #ac9739;
@syntax-color-modified: #c08b30;
@syntax-color-removed: #c94922;