// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #7ea2b4;
@syntax-cursor-color: #7ea2b4;
@syntax-selection-color: #516d7b;
@syntax-background-color: #161b1d;

// Guide colors
@syntax-wrap-guide-color: #5a7b8c;
@syntax-indent-guide-color: #5a7b8c;
@syntax-invisible-character-color: #5a7b8c;

// For find and replace markers
@syntax-result-marker-color: #5a7b8c;
@syntax-result-marker-color-selected: #7ea2b4;

// Gutter colors
@syntax-gutter-text-color: #7ea2b4;
@syntax-gutter-text-color-selected: #7ea2b4;
@syntax-gutter-background-color: #161b1d;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #257fad;
@syntax-color-added: #568c3b;
@syntax-color-modified: #8a8a0f;
@syntax-color-removed: #d22d72;