// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #8a8585;
@syntax-cursor-color: #8a8585;
@syntax-selection-color: #585050;
@syntax-background-color: #1b1818;

// Guide colors
@syntax-wrap-guide-color: #655d5d;
@syntax-indent-guide-color: #655d5d;
@syntax-invisible-character-color: #655d5d;

// For find and replace markers
@syntax-result-marker-color: #655d5d;
@syntax-result-marker-color-selected: #8a8585;

// Gutter colors
@syntax-gutter-text-color: #8a8585;
@syntax-gutter-text-color-selected: #8a8585;
@syntax-gutter-background-color: #1b1818;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #7272ca;
@syntax-color-added: #4b8b8b;
@syntax-color-modified: #a06e3b;
@syntax-color-removed: #ca4949;