// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #87928a;
@syntax-cursor-color: #87928a;
@syntax-selection-color: #526057;
@syntax-background-color: #171c19;

// Guide colors
@syntax-wrap-guide-color: #5f6d64;
@syntax-indent-guide-color: #5f6d64;
@syntax-invisible-character-color: #5f6d64;

// For find and replace markers
@syntax-result-marker-color: #5f6d64;
@syntax-result-marker-color-selected: #87928a;

// Gutter colors
@syntax-gutter-text-color: #87928a;
@syntax-gutter-text-color-selected: #87928a;
@syntax-gutter-background-color: #171c19;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #478c90;
@syntax-color-added: #489963;
@syntax-color-modified: #a07e3b;
@syntax-color-removed: #b16139;