// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #516d7b;
@syntax-cursor-color: #516d7b;
@syntax-selection-color: #c1e4f6;
@syntax-background-color: #ebf8ff;

// Guide colors
@syntax-wrap-guide-color: #c1e4f6;
@syntax-indent-guide-color: #c1e4f6;
@syntax-invisible-character-color: #c1e4f6;

// For find and replace markers
@syntax-result-marker-color: #c1e4f6;
@syntax-result-marker-color-selected: #516d7b;

// Gutter colors
@syntax-gutter-text-color: #516d7b;
@syntax-gutter-text-color-selected: #516d7b;
@syntax-gutter-background-color: #ebf8ff;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #257fad;
@syntax-color-added: #568c3b;
@syntax-color-modified: #8a8a0f;
@syntax-color-removed: #d22d72;