/*

Name: Base16 Duotone-DarkPool
Author: adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1e2138;
$base01: #292c47;
$base02: #44486f;
$base03: #51557b;
$base04: #5e6287;
$base05: #6771c5;
$base06: #a5adfe;
$base07: #e1e4ff;
$base08: #2d3dd2;
$base09: #ed5e87;
$base0a: #f4769a;
$base0b: #ad8590;
$base0c: #ffa8c1;
$base0d: #f990ad;
$base0e: #5762c7;
$base0f: #3f4ecf;
